@import "../../../libs/modularized-normalize-scss/normalize";
@import "../common/nav-bar";
@import "../common/section-bar";
@import "../common/content";
@import "../common/footer";
@import "../util";
@import "../font";

.main {
  font-family: Lato;
}

.div-input {
  padding-bottom: 1em;
}

.input {
  width: 31em;
  padding: 5px;
  border: 1px solid #ddd;
  @include linear-gradient(center top, #FFFFFF, #EEEEEE 1px, #FFFFFF 20px);
  @include border-top-radius(3px);
  @include border-bottom-radius(3px);
  @include border-left-radius(3px);
  @include border-right-radius(3px);
  box-shadow: 0 0 2px #ddd;
}

.input:hover {
  border:1px solid #cccccc;
}

.input:focus {
  box-shadow: 0 0 2px #fffe00;
}

textarea {
  height: 5em;
}