@import "../../../libs/bourbon/app/assets/stylesheets/bourbon";
@import "../../../libs/neat/app/assets/stylesheets/neat";
@import "../common/media-settings";

$text-shadow: rgba(0, 0, 0, 0.7);
$text-color: #fff;

body {
  background: url("../../../images/pay-return.jpg") no-repeat center center fixed;
  background-size: cover;
}

.main {
  @include media($tablet) {
    padding-top: 2em;
  }
  @include media($mobile) {
    padding-top: 1em;
  }
  padding: 3em 0;
  width: 90%;
  margin: auto;
  color: $text-color;
  text-shadow: 0px 1px 1px $text-shadow;
  text-align: center;
  font-size: 1em;
  .successful-message {
    font-family: Edo;
    margin-bottom: 2em;
    @include media($mobile) {
      margin-bottom: 1em;
    }
    .congratulations {
      font-size: 10.0em;
      line-height: 1em;
      @include media($tablet) {
        font-size: 6.7em;
      }
      @include media($mobile) {
        font-size: 4.0em;
      }
    }
    .purchase {
      font-size: 6.3em;
      line-height: 1em;
      @include media($tablet) {
        font-size: 4.2em;
      }
      @include media($mobile) {
        font-size: 2.5em;
      }
    }
  }
  .enjoy-experience {
    font-weight: 400;
    margin-bottom: 2em;
    @include media($mobile) {
      font-weight: 300;
      margin-bottom: 1em;
    }
  }
  .like {
    font-weight: 600;
    margin-bottom: 2em;
    @include media($mobile) {
      font-weight: 400;
      margin-bottom: 1em;
    }
  }
  .like-box {
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
  .questions-contact {
    margin-bottom: 2em;
    @include media($mobile) {
      margin-bottom: 1em;
    }
  }
  dl-button .button-container {
    margin: 0 30%;
    @include media($tablet) {
      margin: 0 20%;
    }
    @include media($mobile) {
      margin: 0 5%;
    }
  }
  hr {
    max-width: 54.5em;
    margin: 1em auto;
  }
  a {
    color: $text-color;
    &:hover {
      color: darken($text-color, 5%);
    }
  }
}
