<link rel="import" href="../../libs/polymer/polymer.html"/>
<link rel="import" href="gplus-button.html"/>
<link rel="import" href="facebook-button.html"/>
<polymer-element name="dl-footer" noscript lightdom>
  <template>
    <footer class="footer">

      <!--######################################################################-->

      <div class="message">
        O <b>DropLife</b> acredita que:
        <p>N&atilde;o devemos desperdi&ccedil;ar nossos dias tentando prolong&aacute;-los</p>

        <p>A vida deve ser vivida com coragem e aud&aacute;cia</p>
      </div>

      <div class="social">
        <facebook-button></facebook-button>
        <span class="offset"></span>
        <gplus-button></gplus-button>
      </div>

    </footer>
  </template>
</polymer-element>