<link rel="import" href="../../libs/polymer/polymer.html">
<polymer-element name="dl-nav-bar" attributes="home first second" noscript>
  <template>
    <nav class="nav-bar-header">

      <!--######################################################################-->

      <a href="{{home}}">
        <span class="first">{{first}}</span><span class="second">{{second}}</span>
      </a>

      <!--######################################################################-->

      <button class="menu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!--######################################################################-->

    </nav>
  </template>
</polymer-element>