<polymer-element name="facebook-button" attributes="action colorscheme font href layout showfaces height width">

  <template>
    <iframe src="//www.facebook.com/plugins/like.php?href={{href}}&amp;send=false&amp;layout={{layout}}&amp;show_faces={{showfaces}}&amp;font={{font}}&amp;colorscheme={{colorscheme}}&amp;action={{action}}" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </template>

  <script>
    Polymer('facebook-button', {
      action     : 'like',
      colorscheme: 'light',
      font       : 'arial',
      href       : 'https://www.facebook.com/droplifers',
      layout     : 'button_count',
      showfaces  : 'true'
    });
  </script>

</polymer-element>