@import "../../../libs/bourbon/app/assets/stylesheets/bourbon";
@import "../../../libs/neat/app/assets/stylesheets/neat";
@import "../common/media-settings";

$info-color: #fff;
$info-shadow: rgba(0, 0, 0, 0.5);
$price-color: #f6ff00;

.banner {
  > .products {
    position: fixed;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-top: 4.2em;
    float: left;
    @include media($mobile) {
      position: absolute;
    }
    a {
      display: none;
    }
    > ul {
      margin: 0;
      padding: 0;
      width: 100%;
      > li {
        width: 100%;
        > dl-product-banner {
          width: 100%;
          > img {
            position: absolute;
            width: 100%;
            @include media($desktop) {
              right: -15%;
              width: 130%;
            }
            @include media($tablet) {
              right: -30%;
              width: 160%;
            }
            @include media($mobile) {
              right: -35%;
              width: 170%;
            }
          }
        }
      }
    }
  }
}

.info {
  width: 100%;
  position: relative;
  color: $info-color;
  text-shadow: 2px 2px 0px $info-shadow;
  text-align: center;
  padding-top: 2.4em;
  > .caption {
    font-size: em(23);
    height: 1.1em;
    font-weight: 400;
  }
  > .title {
    font-size: em(120);
    font-family: Edo;
    line-height: em(15);
  }
  @include media($tablet) {
    padding-top: 4.9em;
    > .caption {
      font-size: em(16);
    }
    > .title {
      font-size: em(84);
    }
  }
  @include media($mobile) {
    padding-top: 4.8em;
    > .caption {
      font-size: em(9);
      height: 2.1em;
    }
    > .title {
      font-size: em(48);
    }
  }
}