@import "../../../libs/bourbon/app/assets/stylesheets/bourbon";
@import "../../../libs/neat/app/assets/stylesheets/neat";

$card-color: #15262f;
$margin-left-for-big-devices: 0.8em;

.main {
  @include outer-container;
  margin-top: -15em;
  text-align: center;
  padding: 0 flex-gutter($grid-columns);
}

.card {
  &:hover {
    background-color: lighten($card-color, 5%);
  }
  margin-bottom: 1em;
  font-family: Lato;
  text-align: left;
  background: $card-color;
  z-index: 400;
  position:relative
}

.image {
  @include image-rendering(optimizeSpeed);
  display: block;
  height: 15em;
  border: em(1) solid black;
  border-bottom: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.header {
  display: block;
  height: 5.5em;
  padding: 0.5em;
  font-size: 0.85em;
  border: em(1) solid white;
  color: white;
  > .sub-header {
    font-size: 1.2em;
    color: #72bf66;
  }
}