@import "../../../libs/bourbon/app/assets/stylesheets/bourbon";
@import "../../../libs/neat/app/assets/stylesheets/neat";

$nav-bar-color: #15262f;

.nav-bar-header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  font-family: Lato;
  font-size: em(26);
  font-weight: 300;
  padding: 0.3em 0.5em;
  background-color: $nav-bar-color;
  > a {
    text-decoration: none;
    > .first {
      color: orange;
    }
    > .second {
      color: #fff;
    }
  }
}

.menu {
  margin-top: 0.2em;
  padding: 0em 0.5em;
  border: 0;
  background-color: $nav-bar-color;
  float: right;
  &:hover .icon-bar {
    background-color: #fff;
  }
}

.icon-bar {
  display: block;
  width: 0.9em;
  height: 0.07em;
  border-radius: 0.04em;
  background-color: #495459;
  margin-top: 0.15em;
}

