@import "../../../libs/bourbon/app/assets/stylesheets/bourbon";
@import "../../../libs/neat/app/assets/stylesheets/neat";
@import "media-settings";

$nav-bar-color: #35373f;
$menu-item-color: #acb0c0;

.nav-bar-header {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  padding: 0.4em;
  height: 4.2em;
  background-color: $nav-bar-color;
  > .menu {
    margin: 0 1em;
    font-family: Lato;
    font-size: em(13);
    > a {
      > img {
        margin-top: 0.2em;
      }
    }
    > .itens {
      float: right;
      padding: 1.5em 0.5em 0;
      @include media($mobile) {
        width: 115px;
        padding: 1em 1em 0;
      }
      > a {
        margin-left: 1em;
        color: $menu-item-color;
        &:hover {
          color: lighten($menu-item-color, 10%)
        }
      }
    }
  }
}