@import "../../../libs/bourbon/app/assets/stylesheets/bourbon";
@import "../../../libs/neat/app/assets/stylesheets/neat";

$mobile:      new-breakpoint(min-width 0px, 1);
$tablet:      new-breakpoint(min-width 600px 6);
$desktop:     new-breakpoint(min-width 900px 12);
$big-desktop: new-breakpoint(min-width 1200px 19);