@import "../../../libs/bourbon/app/assets/stylesheets/bourbon";
@import "../../../libs/neat/app/assets/stylesheets/neat";
@import "../common/media-settings";

$message-color: #363636;

.message {
  width: 100%;
  .words {
    color: $message-color;
    text-align: center;
    font-size: em(22);
    font-weight: 300;
    margin: 1.4em;
  }
}
