@import "../../../libs/bourbon/app/assets/stylesheets/bourbon";
@import "../../../libs/neat/app/assets/stylesheets/neat";
@import "../common/media-settings";

$card-color: #fff;
$event-color: #35373f;
$price-color: #ed6627;
$location-color: #636363;

.main {
  @include outer-container;
  @include media($mobile) {
    padding: 0;
    padding-top: 21em;
  }
  z-index: 2;
  position: relative;
  padding: 0 flex-gutter($grid-columns);
  padding-top: 25em;
}

.cards {
  @include row();
}

dl-product-card {
  @include span-columns(4);
  @include media($mobile) {
    @include span-columns(12);
  }
  text-align: center;
  border: 1px solid $card-color;
  background-color: $card-color;
  &:hover {
    border-color: darken($card-color, 3%);
    background-color: darken($card-color, 3%);
    cursor: pointer;
  }
  > .card {
    > img {
      @include image-rendering(optimizeSpeed);
      width: 100%;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.card-event {
  height: 5.5em;
  @include media($tablet) {
    height: 6.7em;
  }
  padding: 0.5em;
  color: $event-color;
  font-weight: 600;
  font-size: em(20);
  > .card-price {
    color: $price-color;
    font-weight: 800;
    font-size: em(22);
  }
  > .card-location {
    color: $location-color;
    font-weight: 400;
    font-size: em(12);
  }
  > div {
    margin: 0.2em;
  }
}