<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DropLife - Vivendo a vida ao máximo</title>

    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/about.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/dl-footer.html">
</head>

<body>

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--##########################-->

<dl-section-bar name="SOBRE NÓS"
                image="../../images/section_1.jpg">
</dl-section-bar>

<!--##########################-->

<section class="main">
    A vida não passa. Nem voa. Ela se desenrola, preguiçosamente, enquanto dormimos, trabalhamos e compramos. A vida é tudo o que acontece no intervalo de tempo em que tentamos viabilizar as nossas experiências. E se você a SOLTASSE?
    <br><br>
    LIBERTE-SE da inércia. Longe do conforto que a vida cotidiana oferta, acontece o encontro com o INESPERADO. VIAJE além dos destinos que as vitrines oferecem. Use todos os sentidos para CONHECER a realidade. EXPERIMENTE uma nova perspectiva do comum.
    <br><br>
    O Droplife é mais que uma marca. É uma OPORTUNIDADE fora dos guias de viagem. Nosso objetivo vai além das experiências:
    <br>
    Oferecemos aos nossos clientes boas histórias para contar.
    <br><br>
    O Droplife é uma startup com sede em Porto Alegre, Rio Grande do Sul, Brasil.
    <br>
    Sua história começou a partir de um problema comum entre o grupo: encontrar experiências diferentes e surpreendentes para praticar em fins de semana ou férias.
    <br>
    A ideia evoluiu para a construção de uma marca que fosse sinônimo de qualidade e mostrasse a paixão por atividades além da rotina de trabalho. Foram consultados experts em esportes radicais e de aventura, percorridos inúmeros locais de prática destes esportes, praticados muitos deles; tudo isso, para fazer do Droplife uma grande experiência também.
</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

</body>

<!--#######################################################-->

<script type="text/javascript"
        src="../../scripts/javascript/entry-points/about.js">
</script>

<!--#######################################################-->

</html>