<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mega Tirolesa: A maior tirolesa do Rio Grande do Sul.
    Com 1100 metros de comprimento, partindo do topo da Pedra da Cruz, a 140 metros de altura,
    e atingindo até 85 quilômetros por hora.">
    <meta name="keywords" content="a maior tirolesa,a maior tirolesa do rs, tirolesa rs, tirolesa rio grande do sul, tirolesa camaquã, mega tirolesa, tirolesa minas, minas outdoor sports, minas do camaquã">
    <meta name="author" content="Droplife.com.br">
    <meta property="og:image" content="http://www.droplife.com.br/images/logo.png" />

    <title>
        Mega Tirolesa em Caçapava do Sul/RS
    </title>

    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/detail.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script>
        Platform = {flags: {shadow: 'polyfill'}};
    </script>
    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/blueimp-gallery.html">
    <link rel="import" href="../templates/dl-box.html">
    <link rel="import" href="../templates/dl-list.html">
    <link rel="import" href="../templates/dl-comments.html">
    <link rel="import" href="../templates/dl-button-pag-seguro.html">
    <link rel="import" href="../templates/google-maps.html">
    <link rel="import" href="../templates/dl-footer.html">
    <link rel="import" href="../templates/facebook-like-box.html">
    <link rel="import" href="../templates/live-chat.html">
    <link rel="import" href="../templates/crazy-egg.html">
    <link rel="import" href="../templates/google-analytics.html">
    <link rel="import" href="../templates/dl-quality.html">
</head>

<body unresolved>

<!--##############################-->
<google-analytics></google-analytics>
<!--##############################-->

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_3.jpg">
    <h1>MEGA TIROLESA</h1>
</dl-section-bar>

<!--############################################-->

<section class="main">
    <div class="main-block">
        <dl-box>
            <div class="gallery">
                <blueimp-gallery path="../../images/products/galleries/minas-rs-mega-tirolesa"
                                 numberSlides="4"
                                 description="Mega tirolesa">
                </blueimp-gallery>
            </div>

            <div class="info">

                <!--#################################################################################################-->

                <h2>
                    A maior tirolesa do Rio Grande do Sul
                </h2>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <p>
                    Com 1100 metros de comprimento, partindo do topo da Pedra da Cruz, a 140 metros de altura,
                    e atingindo até 85 quilômetros por hora
                </p>

                <!--#################################################################################################-->

                <hr>

                <p>
                    Sábados, domingos e feriados. Das 8:30 às 12:00 e 13:30 às 18:00
                <p>
                <hr>

                <!--#################################################################################################-->

                <div class="location"><i class="fa fa-map-marker"></i> Caçapava do Sul/RS</div>
                <div class="price"></div>
                <dl-button-pag-seguro partner="MINAS"
                                      description="Minas - Mega tirolesa"
                                      amount="65.00">
                </dl-button-pag-seguro>

                <!--#################################################################################################-->

            </div>
        </dl-box>
    </div>

    <div class="container">
        <div class="leftColumn">
            <dl-box name="VISÃO GERAL"
                    iconClass="fa-info-circle">

                <!--#################################################################################################-->

                <p>
                    Esta experiência está na classificação das megas tirolesas, com 1110 metros de comprimento de pura emoção!
                    <br>
                    O trajeto da tirolesa percorre o arroio João Dias, saindo do topo da Pedra da Cruz (a 140m de altura),
                    indo diretamente até as proximidades da barragem, passando por cima de matas, rios e montanhas.
                    <br>
                    Prepare-se, pois sua velocidade pode atingir 85 km/h.
                    <br>
                    Esta experiência acontece no Parque Minas Outdoor Sports, um espaço amplo, com muitas outras atividades.
                    <a href="detail-minas-rs-parque-de-aventuras.html">Confira aqui</a>.
                </p>

                <hr>

                <dl-list iconHeadingClass="fa-suitcase" iconItemClass="fa-angle-right">
                    <heading>O que levar</heading>
                    <item>Roupas leves</item>
                </dl-list>

                <hr>

                <dl-list iconHeadingClass="fa-check" iconItemClass="fa-angle-right">
                    <heading>O que está incluso</heading>
                    <item>Equipamentos de segurança</item>
                    <item>Capacete</item>
                </dl-list>

                <hr>

                <dl-list iconHeadingClass="fa-user" iconItemClass="fa-angle-right">
                    <heading>Parceiro</heading>
                    <item>Minas Outdoor Sports</item>
                </dl-list>

            </dl-box>

            <dl-box name="Termos de uso"
                    iconClass="fa-file-text-o">
                <dl-list iconItemClass="fa-angle-right">
                    <item>O voucher é válido para uma pessoa</item>
                    <item>Esta experiência pode ser aproveitada nos sábados, domingos e feriados. Das 8:30 às 12:00 e 13:30 às 18:00</item>
                    <item>Esta experiência é produzida por Minas Outdoor Sports</item>
                </dl-list>
            </dl-box>


            <dl-box name="LOCALIZAÇÃO"
                    iconClass="fa-map-marker">
                <google-maps latitude="-30.681621"
                             longitude="-53.426514"
                             zoom="13"
                             type="roadmap">
                </google-maps>

                <!--#################################################################################################-->

                Minas Outdoor Sports - Distrito Minas do Camaquã - Caçapava do Sul/RS

                <!--#################################################################################################-->

            </dl-box>
        </div>

        <div class="rightColumn">

            <dl-quality></dl-quality>

                <!--#################################################################################################-->

            </dl-box>

            <dl-box>

                <!--################################-->

                <facebook-like-box></facebook-like-box>

                <!--################################-->

            </dl-box>

            <!--<dl-box name="DEPOIMENTOS"-->
            <!--iconClass="fa fa-comments-o">-->

            <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

            <!--<dl-comments>-->
            <!--<comment>-->

            <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

            <!--Depoimento de alguma pessoa sobre o produto-->

            <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

            <!--</comment>-->
            <!--</dl-comments>-->

            <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

            <!--</dl-box>-->
        </div>
    </div>

</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

<!--##################-->

<live-chat></live-chat>

<!--##################-->

<!--##################-->

<crazy-egg></crazy-egg>

<!--##################-->

</body>

<!--#######################################################-->
<script type="text/javascript"
        src="../../scripts/javascript/entry-points/detail.js">
</script>
<!--#######################################################-->

</html>
