<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pilote um carro de corrida exclusivo do Velopark: o Veloce">
    <meta name="keywords" content="veloce,velopark,corrida de carros,veloce day,veloce experience">
    <meta name="author" content="Droplife.com.br">
    <meta property="og:image" content="http://www.droplife.com.br/images/logo.png" />

    <title>
       Veloce
    </title>

    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/detail.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/blueimp-gallery.html">
    <link rel="import" href="../templates/dl-box.html">
    <link rel="import" href="../templates/dl-options.html">
    <link rel="import" href="../templates/dl-list.html">
    <link rel="import" href="../templates/dl-comments.html">
    <link rel="import" href="../templates/dl-button-pag-seguro.html">
    <link rel="import" href="../templates/google-maps.html">
    <link rel="import" href="../templates/dl-footer.html">
    <link rel="import" href="../templates/facebook-like-box.html">
    <link rel="import" href="../templates/live-chat.html">
    <link rel="import" href="../templates/crazy-egg.html">
    <link rel="import" href="../templates/google-analytics.html">
</head>

<body unresolved>

<!--##############################-->
<google-analytics></google-analytics>
<!--##############################-->

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_3.jpg">
    <h1>VELOCE</h1>
</dl-section-bar>

<!--############################################-->

<section class="main">
    <div class="main-block">
        <dl-box>
            <div class="gallery">
                <blueimp-gallery path="../../images/products/galleries/veloce"
                                 numberSlides="5"
                                 description="veloce"
                 >
                </blueimp-gallery>
            </div>

            <div class="info">

                <!--#################################################################################################-->

                <h2>
                    Chegou a hora de acelerar o Veloce
                </h2>

                <!--#################################################################################################-->

                <hr>

                <p>
                    O projeto inovador que vai te transformar em um piloto de corrida
                </p>

                <!--#################################################################################################-->

                <hr>

                <p>
                    Escolha uma das modalidades e divirta-se nas curvas do Velopark. Dia 15 de março
                </p>

                <hr>

                <!--#################################################################################################-->

                <dl-options>
                    <heading>Selecione uma opção</heading>
                    <option data-value="A30D16367474BC2DD431AFAD540425BE"
                            data-description="Veloce Experience"
                            data-additional-description="R$ 1550,00"/>

                    <option data-value="544594673434278EE4EE8FBCEF79D124"
                            data-description="Veloce Day"
                            data-additional-description="R$ 2400,00"/>

                </dl-options>

                <!--#################################################################################################-->

                <div class="location"><i class="fa fa-map-marker"></i> Nova Santa Rita/RS</div>
                <div class="price"></div>
                <dl-button-pag-seguro></dl-button-pag-seguro>

                <!--#################################################################################################-->

            </div>
        </dl-box>
    </div>

    <div class="container">
        <div class="leftColumn">
            <dl-box name="VISÃO GERAL"
                    iconClass="fa-info-circle">

                <p>
                    O Veloce Experience é um curso. Consiste em um briefing sobre pilotagem e mais vinte voltas no autódromo.
                    <br>
                    O Veloce Day é para aqueles que já possuem habilitação para pilotar um Veloce. São cinquenta voltas na pista durante o dia todo.
                    <br>
                    Leia mais sobre cada um dos produtos abaixo.
                </p>

            </dl-box>


            <dl-box name="VELOCE EXPERIENCE"
                    iconClass="fa-info-circle">

                <p>
                    Este curso habilita você a pilotar o Veloce.
                    <br>
                    Podem participar do projeto Veloce Experience todas as pessoas com CNH de motorista ou pilotos federados com carteira CBA com validade do ano vigente acima de 15 anos, mediante apresentação.
                    <br>
                    Todo o curso acontece em um turno, onde os aprovados pelo instrutor recebem certificado do Veloce Experience.
                    <br>
                    Com o certificado você pode pilotar o carro quando quiser (mediante agendamento prévio) para aprimorar suas habilidades.
                </p>

            </dl-box>


            <dl-box name="VELOCE DAY"
                    iconClass="fa-info-circle">

                <p>
                    Veloce day é a melhor oportunidade para você começar a competir ou voltar a praticar o automobilismo.
                    <br>
                    Essa experiência é um dia inteiro de baterias livres no autódromo, onde muitos pilotos se divertem nas retas e curvas do Velopark.
                </p>

            </dl-box>

            <dl-box name="MAIS SOBRE O VELOCE"
                    iconClass="fa-info-circle">

                <p>
                    O Veloce é um protótipo de corrida que possui um chassi exclusivo, desenvolvido pelo Velopark e fabricado pela Metalmoro.
                    Com 115 CV de potência, o bólido é compacto, rápido e seguro.
                    <br>
                    Este conceito surgiu para dar a oportunidade, aos amantes do automobilismo, de ter o primeiro contato com um carro de corrida de verdade.
                    <br>
                    A experiência única de pilotar este carro exclusivo, ocorre no autódromo internacional do Velopark,
                    um dos mais modernos circuitos do país.
                    <br>
                    Os 2278 metros de pista proporcionam ao público e pilotos, a emoção de dois diferentes cenários do automobilismo mundial: o estilo americano de voltas rápidas e muito velozes e os desafios das pistas europeias.
                    Esta estrutura recebeu todos os principais eventos do automobilismo nacional como stock car, formula truck, endurance, brasileiro de marcas, F3, formula 1.6, formula Jr., entre outros eventos.
                    <br>
                    Neste cenário é realizado o curso do Veloce, onde o aluno se torna piloto e encara emocionantes competições na pistas.
                </p>

            </dl-box>

            <dl-box name="Termos de uso"
                    iconClass="fa-file-text-o">
                <dl-list iconItemClass="fa-angle-right">
                    <item>O voucher é para uma pessoa</item>
                    <item>Este voucher é válido apenas para o evento do dia 15/03/2013</item>
                    <item>Esta experiência é produzida pelo Velopark</item>
                </dl-list>
            </dl-box>

            <dl-box name="LOCALIZAÇÃO"
                    iconClass="fa-map-marker">
                <google-maps latitude="-29.824977"
                             longitude="-51.327064"
                             zoom="15"
                             type="roadmap">
                </google-maps>

                <!--#################################################################################################-->

                BR 386, km 428, nº 10.000, 92480-000 Nova Santa Rita, RS

                <!--#################################################################################################-->

            </dl-box>
        </div>

        <div class="rightColumn">
            <dl-box name="O QUE ESTÁ INCLUSO"
                    iconClass="fa-check-circle">

                <!--#################################################################################################-->

                <dl-list iconItemClass="fa-check">
                    <item>Equipamentos de segurança</item>
                    <item>Capacete</item>
                </dl-list>

                <!--#################################################################################################-->

            </dl-box>

            <dl-box>

                <!--################################-->

                <facebook-like-box></facebook-like-box>

                <!--################################-->

            </dl-box>

            <!--<dl-box name="DEPOIMENTOS"-->
                    <!--iconClass="fa fa-comments-o">-->

                <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

                <!--<dl-comments>-->
                    <!--<comment>-->

                        <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

                        <!--Depoimento de alguma pessoa sobre o produto-->

                        <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

                    <!--</comment>-->
                <!--</dl-comments>-->

                <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

            <!--</dl-box>-->
        </div>
    </div>

</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

<!--##################-->

<live-chat></live-chat>

<!--##################-->

<!--##################-->

<crazy-egg></crazy-egg>

<!--##################-->

</body>

<!--#######################################################-->
<script type="text/javascript"
        src="../../scripts/javascript/entry-points/detail.js">
</script>
<!--#######################################################-->

</html>
