<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Rapel no Parque de Aventuras Gasper em Bento Gonçalves.
    Desça de rapel os 60 metros de altura do Paredão da Eulália, com a vista privilegiada da natureza local.
    De quebra, escale a via ferrata construída na parede rochosa">
    <meta name="keywords" content="rapel, rapel rs, rapel bento gonçalves, parque de aventuras, gasper, rapel gasper, gasper montanhismo">
    <meta name="author" content="Droplife.com.br">
    <meta property="og:image" content="http://www.droplife.com.br/images/products/galleries/gasper-rs-rapel/gasper-rs-rapel-5.jpg" />

    <title>
        Rapel em Bento Gonçalves/RS
    </title>

    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/detail.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script>
        Platform = {flags: {shadow: 'polyfill'}};
    </script>
    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/blueimp-gallery.html">
    <link rel="import" href="../templates/dl-box.html">
    <link rel="import" href="../templates/dl-list.html">
    <link rel="import" href="../templates/dl-comments.html">
    <link rel="import" href="../templates/dl-button-pag-seguro.html">
    <link rel="import" href="../templates/google-maps.html">
    <link rel="import" href="../templates/dl-footer.html">
    <link rel="import" href="../templates/facebook-like-box.html">
    <link rel="import" href="../templates/live-chat.html">
    <link rel="import" href="../templates/crazy-egg.html">
    <link rel="import" href="../templates/google-analytics.html">
    <link rel="import" href="../templates/dl-quality.html">
</head>

<body unresolved>

<!--##############################-->
<google-analytics></google-analytics>
<!--##############################-->

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_3.jpg">
    <h1>RAPEL</h1>
</dl-section-bar>

<!--############################################-->

<section class="main">
    <div class="main-block">
        <dl-box>
            <div class="gallery">
                <blueimp-gallery path="../../images/products/galleries/gasper-rs-rapel"
                                 numberSlides="6"
                                 description="Rapel">
                </blueimp-gallery>
            </div>

            <div class="info">

                <!--#################################################################################################-->

                <h2>
                    Rapel no Parque de Aventuras Gasper
                </h2>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <p>
                    Desça de rapel os 60 metros de altura do Paredão da Eulália, com a vista privilegiada da natureza local.
                    De quebra, escale a via ferrata construída na parede rochosa
                </p>

                <!--#################################################################################################-->

                <hr>

                    Atividades todos os sábados e domingos, das 14h às 18h

                <hr>

                <!--#################################################################################################-->

                <div class="location"><i class="fa fa-map-marker"></i> Bento Gonçalves/RS</div>
                <div class="price"></div>
                <dl-button-pag-seguro partner="GASPER"
                                      description="Gasper - Rapel"
                                      amount="50.00">
                </dl-button-pag-seguro>

                <!--#################################################################################################-->

            </div>
        </dl-box>
    </div>

    <div class="container">
        <div class="leftColumn">
            <dl-box name="VISÃO GERAL"
                    iconClass="fa-info-circle">

                <!--#################################################################################################-->

                <p>
                    Descida de rapel, a partir de uma plataforma posicionada a 135m de altura, junto à parede rochosa da montanha.
                    <br>
                    A atividade consiste em uma descida de 60m até outra plataforma, localizada no meio da parede da montanha, retornando ao ponto inicial através de uma escalada em via ferrata.
                    <br>
                    Via Ferrata: é um itinerário montado na parede rochosa da montanha, com degraus de ferro, cabos e plataformas, proporcionando aos
                    aventureiros uma escalada de nível fácil, com total segurança, desfrutando da bela paisagem local.
                </p>

                <hr>

                <dl-list iconHeadingClass="fa-suitcase" iconItemClass="fa-angle-right">
                    <heading>O que levar</heading>
                    <item>Roupas leves</item>
                    <item>Tênis</item>
                </dl-list>

                <hr>

                <dl-list iconHeadingClass="fa-check" iconItemClass="fa-angle-right">
                    <heading>O que está incluso</heading>
                    <item>Equipamentos de escalada</item>
                    <item>Capacete</item>
                    <item>Auxílio de instrutor experiente</item>
                </dl-list>

                <hr>

                <dl-list iconHeadingClass="fa-user" iconItemClass="fa-angle-right">
                    <heading>Parceiro</heading>
                    <item>Gasper Montanhismo</item>
                </dl-list>

            </dl-box>

            <dl-box name="Termos de uso"
                    iconClass="fa-file-text-o">
                <dl-list iconItemClass="fa-angle-right">
                    <item>O valor de R$ 3,00 para acesso ao Parque de Aventuras é cobrado separadamente no dia da aventura</item>
                    <item>O voucher é válido para uma pessoa</item>
                    <item>A idade mínima para esta experiência é 12 anos</item>
                    <item>Sua experiência poderá ser aproveitada aos sábados e domingos, das 14h às 18h</item>
                    <item>A ocorrência desta experiência está sujeita a condições climáticas</item>
                    <item>Esta experiência é produzida por Gasper Montanhismo</item>
                </dl-list>
            </dl-box>

            <dl-box name="LOCALIZAÇÃO"
                    iconClass="fa-map-marker">
                <google-maps latitude="-29.147843"
                             longitude="-51.582046"
                             zoom="12"
                             type="roadmap">
                </google-maps>

                <!--#################################################################################################-->

                Endereço endereço

                <!--#################################################################################################-->

            </dl-box>
        </div>

        <div class="rightColumn">

            <dl-quality></dl-quality>

                <!--#################################################################################################-->

            </dl-box>

            <dl-box>

                <!--################################-->

                <facebook-like-box></facebook-like-box>

                <!--################################-->

            </dl-box>

            <!--<dl-box name="DEPOIMENTOS"-->
            <!--iconClass="fa fa-comments-o">-->

            <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

            <!--<dl-comments>-->
            <!--<comment>-->

            <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

            <!--Depoimento de alguma pessoa sobre o produto-->

            <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

            <!--</comment>-->
            <!--</dl-comments>-->

            <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

            <!--</dl-box>-->
        </div>
    </div>

</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

<!--##################-->

<live-chat></live-chat>

<!--##################-->

<!--##################-->

<crazy-egg></crazy-egg>

<!--##################-->

</body>

<!--#######################################################-->
<script type="text/javascript"
        src="../../scripts/javascript/entry-points/detail.js">
</script>
<!--#######################################################-->

</html>
