<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Droplife.com.br">
    <meta property="og:image" content="http://www.droplife.com.br/images/logo.png" />

    <title>
        Caça à aurora boreal em Tromsø e Sommarøy na Noruega, com Marco Brotto.
    </title>

    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/detail.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script>
        Platform = {flags: {shadow: 'polyfill'}};
    </script>
    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/blueimp-gallery.html">
    <link rel="import" href="../templates/dl-box.html">
    <link rel="import" href="../templates/dl-list.html">
    <link rel="import" href="../templates/dl-comments.html">
    <link rel="import" href="../templates/dl-button-pag-seguro.html">
    <link rel="import" href="../templates/google-maps.html">
    <link rel="import" href="../templates/dl-footer.html">
    <link rel="import" href="../templates/facebook-like-box.html">
    <link rel="import" href="../templates/live-chat.html">
    <link rel="import" href="../templates/crazy-egg.html">
    <link rel="import" href="../templates/google-analytics.html">
    <link rel="import" href="../templates/dl-quality.html">
</head>

<body unresolved>

<!--##############################-->
<google-analytics></google-analytics>
<!--##############################-->

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_2.jpg">
    <h1>CAÇA À AURORA BOREAL</h1>
</dl-section-bar>

<!--############################################-->

<section class="main">
    <div class="main-block">
        <dl-box>
            <div class="gallery">
                <blueimp-gallery path="../../images/products/galleries/caca-a-aurora-boreal"
                                 numberSlides="5"
                                 description="Caça à aurora boreal">
                </blueimp-gallery>
            </div>

            <div class="info">

                <!--#################################################################################################-->

                <h2>
                    Uma surpreendente busca às luzes do norte
                    <br>
                    De 24 de setembro a 02 de outubro
                </h2>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <p>
                    Chegou sua vez de conhecer a Aurora Boreal: um dos fenômenos mais lindos e intrigantes que o planeta terra pode oferecer
                </p>

                <!--#################################################################################################-->

                <hr>

                    Envie um email para <a href="mailto:contato@droplife.com.br">contato@droplife.com.br</a> e solicite mais informações

                <hr>

                <!--#################################################################################################-->

                <div class="location"><i class="fa fa-map-marker"></i> Tromsø e Sommarøy/Noruega</div>
                <div class="price"></div>
                <dl-button-pag-seguro partner="INSIGHT_TRAVEL_EXPERIENCES"
                                      description="Caça à aurora boreal"
                                      disabled="disabled"
                                      amount="11107.00"
                                      label="ENTRE EM CONTATO">
                </dl-button-pag-seguro>

                <!--#################################################################################################-->

            </div>
        </dl-box>
    </div>

    <div class="container">
        <div class="leftColumn">

            <dl-box name="Programação"
                    iconClass="fa-exclamation-circle">

                    <ul style="padding:1em; text-align:justify">
                      <li><strong>Dia 1 (24/09) Brasil - Noruega: </strong>
                      <br>Embarque em São Paulo e outras cidades com destino a Oslo; pernoite e jantar a bordo do avião</li>
                      <br>
                      <li><strong>Dia 2 (25/09) Oslo - Tromsø: </strong>
                      <br>Desembarque e conexão para Tromsø, uma das capitais mundiais da Aurora Boreal; chegada e traslado ao hotel para acomodação; jantar de boas vindas seguido de pernoite em Tromsø</li>
                      <br>
                      <li><strong>Dia 3 (26/09) Tromsø: </strong>
                      <br>Manhã livre para descanso e passeios individuais; passeio panorâmico pelos principais pontos de interesse da cidade com subida no teleférico até o topo do pico Storsteinen (vista fantástica de Tromsø); caça à Aurora Boreal seguida de pernoite em Tromsø</li>
                      <br>
                      <li><strong>Dia 4 (27/09) Tromsø: </strong>
                      <br>Manhã livre; visita ao Museu Polaria, onde o grupo poderá apreciar o Oceanário e assistir documentários sobre a Aurora, os Fiordes, a Fauna e a Flora da região; caça à Aurora Boreal seguida de pernoite em Tromsø</li>
                      <br>
                      <li><strong>Dia 5 (28/09) Tromsø: </strong>
                      <br>Dia livre; sugestão: visita a Cervejaria Mack para conhecer o processo de fabricação da bebida, seguida de happy hour no Ølhallen, o pub mais antigo da cidade; caça à Aurora Boreal seguida de pernoite em Tromsø</li>
                      <br>
                      <li><strong>Dia 6 (29/09) Tromsø - Sommarøy - Tromsø: </strong>
                      <br>Visita de dia todo a Sommarøy, uma simpática vila de pescadores para almoço e passeio de barco pelos fiordes noruegueses; retorno a Tromsø para caça à Aurora Boreal e pernoite; distância em ônibus entre as cidades: 57km</li>
                      <br>
                      <li><strong>Dia 7 (30/09) Tromsø: </strong>
                      <br>Dia livre; sugestão: visita ao Centro Científico do Norte da Noruega (Nordnorrsk Vitensenter), que é um museu interativo cheio de experiências que oferece aos visitantes um filme panorâmico da Aurora; caça à Aurora Boreal seguida de pernoite em Tromsø</li>
                      <br>
                      <li><strong>Dia 8 (01/10) Noruega - Brasil: </strong>
                      <br>Traslado ao aeroporto para embarque no voo com destino ao Brasil; pernoite e jantar a bordo do avião</li>
                      <br>
                      <li><strong>Dia 9 (02/10) Brasil: </strong>
                      <br>Chegada em São Paulo e outras cidades de origem; fim de nossos serviços</li>
                    </ul

                    <br>

                <dl-list iconHeadingClass="fa-suitcase" iconItemClass="fa-angle-right">
                    <heading>O que levar</heading>
                    <item>Documentos necessários para a viagem</item>
                    <item>Gorjetas opcionais para: guias, motoristas, garçons e maleteiros nos hotéis</item>
                    <item>Suplementos para: quarto individual, categoria superior (quartos e classes aéreas) e extensões de viagem</item>
                    <item>Entradas e passeios opcionais oferecidos localmente que não constem na programação diária</item>
                    <item>Desdepesas de caráter pessoal como: SPA, lavanderia, bebidas, frigobar, souvenirs, excesso de bagagem, etc</item>
                    <item>Refeições não especificadas na programação diária ou servidas nos quartos dos hotéis</item>
                    <item>Tudo o que não esteja descrito no item "O que está incluso"</item>
                </dl-list>

                <hr>

                <dl-list iconHeadingClass="fa-check" iconItemClass="fa-angle-right">
                    <heading>O que está incluso</heading>
                    <item>Voos previstos em classe econômica com embarque em São Paulo (consultar outras cidades e/ou classes superiores)</item>
                    <item>Seguro de viagem, taxas de embarque e taxa operacional</item>
                    <item>Pernoites no hotel previsto categoria turística superior em quartos standard</item>
                    <item>Traslados de chegadas e saídas, bem como transporte em ônibus exclusivo para o grupo</item>
                    <item>Entradas para todas as visitas da programação diária</item>
                    <item>Refeições com o "menu fixo" para todos no mesmo local conforme programação diária (bebidas não inclusas)</item>
                    <item>Guia Insight bilíngue acompanhando o grupo desde São Paulo</item>
                    <item>Coach Marco Brotto durante todas as caças à aurora</item>
                    <item>Guias locais em espanhol ou português</item>
                    <item>Kit Viagem Insight e Diário de Viagem Online em tempo real</item>
                </dl-list>

                <hr>

                <dl-list iconHeadingClass="fa-clock-o" iconItemClass="fa-angle-right">
                    <heading>Duração</heading>
                    <item>9 dias</item>
                </dl-list>

                <hr>

                <dl-list iconHeadingClass="fa-user" iconItemClass="fa-angle-right">
                    <heading>Parceiro</heading>
                    <item>Insight Travel Experience e Marco Brotto</item>
                </dl-list>

            </dl-box>

            <dl-box name="Condições operacionais da viagem"
                    iconClass="fa-file-text-o">

                    <ul style="padding:1em; text-align:justify">
                      <li><strong>Número mínimo de participantes: </strong>
                      <br>20 passageiros. Se não houver esse mínimo de adesões, haverá recálculo do valor em dólar do pacote e cobrança da diferença de cada passageiro</li>
                      <br>
                      <li><strong>Cotação do dólar turismo: </strong>
                      <br>Se o câmbio oficial do grupo (valor do dólar turismo corrente 30 dias antes do embarque) estiver 11 pontos maior que o câmbio referencial
                        (valor utilizado no lançamento do grupo em maio de 2014), a diferença cambial será cobrada do passageiro. A partir de 11 pontos a menos, a diferença será devolvida em forma de crédito de viagem</li>
                      <br>
                      <li><strong>Desistência por motivo de recálculo OU diferença cambial: </strong>
                      <br>Se algum passageiro desistir da viagem por esses motivos, o valor total do pacote será devolvido
                        (exceto a taxa operacional não reembolsável da tabela de valores) e as taxas de cancelamento das passagens aéreas a serem informadas no ato do cancelamento pelas cias aéreas</li>
                      <br>
                      <li><strong>Desistência por outros motivos: </strong>
                      <br>Será observado o contrato assinado no ato da compra do pacote</li>
                      <br>
                      <li><strong>Quarto individual: </strong>
                      <br>Caso o interessado(a) não tenha um(a) companheiro(a) de quarto no ato da compra do pacote, deverá pagar o suplemento pelo quarto individual (tabela de valores)</li>
                      <br>
                      <li><strong>Franquia aérea de bagagem: </strong>
                      <br>A passagem aérea regional Tromsø-Oslo oferece franquia de 01 (uma) mala faturada de até 23kg + 01 (uma) bagagem de mão de 5kg.
                        O mesmo serve para o transporte terrestre, que é feito em vans ou ônibus, projetados para 01 (uma) bagagem de 23kg + 01 (uma) bagagem de mão de 5kg por poltrona oferecida</li>
                      <br>
                      <li><strong>Bagagens excedentes: </strong>
                      <br>Caso não houver espaço suficiente no bagageiro, um veículo poderá ser contratado localmente para o transporte das malas excedentes e o custo será
                      rateado entre os viajantes que tiverem mais de uma mala (exceto bagagens de mão)</li>
                      <br>
                      <li><strong>Documentos necessários para a viagem: </strong>
                      <br>Passaporte (mínimo de seis meses de validade a partir do embarque), Seguro de Viagem (incluso no pacote de viagem), Contrato de Serviço e Ficha Médica</li>
                      <br>
                      <li><strong>Alteração na programação terrestre: </strong>
                      <br>A programação terrestre poderá ser remanejada localmente por motivos operacionais. Cancelamentos de serviços por motivo de condições meteorológicas desfavoráveis não terão reembolso</li>
                    </ul>

            </dl-box>

            <dl-box name="Notas importantes"
                    iconClass="fa-file-text-o">

                    <ul style="padding:1em; text-align:justify">
                      <li>As luzes do norte ocorrem por causa das explosões que acontecem em ciclos de 11 anos.
                      Estamos atualmente no pico deste ciclo e por isso as chances de ver a Aurora Boreal são melhores.
                      Embora não possamos garantir a ocorrência nem visualização de um fenômeno natural, queremos te oferecer as melhores chances</li>
                      <br>
                      <li>A previsão de temperatura nessa época do ano segue amena, ficando entre 1°C e 14°C, sem nevascas</li>
                      <br>
                      <li>Após a compra do pacote, informações completas e dicas de como preparar a sua bagagem serão enviadas para o seu email em formato de newsletter</li>
                      <br>
                      <li>Na Noruega o custo de alimentação e bebidas é bem maior que no Brasil.
                      Por este motivo, algumas refeições serão oferecidas. <a href="http://bit.ly/1tQtqyx" target="_blank">Clique aqui para conferir outros valores de despesas pessoais</a></li>
                      <br>
                      <li>Durante as caças à aurora boreal, as paradas para o uso de toalete serão limitadas às lojas de conveniências nas rodovias</li>
                      <br>
                      <li>Os motoristas são profissionais locais, com carteira de habilitação norueguesa e credenciados junto ao Ministério do Turismo do país</li>
                    </ul>

            </dl-box>

            <dl-box name="LOCALIZAÇÃO"
                    iconClass="fa-map-marker">
                <google-maps latitude="69.649951"
                             longitude="19.078433"
                             zoom="3"
                             type="roadmap">
                </google-maps>

                <!--#################################################################################################-->

                Tromsø e Sommarøy / Noruega

                <!--#################################################################################################-->

            </dl-box>

        </div>

        <div class="rightColumn">

            <dl-box name="MARCO BROTTO"
                    iconClass="fa-cloud">

                    <img src="../../images/marcobrotto.jpg" alt="Marco Brotto" style="width:350px; display: block; margin-left: auto; margin-right: auto; border-radius: 50%">
                    <br>
                    <p style="text-align:justify">
                    Marco Brotto estudou design, administração e se formou em História dell'arte em Firenze na Itália.
                    Já viajou o mundo e desde 2011 caça a Aurora, já tendo visto o o fenômeno mais de 50 vezes.
                    Isso lhe rendeu as habilidades necessárias para encontrar o lugar certo onde as luzes aparecerão.
                    Suas fotos já foram exibidas nos principais meios de comunicação do Brasil como Folha de São Paulo, Veja, UOL, TV Educativa Paraná, NatGeo Brasil, Disney Babble, Globo, Natgeo Itália e Natgeo USA.
                    </p>
            </dl-box>


                <!--#################################################################################################-->


            <dl-box>

                <!--################################-->

                <facebook-like-box></facebook-like-box>

                <!--################################-->

            </dl-box>

            <!--<dl-box name="DEPOIMENTOS"-->
            <!--iconClass="fa fa-comments-o">-->

            <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

            <!--<dl-comments>-->
            <!--<comment>-->

            <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

            <!--Depoimento de alguma pessoa sobre o produto-->

            <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

            <!--</comment>-->
            <!--</dl-comments>-->

            <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

            <!--</dl-box>-->
        </div>
    </div>

</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

<!--##################-->

<live-chat></live-chat>

<!--##################-->

<!--##################-->

<crazy-egg></crazy-egg>

<!--##################-->

</body>

<!--#######################################################-->
<script type="text/javascript"
        src="../../scripts/javascript/entry-points/detail.js">
</script>
<!--#######################################################-->

</html>
