<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Conheça o equipamento e entenda como funciona o paraglider">
    <meta name="keywords" content="voo duplo,paraglider,parapente,aula de paraglider">
    <meta name="author" content="Droplife.com.br">
    <meta property="og:image" content="http://www.droplife.com.br/images/logo.png" />

    <title>
       Aula demonstrativa de paraglider
    </title>

    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/detail.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/blueimp-gallery.html">
    <link rel="import" href="../templates/dl-box.html">
    <link rel="import" href="../templates/dl-list.html">
    <link rel="import" href="../templates/dl-comments.html">
    <link rel="import" href="../templates/dl-button-pag-seguro.html">
    <link rel="import" href="../templates/google-maps.html">
    <link rel="import" href="../templates/dl-footer.html">
    <link rel="import" href="../templates/facebook-like-box.html">
    <link rel="import" href="../templates/live-chat.html">
    <link rel="import" href="../templates/google-analytics.html">
</head>

<body unresolved>

<!--##############################-->
<google-analytics></google-analytics>
<!--##############################-->

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_3.jpg">
    <h1>AULA DEMONSTRATIVA</h1>
</dl-section-bar>

<!--############################################-->

<section class="main">
    <div class="main-block">
        <dl-box>
            <div class="gallery">
                <blueimp-gallery path="../../images/products/galleries/aula-demonstrativa"
                                 numberSlides="3"
                                 description="aula-demonstrativa"
                 >
                </blueimp-gallery>
            </div>

            <div class="info">

                <!--#################################################################################################-->

                <h2>
                    Aprenda a voar de paraglider
                </h2>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <p>
                    Conheça os equipamentos, pratique em solo e faça as primeiras decolagens e pousos
                </p>

                <hr>

                <!--#################################################################################################-->

                <p>
                    Voucher para uma pessoa. Três horas
                </p>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <div class="location"><i class="fa fa-map-marker"></i> Sapiranga/Novo Hamburgo</div>
                <div class="price">R$ 180,00</div>
                <dl-button-pag-seguro code="EA52A0B1686808ADD4D1EF9AD4EFFEF1">
                </dl-button-pag-seguro>

                <!--#################################################################################################-->

            </div>
        </dl-box>
    </div>

    <div class="container">
        <div class="leftColumn">
            <dl-box name="VISÃO GERAL"
                    iconClass="fa-info-circle">

                <!--#################################################################################################-->

                <p>
                    Existem poucas atividades que se comparam à conveniente e pacífica experiência do paraglider.
                    O processo para apaixonar-se por este esporte pode ser muito rápido e vai mudar sua vida.
                    <br>
                    E agora, aprender a voar de paraglider é uma experiência ao seu alcance, com total segurança e baixo custo.
                    <br>
                    Na Aula Demonstrativa, você será apresentado ao equipamento de paraglider e aprender como ele voa.
                    <br>
                    Vai praticar, ainda em solo, a inflagem da vela e o controle da velocidade e direção.
                    Fará ainda, os primeiros planeios, ou voos, próximos ao solo.
                    <br>
                    Em pouco tempo, você estará pronto para as primeiras decolagens e pousos.

                </p>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-list iconHeadingClass="fa-suitcase" iconItemClass="fa-angle-right">
                    <heading>O que levar</heading>
                    <item>Roupas esportivas</item>
                </dl-list>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-list iconHeadingClass="fa-clock-o" iconItemClass="fa-angle-right">
                    <heading>Duração</heading>
                    <item>Três horas</item>
                </dl-list>

                <!--#################################################################################################-->

            </dl-box>

                <dl-box name="Termos de uso"
                        iconClass="fa-file-text-o">
                    <dl-list iconItemClass="fa-angle-right">
                        <item>O voucher é para uma pessoa</item>
                        <item>Após a confirmação do pagamento, o agendamento deve ser feito com o Droplife</item>
                        <item>Sua experiência deve ser agendada com no mínimo sete dias de antecedência</item>
                        <item>As condições climáticas podem afetar a data e hora agendadas</item>
                        <item>Esta experiência é produzida pela Cia. Do Ar Escola de Paraglider</item>
                    </dl-list>
                </dl-box>

                <dl-box name="LOCALIZAÇÃO"
                        iconClass="fa-map-marker">
                    <google-maps latitude="-29.654961"
                                 longitude="-50.965345"
                                 zoom="13"
                                 type="roadmap">
                    </google-maps>

                    <!--#################################################################################################-->

                    Rua Monte Castelo, 4914, Sapiranga - Rio Grande do Sul

                    <!--#################################################################################################-->

                </dl-box>
        </div>

        <div class="rightColumn">
            <dl-box name="O QUE ESTÁ INCLUSO"
                    iconClass="fa-check-circle">

                <!--#################################################################################################-->

                <dl-list iconItemClass="fa-check">
                    <item>Equipamentos de segurança</item>
                    <item>Capacete</item>
                </dl-list>

                <!--#################################################################################################-->

            </dl-box>

            <dl-box>

                <!--################################-->

                <facebook-like-box></facebook-like-box>

                <!--################################-->

            </dl-box>

            <!--<dl-box name="DEPOIMENTOS"-->
                    <!--iconClass="fa fa-comments-o">-->

                <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

                <!--<dl-comments>-->
                    <!--<comment>-->

                        <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

                        <!--Depoimento de alguma pessoa sobre o produto-->

                        <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

                    <!--</comment>-->
                <!--</dl-comments>-->

                <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

            <!--</dl-box>-->
        </div>
    </div>

</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

<!--##################-->

<live-chat></live-chat>

<!--##################-->

</body>

<!--#######################################################-->
<script type="text/javascript"
        src="../../scripts/javascript/entry-points/detail.js">
</script>
<!--#######################################################-->

</html>
