<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Foco na natureza: Zig Koch, o renomado fotógrafo de natureza vem até Porto Alegre para ministrar, em parceria com o Droplife,
    o Workshop de Fotografia de Natureza no Itapuã. ">
    <meta name="keywords" content="">
    <meta name="author" content="Droplife.com.br">
    <meta property="og:image" content="http://www.droplife.com.br/images/logo.png" />

    <title>
        Foco na natureza: Workshop de fotografia de natureza em Porto Alegre
    </title>

    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/detail.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script>
        Platform = {flags: {shadow: 'polyfill'}};
    </script>
    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/blueimp-gallery.html">
    <link rel="import" href="../templates/dl-box.html">
    <link rel="import" href="../templates/dl-list.html">
    <link rel="import" href="../templates/dl-comments.html">
    <link rel="import" href="../templates/dl-button-pag-seguro.html">
    <link rel="import" href="../templates/google-maps.html">
    <link rel="import" href="../templates/dl-footer.html">
    <link rel="import" href="../templates/facebook-like-box.html">
    <link rel="import" href="../templates/live-chat.html">
    <link rel="import" href="../templates/crazy-egg.html">
    <link rel="import" href="../templates/google-analytics.html">
    <link rel="import" href="../templates/dl-quality.html">
</head>

<body unresolved>

<!--##############################-->
<google-analytics></google-analytics>
<!--##############################-->

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_2.jpg">
    <h1>FOCO NA NATUREZA</h1>
</dl-section-bar>

<!--############################################-->

<section class="main">
    <div class="main-block">
        <dl-box>
            <div class="gallery">
                <blueimp-gallery path="../../images/products/galleries/workshop-fotografia-de-natureza"
                                 numberSlides="7"
                                 description="Workshop Fotografia de Natureza">
                </blueimp-gallery>
            </div>

            <div class="info">

                <!--#################################################################################################-->

                <h2>
                    Curso de fotografia de natureza
                    <br>
                    com Zig Koch.
                    <br>
                    De 08 a 12 de outubro
                </h2>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <p>
                    Este é um curso em que o aluno terá oportunidade de ver na prática como é fotografar na natureza
                </p>

                <!--#################################################################################################-->

                <hr>

                    Aulas teóricas em Porto Alegre. Incursão de um final de semana no <em>Parque Estadual de Itapuã</em>

                <hr>

                <!--#################################################################################################-->

                <div class="location"><i class="fa fa-map-marker"></i> Porto Alegre/RS</div>
                <div class="price"></div>
                <dl-button-pag-seguro partner="ZIG_KOCH"
                                      description="Foco na natureza - Workshop de fotografia de natureza"
                                      amount="1090.00">
                </dl-button-pag-seguro>

                <!--#################################################################################################-->

            </div>
        </dl-box>
    </div>

    <div class="container">
        <div class="leftColumn">


            <dl-box name="Horário das aulas"
                    iconClass="fa-calendar">

                    <li>As aulas teóricas serão nos dias 08 (quarta-feira) e 09 (quinta-feira) de outubro das 18:30h às 20:00h. No endereço Avenida Borges de Medeiros, 2500, segundo andar, Porto Alegre/RS</li>
                    <li>A vivência fotográfica será no Parque Estadual de Itapuã. O traslado de ida e volta está incluso</li>
                    <li>A saída para a vivência fotográfica será dia 10 (sexta-feira) às 17:00h, no endereço Avenida Borges de Medeiros, 2500, Porto Alegre/RS. O retorno será dia 12 (domingo) com chegada em Porto Alegre - mesmo local de saída - à noite por volta das 21:00h</li>
                    <li>Uma avaliação está prevista para domingo à tarde</li>
                    <li>Carga horária: 7 horas teóricas mais aproximadamente 23 horas de aula prática. Total: 30 horas</li>

            </dl-box>

            <dl-box name="Conteúdo do curso"
                    iconClass="fa-book">

                    A condução das aulas tanto as teóricas quanto a prática será com dois enfoques principais:
                    <br>
                    Discussão de conceitos fotográficos e técnicas empregadas para alcançar a foto desejada.
                    <br>
                    <br>
                    Na parte conceitual serão abordados os temas:
                      <li>Fotografia de natureza, o que é?</li>
                      <li>O que fotografar</li>
                      <li>Quando fotografar</li>
                      <li>Onde fotografar</li>
                      <li>Como formar uma história fotográfica</li>
                      <li>Linguagem fotográfica</li>
                      <li>Pré-visualização da fotografia</li>
                      <li>Princípios da composição</li>
                      <li>Planejando sua saída ou viagem</li>
                    <br>
                    Na parte técnica serão abordados os seguintes temas:
                      <li>Como sua câmera “lê” a luz</li>
                      <li>Como utilizar os recursos das câmeras em fotografia de natureza</li>
                      <li>Diferentes lentes para diferentes assuntos, como escolher a mais correta?</li>
                      <li>Equipamento mais apropriado para cada tipo de fotografia, macro, paisagens fauna e flora</li>
                      <li>Cuidados com o equipamento em campo</li>
                      <li>Aprender a ler o histograma</li>
                      <li>Transporte de equipamento</li>
                      <li>Como trabalhar com as condições naturais de luz e clima</li>
                      <li>Fotografia de paisagens</li>
                      <li>Uso de flash na natureza</li>
                      <li>Uso de suportes (tripé, monope e outros)</li>
                      <li>Fotografia de água em movimento</li>
                      <li>Fotografia de animais e plantas</li>
                      <li>Macro fotografia</li>
                      <li>Como se comportar em campo</li>
                      <li>Planejamento de viagens</li>
                      <li>Comentários sobre natureza e conservação</li>
                      <li>O que fazer com as milhares de fotos que tiramos? Como armazenar</li>
                      <li>Devo guardar tudo que fotografo? Dicas de edição de fotografias</li>
                      <li>Dia-dia do fotógrafo</li>
                      <li>Dicas para arquivar as fotografias</li>
                      <li>Valor do seu trabalho e mercado fotográfico</li>
                    <br>
                    Na vivência prática serão feitos vários exercícios com base nos conhecimentos repassados nas aulas teóricas, onde há trocas de experiências entre os participantes orientados pelo professor.

                </dl-list>

            </dl-box>

            <dl-box name="Perguntas frequentes"
                    iconClass="fa-question-circle">

                    <strong>Como é o curso “Foco na Natureza”?</strong>
                    <br>
                    O que vou passar no curso é a minha experiência ao longo de quase 30 anos como profissional da fotografia e mais de 14 anos ministrando workshops em vários locais do Brasil. As minhas experiências serão passadas de forma direta e prática.
                    <br>
                    O curso será dinâmico, isto é, o roteiro não é rígido e variando o foco conforme o interesse e dificuldades dos alunos.
                    <br>
                    O workshop foi separado em três "módulos":
                    O primeiro com aulas teóricas em Porto Alegre, onde vou passar os conhecimentos acumulados ao longo da minha carreira.
                    O segundo módulo é um final de semana na vivência fotográfica, onde os participantes poderão vivenciar como é o trabalho em campo. Esta é a boa oportunidade para todos tirarem as dúvidas, pois estarei disponível o tempo que for necessário.
                    E o terceiro módulo, é uma avaliação dos participantes. Todos irão passar uma edição das fotos da aula prática e poderão tirar as dúvidas.
                    <br>
                    Ao final de cada aula teórica, farei uma projeção com comentários sobre técnicas utilizadas, dificuldades e curiosidades. Na vivência fotográfica estão previstas fotografias noturnas, porém dependerá do clima e da disposição geral dos participantes. É sempre muito divertido e proveitoso.

                    <br>
                    <br>

                    <strong>Tem pré-requisitos?</strong>
                    <br>
                    O aluno terá um aproveitamento maior do curso caso tenha conhecimento básico de fotografia. Ter disposição para caminhar, gostar de boa conversa sobre fotografia e de contato com a Natureza.

                    <br>
                    <br>

                    <strong>O aluno precisa ter algum equipamento?</strong>
                    <br>
                    Sim, pois nas aulas práticas os participantes irão fotografar com o próprio equipamento. As câmeras reflex (SLR ou D-SLR) são as que têm mais recursos, portanto as mais indicadas para o curso, mas com as compactas avançadas o aluno também terá um bom aproveitamento. Um tripé é muito importante e outros acessórios como filtros e disparador.
                    <br>
                    O workshop também é uma boa oportunidade para entender na prática a função dos vários acessórios, que vão orientar na compra futura dos equipamentos.
                    <br>
                    Levar cartão suficiente para o final de semana prevendo fotografar em RAW e JPG, ou um computador que possa descarregar as imagens produzidas.

                    <br>
                    <br>

                    <strong>Onde será a aula prática?</strong>
                    <br>
                    A aula prática ocorrerá no Parque Estadual de Itapuã. Estão programadas duas refeições no espaço Butiá.

                    <br>
                    <br>

                    <strong>Qual o roteiro da vivência fotográfica?</strong>
                    <br>
                    A condução para a aula prática sairá às 17:00h no dia 10 (sexta-feira).
                    <br>
                    Chegada às 18:00h. Jantar e uma projeção ou saída fotográfica noturna.
                    <br>
                    No sábado saída pela manhã vamos percorrer uma trilha no parque. Retornamos para o almoço e saímos logo em seguida para uma outra trilha.
                    <br>
                    A noite faremos fotografias noturnas ou projetarei fotografias com comentários sobre a técnica e histórias das fotos.
                    <br>
                    No domingo, sairemos bem cedo para mais uma trilha. Faremos vários exercícios do que foi dado nas aulas teóricas. Retorno para almoço.
                    <br>
                    À tarde faremos bate papo prático na pousada tirando dúvidas e auxiliando na edição de fotografias.
                    <br>
                    Faremos as projeções para avaliar o desempenho de cada um e retornaremos para Porto Alegre.

                    <br>
                    <br>

                    Observação. A programação poderá sofrer alterações conforme o clima.

                </dl-list>

            </dl-box>

            <dl-box name="Mais detalhes"
                    iconClass="fa-exclamation-circle">

                <dl-list iconHeadingClass="fa-suitcase" iconItemClass="fa-angle-right">
                    <heading>O que levar</heading>
                    <item>Equipamento fotográfico é indispensável</item>
                    <item>Calçado confortável e seguro para trilhas (botas de caminhada são uma boa)</item>
                    <item>Roupas leves de secagem rápida</item>
                    <item>Lanche de trilha (barras de cereal, energéticas e lanches rápidos)</item>
                    <item>Capa de chuva</item>
                    <item>Boné</item>
                    <item>Repelente</item>
                    <item>Protetor solar</item>
                    <item>Lanterna (para caminhadas noturnas)</item>
                </dl-list>

                <hr>

                <dl-list iconHeadingClass="fa-check" iconItemClass="fa-angle-right">
                    <heading>O que está incluso</heading>
                    <item>Traslado até a pousada em Itapuã e volta para Porto Alegre (Praia de Belas)</item>
                    <item>Transporte entre a pousada e o Parque Estadual de Itapuã</item>
                    <item>Duas diárias na Pousada dos Quiosques em Itapuã (de sexta para sábado e sábado para domingo)</item>
                    <item>Dois cafés da manhã na pousada em Itapuã (sábado e domingo)</item>
                    <item>Duas refeições no espaço O Butiã, em Itapuã</item>
                </dl-list>

                <hr>

                <dl-list iconHeadingClass="fa-clock-o" iconItemClass="fa-angle-right">
                    <heading>Duração</heading>
                    <item>7 horas de aulas teóricas</item>
                    <item>Aproximadamente 23 horas de aulas práticas</item>
                </dl-list>

                <hr>

                <dl-list iconHeadingClass="fa-user" iconItemClass="fa-angle-right">
                    <heading>Parceiro</heading>
                    <item>Zig Koch</item>
                </dl-list>

            </dl-box>

            <dl-box name="Zig Koch"
                  iconClass="fa-camera">

                  Fotógrafo profissional desde 1985 voltado para os temas de turismo e natureza, formou-se em arquitetura na PUC-PR em 1982, exercendo a profissão por quatro anos. Participa de expedições em todo o Brasil fotografando para as principais entidades conservacionistas. Fotografa para diversas revistas brasileiras, suas fotografias ilustram dezenas de livros de arte, sendo autor de 10 livros. Tem fotografias publicadas em centenas de livros didáticos, relatórios para empresas, calendários e peças publicitárias. Possui um arquivo com mais de 250 mil fotos sobre o Brasil, com imagens de fauna, flora, ecossistemas, paisagens, culturas locais, indústrias, cidades, gente e turismo. Fez dezenas de exposições individuais voltadas para educação ambiental e de arte fotográfica.
                  <br>
                  Por sua contribuição em projetos culturais e educacionais, no ano 2000, o MIS - Museu da Imagem e do Som do Paraná lançou o caderno nº 22 intitulado “Zig Koch – Fotógrafo”, obra que relata sua vida e sua trajetória profissional.
                  <br>
                  Foi premiado em vários concursos, entre eles se destacam: Conquistou Highly Honored no concurso: Nature’s Best Photography Smith Rice International Awards 2007, segundo colocado no concurso Internacional da Nikon em 2008, teve foto premiada no “Wildlife Photographer of The Year – 2013” promovido pela BBC e pelo “Natural History Museum” em Londres -  UK.
                  <br>
                  Foi selecionado no caderno 17 da Coleção Pirelli de Fotografia e tem fotografias fazendo parte do acervo do Museu de Arte de São Paulo (MASP).
                  <br>
                  Ministra cursos e palestras sobre fotografia e meio ambiente. É sócio fundador da Associação de Fotógrafos de Natureza do Brasil (AFNATUA).
                  <br>
                  Seu trabalho pode ser apreciado no site <a target="_blank" href="http://www.zigkoch.com.br">www.zigkoch.com.br</a> e seu banco de imagens on-line é <a target="_blank" href="http://www.naturezabrasileira.com.br">www.naturezabrasileira.com.br</a>

            </dl-box>

            <dl-box name="Termos de uso"
                    iconClass="fa-file-text-o">
                <dl-list iconItemClass="fa-angle-right">
                    <item>Esta experiência requer um número mínimo de oito pessoas para acontecer</item>
                    <item>Caso esta experiência seja cancelada por falta de quórum, o valor integral da compra será devolvido</item>
                    <item>Após a confirmação do pagamento, o agendamento deve ser feito com o Droplife</item>
                    <item>Esta experiência é produzida por Droplife e Zig Koch</item>
                </dl-list>
            </dl-box>

            <dl-box name="LOCALIZAÇÃO"
                    iconClass="fa-map-marker">
                <google-maps latitude="-30.282252"
                             longitude="-51.016474"
                             zoom="14"
                             type="roadmap">
                </google-maps>

                <!--#################################################################################################-->

                Aulas teóricas: Avenida Borges de Medeiros, 2500 - Prime Offices - Segundo andar - Porto Alegre/RS
                <br>
                Pousada: Pousada dos Quiosques - Viamão/RS
                <br>
                Parque Estadual de Itapuã - Viamão/RS

                <!--#################################################################################################-->

            </dl-box>

        </div>

        <div class="rightColumn">

            <dl-box name="ZIG KOCH"
                    iconClass="fa-camera">

                    <img src="../../images/zig.jpg" alt="Zig Koch" style="width:350px; display: block; margin-left: auto; margin-right: auto; border-radius: 50%">
                    <br>
                    Com 30 anos de experiência, diversos prêmios internacionais, inúmeras exposições e infinitos adjetivos, Zig Koch vem a Porto Alegre para ministrar este curso exclusivo.
                    <br>
                    Leia mais no final desta página. Aprecie seu trabalho em <a target="_blank" href="http://www.zigkoch.com.br">www.zigkoch.com.br</a>

            </dl-box>


                <!--#################################################################################################-->


            <dl-box>

                <!--################################-->

                <facebook-like-box></facebook-like-box>

                <!--################################-->

            </dl-box>

            <!--<dl-box name="DEPOIMENTOS"-->
            <!--iconClass="fa fa-comments-o">-->

            <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

            <!--<dl-comments>-->
            <!--<comment>-->

            <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

            <!--Depoimento de alguma pessoa sobre o produto-->

            <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

            <!--</comment>-->
            <!--</dl-comments>-->

            <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

            <!--</dl-box>-->
        </div>
    </div>

</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

<!--##################-->

<live-chat></live-chat>

<!--##################-->

<!--##################-->

<crazy-egg></crazy-egg>

<!--##################-->

</body>

<!--#######################################################-->
<script type="text/javascript"
        src="../../scripts/javascript/entry-points/detail.js">
</script>
<!--#######################################################-->

</html>
