<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Rafting no Rio das Antas/RS com corredeiras de nível II, III e IV.
    Partida da Ponte Julio de Castilhos (Ponte de Ferro) na divisa dos municípios de Nova Roma do Sul e Farroupilha.">
    <meta name="keywords" content="rafting, rafting rs, rafting bento gonçalves, rafting nova roma do sul, rafting farroupilha, rafting rio das antas, rafting ponte de ferro, gasper, rafting gasper, gasper montanhismo">
    <meta name="author" content="Droplife.com.br">
    <meta property="og:image" content="http://www.droplife.com.br/images/logo.png" />

    <title>
        Rafting no Rio das Antas
    </title>

    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/detail.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script>
        Platform = {flags: {shadow: 'polyfill'}};
    </script>
    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/blueimp-gallery.html">
    <link rel="import" href="../templates/dl-box.html">
    <link rel="import" href="../templates/dl-list.html">
    <link rel="import" href="../templates/dl-comments.html">
    <link rel="import" href="../templates/dl-button-pag-seguro.html">
    <link rel="import" href="../templates/google-maps.html">
    <link rel="import" href="../templates/dl-footer.html">
    <link rel="import" href="../templates/facebook-like-box.html">
    <link rel="import" href="../templates/live-chat.html">
    <link rel="import" href="../templates/crazy-egg.html">
    <link rel="import" href="../templates/google-analytics.html">
    <link rel="import" href="../templates/dl-quality.html">
</head>

<body unresolved>

<!--##############################-->
<google-analytics></google-analytics>
<!--##############################-->

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_3.jpg">
    <h1>Rafting no Rio das Antas</h1>
</dl-section-bar>

<!--############################################-->

<section class="main">
    <div class="main-block">
        <dl-box>
            <div class="gallery">
                <blueimp-gallery path="../../images/products/galleries/gasper-rs-rafting"
                                 numberSlides="5"
                                 description="Rafting Rio das Antas">
                </blueimp-gallery>
            </div>

            <div class="info">

                <!--#################################################################################################-->

                <h2>
                    Rafting no Rio das Antas
                </h2>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <p>
                    Na divisa dos municípios de Nova Roma do Sul e Farroupilha está o Rio das Antas.
                    Enfrente suas corredeiras de nível II, III e IV a bordo de um bote, acompanhado de seus amigos e um instrutor experiente
                </p>

                <!--#################################################################################################-->

                <hr>

                    Experiência para 12 aventureiros.
                    Compre agora e agende esta aventura para os finais de semana, sábados às 13h ou domingos às 8h

                <hr>

                <!--#################################################################################################-->

                <div class="location"><i class="fa fa-map-marker"></i> Nova Roma do Sul/RS</div>
                <div class="price"></div>
                <dl-button-pag-seguro partner="GASPER"
                                      description="Gasper - Rafting para 12 pessoas - Rio das Antas"
                                      amount="840.00">
                </dl-button-pag-seguro>

                <!--#################################################################################################-->

            </div>
        </dl-box>
    </div>

    <div class="container">
        <div class="leftColumn">
            <dl-box name="VISÃO GERAL"
                    iconClass="fa-info-circle">

                <!--#################################################################################################-->

                <p>

                  O Rafting realizado no Rio das Antas possui uma extensão de 12 quilômetros e tem a duração de aproximadamente 2h30min. As corredeiras são de níveis II, III e IV.
                  <br>
                  Ponto de encontro: Ponte Julio de Castilhos, conhecida também como Ponte de Ferro, na divisa das cidades de Nova Roma do Sul e Farroupilha.

                </p>

                <hr>

                <dl-list iconHeadingClass="fa-suitcase" iconItemClass="fa-angle-right">
                    <heading>O que levar</heading>
                    <item>Protetor solar</item>
                    <item>Repelente</item>
                    <item>Tênis</item>
                    <item>Roupas leves para molhar</item>
                    <item>Toalha</item>
                </dl-list>

                <hr>

                <dl-list iconHeadingClass="fa-check" iconItemClass="fa-angle-right">
                    <heading>O que está incluso</heading>
                    <item>Transporte da Ponte de Ferro até o início do Rafting</item>
                    <item>Botes</item>
                    <item>Coletes</item>
                    <item>Capacetes</item>
                    <item>Remos</item>
                    <item>Roupas de neoprene para dias de baixa temperatura</item>
                    <item>Instrutores e condutores da atividade</item>
                    <item>Seguro pessoal</item>
                </dl-list>

                <hr>

                <dl-list iconHeadingClass="fa-clock-o" iconItemClass="fa-angle-right">
                    <heading>Duração</heading>
                    <item>Meio dia</item>
                </dl-list>

                <hr>

                <dl-list iconHeadingClass="fa-user" iconItemClass="fa-angle-right">
                    <heading>Parceiro</heading>
                    <item>Gasper Montanhismo</item>
                </dl-list>

            </dl-box>

            <dl-box name="Termos de uso"
                    iconClass="fa-file-text-o">
                <dl-list iconItemClass="fa-angle-right">
                    <item>O voucher é válido para doze pessoas</item>
                    <item>Após a confirmação do pagamento, o agendamento deve ser feito com o nosso parceiro</item>
                    <item>A idade mínima para esta experiência é 15 anos</item>
                    <item>Sua experiência deve ser agendada com no mínimo sete dias de antecedência</item>
                    <item>Para esta experiência ocorrer, deve haver um grupo mínimo de 12 pessoas</item>
                    <item>Esta experiência é produzida por Gasper Montanhismo</item>
                </dl-list>
            </dl-box>

            <dl-box name="LOCALIZAÇÃO"
                    iconClass="fa-map-marker">
                <google-maps latitude="-29.058338"
                             longitude="-51.396585"
                             zoom="15"
                             type="roadmap">
                </google-maps>

                <!--#################################################################################################-->

                Rodovia RS 448 - Ponte Julio de Castilhos (Ponte de Ferro) sobre o Rio das Antas, divisa das cidades de Nova Roma do Sul e Farroupilha

                <!--#################################################################################################-->

            </dl-box>
        </div>

        <div class="rightColumn">

            <dl-quality></dl-quality>

                <!--#################################################################################################-->

            </dl-box>

            <dl-box>

                <!--################################-->

                <facebook-like-box></facebook-like-box>

                <!--################################-->

            </dl-box>

            <!--<dl-box name="DEPOIMENTOS"-->
            <!--iconClass="fa fa-comments-o">-->

            <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

            <!--<dl-comments>-->
            <!--<comment>-->

            <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

            <!--Depoimento de alguma pessoa sobre o produto-->

            <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

            <!--</comment>-->
            <!--</dl-comments>-->

            <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

            <!--</dl-box>-->
        </div>
    </div>

</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

<!--##################-->

<live-chat></live-chat>

<!--##################-->

<!--##################-->

<crazy-egg></crazy-egg>

<!--##################-->

</body>

<!--#######################################################-->
<script type="text/javascript"
        src="../../scripts/javascript/entry-points/detail.js">
</script>
<!--#######################################################-->

</html>
