<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Eko Natural rafting em Cerquilha/SP. Desça as corredeiras abaixo da represa da Ponte do Ferro Ligas. Aventura pura!">
    <meta name="keywords" content="Eko natural, ekonatural, rafting são paulo, rafting sp, rafting ekonatural, rafting ponte ferro ligas, rafting cerquilhas">
    <meta name="author" content="Droplife.com.br">
    <meta property="og:image" content="http://www.droplife.com.br/images/logo.png" />

    <title>
        Eko Natural Rafting em Cerquilha/SP
    </title>

    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/detail.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script>
        Platform = {flags: {shadow: 'polyfill'}};
    </script>
    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/blueimp-gallery.html">
    <link rel="import" href="../templates/dl-box.html">
    <link rel="import" href="../templates/dl-list.html">
    <link rel="import" href="../templates/dl-comments.html">
    <link rel="import" href="../templates/dl-button-pag-seguro.html">
    <link rel="import" href="../templates/google-maps.html">
    <link rel="import" href="../templates/dl-footer.html">
    <link rel="import" href="../templates/facebook-like-box.html">
    <link rel="import" href="../templates/live-chat.html">
    <link rel="import" href="../templates/crazy-egg.html">
    <link rel="import" href="../templates/google-analytics.html">
    <link rel="import" href="../templates/dl-quality.html">
</head>

<body unresolved>

<!--##############################-->
<google-analytics></google-analytics>
<!--##############################-->

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_3.jpg">
    <h1>EKO NATURAL - RAFTING</h1>
</dl-section-bar>

<!--############################################-->

<section class="main">
    <div class="main-block">
        <dl-box>
            <div class="gallery">
                <blueimp-gallery path="../../images/products/galleries/eko-natural-rafting"
                                 numberSlides="3"
                                 description="Eko Natural Rafting">
                </blueimp-gallery>
            </div>

            <div class="info">

                <!--#################################################################################################-->

                <h2>
                    Rafting para a família ou grupo de amigos
                </h2>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <p>
                    Desça as corredeiras localizadas abaixo da represa conhecida como Ponte do Ferro Ligas, que promete te proporcionar muita aventura
                </p>

                <!--#################################################################################################-->

                <hr>

                    Convide mais cinco pessoas e agende para os sábados e domingos

                <hr>

                <!--#################################################################################################-->

                <div class="location"><i class="fa fa-map-marker"></i> Cerquilho/SP</div>
                <div class="price"></div>
                <dl-button-pag-seguro partner="EKO_NATURAL"
                                      description="Eko Natural - Rafting"
                                      amount="80.00">
                </dl-button-pag-seguro>

                <!--#################################################################################################-->

            </div>
        </dl-box>
    </div>

    <div class="container">
        <div class="leftColumn">
            <dl-box name="VISÃO GERAL"
                    iconClass="fa-info-circle">

                <!--#################################################################################################-->

                <p>
                    Desbrave as corredeiras de um rio com sua família, dentro de um bote inflável, onde os integrantes da embarcação remam sob o comando de um instrutor,
                    responsável pela orientação do grupo durante o percurso.
                    <br>
                    Isto é o rafting, com toda segurança necessária para você se divertir com seus filhos sem se preocupar!
                    <br>
                    Com um roteiro indicado para todas as pessoas, desde iniciantes a experientes, esta experiência
                    pode ser praticada durante o ano inteiro.
                    <br>
                    Abaixo da represa Ponte de Ferro Ligas, ficam as corredeiras de nível II a III, sendo esta dificuldade
                    determinada pelo volume de chuvas que antecede a aventura.
                    <br>
                    Trabalhe em equipe para vencer a descida e não se esqueça: divirta-se demais!
                </p>

                <hr>

                <dl-list iconHeadingClass="fa-suitcase" iconItemClass="fa-angle-right">
                    <heading>O que levar</heading>
                    <item>Roupas leves, que possam ser molhadas</item>
                    <item>Tênis fechado</item>
                    <item>Toalha</item>
                    <item>Roupa seca para após a atividade</item>
                    <item>Protetor solar</item>
                    <item>Boné</item>
                </dl-list>

                <hr>

                <dl-list iconHeadingClass="fa-check" iconItemClass="fa-angle-right">
                    <heading>O que está incluso</heading>
                    <item>Instrutor especializado</item>
                    <item>Flutuação no rio</item>
                    <item>Treinamento</item>
                    <item>Equipamentos de segurança</item>
                    <item>Seguro</item>
                    <item>Taxa de ingresso</item>
                    <item>Infraestrutura de local</item>
                    <item>Estacionamento</item>
                </dl-list>

                <hr>

                <dl-list iconHeadingClass="fa-clock-o" iconItemClass="fa-angle-right">
                    <heading>Duração</heading>
                    <item>2 a 3 horas (dependendo da chuva)</item>
                </dl-list>

                <hr>

                <dl-list iconHeadingClass="fa-user" iconItemClass="fa-angle-right">
                    <heading>Parceiro</heading>
                    <item>Ekonatural</item>
                </dl-list>

            </dl-box>

            <dl-box name="Termos de uso"
                    iconClass="fa-file-text-o">
                <dl-list iconItemClass="fa-angle-right">
                    <item>Esta experiência está sujeita a cancelamento devido as condições climáticas</item>
                    <item>Idade mínima: 9 ano</item>
                    <item>Este voucher é válido para uma pessoa</item>
                    <item>O número mínimo de pessas para agendamento é seis</item>
                    <item>Após a confirmação do pagamento, você receberá um termo de ciência, para preencher, assinar e levar no dia da aventura</item>
                    <item>Após a confirmação do pagamento, o agendamento deve ser feito com o nosso parceiro</item>
                    <item>Deve-se chegar ao ponto de encontro com uma hora de antecedência, sob pena de multa no valor de 10% da experiência no caso de atraso</item>
                    <item>Sua experiência deve ser agendada com no mínimo sete dias de antecedência</item>
                    <item>Sua experiência deve ser aproveitada sábados e domingos, entre 8h e 12h ou 13h e 17h</item>
                    <item>Esta experiência é produzida por Ekonatural</item>
                </dl-list>
            </dl-box>

            <dl-box name="LOCALIZAÇÃO"
                    iconClass="fa-map-marker">
                <google-maps latitude="-23.168944"
                             longitude="-47.746103"
                             zoom="15"
                             type="roadmap">
                </google-maps>

                <!--#################################################################################################-->

                Ponto de encontro: Av. Francisco da Silva Pontes, 547 – Centro – Cerquilho – SP

                <!--#################################################################################################-->

            </dl-box>
        </div>

        <div class="rightColumn">

            <dl-quality></dl-quality>

                <!--#################################################################################################-->

            </dl-box>

            <dl-box>

                <!--################################-->

                <facebook-like-box></facebook-like-box>

                <!--################################-->

            </dl-box>

            <!--<dl-box name="DEPOIMENTOS"-->
            <!--iconClass="fa fa-comments-o">-->

            <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

            <!--<dl-comments>-->
            <!--<comment>-->

            <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

            <!--Depoimento de alguma pessoa sobre o produto-->

            <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

            <!--</comment>-->
            <!--</dl-comments>-->

            <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

            <!--</dl-box>-->
        </div>
    </div>

</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

<!--##################-->

<live-chat></live-chat>

<!--##################-->

<!--##################-->

<crazy-egg></crazy-egg>

<!--##################-->

</body>

<!--#######################################################-->
<script type="text/javascript"
        src="../../scripts/javascript/entry-points/detail.js">
</script>
<!--#######################################################-->

</html>
