<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Trekking na borda dos cânions da Serra Geral, divisa entre os estados do Rio Grande do Sul e Santa Catarina. Dois dias e uma noite de acampamento e muita aventura.">
    <meta name="keywords" content="acampamento santa catarina,acampamentos,acampar,acampar em santa catarina,aventura trekking,caminhada,camping santa catarina,camping trekking,empresas de trekking,lugares para acampar em porto alegre,onde acampar,quenions santa catarina,serra da figueira,serra da rocinha,serra geral,sol de indiada,treking,trekking,trekking rs,viagens de aventura">
    <meta name="author" content="Droplife.com.br">
    <meta property="og:image" content="http://www.droplife.com.br/images/logo.png" />

    <title>
        Trekking na borda dos cânions
    </title>

    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/detail.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script>
        Platform = {flags: {shadow: 'polyfill'}};
    </script>
    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/blueimp-gallery.html">
    <link rel="import" href="../templates/dl-box.html">
    <link rel="import" href="../templates/dl-list.html">
    <link rel="import" href="../templates/dl-comments.html">
    <link rel="import" href="../templates/dl-button-pag-seguro.html">
    <link rel="import" href="../templates/google-maps.html">
    <link rel="import" href="../templates/dl-footer.html">
    <link rel="import" href="../templates/facebook-like-box.html">
    <link rel="import" href="../templates/live-chat.html">
    <link rel="import" href="../templates/crazy-egg.html">
    <link rel="import" href="../templates/google-analytics.html">
    <link rel="import" href="../templates/dl-quality.html">
</head>

<body unresolved>

<!--##############################-->
<google-analytics></google-analytics>
<!--##############################-->

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_3.jpg">
    <h1>Trekking na borda dos cânions</h1>
</dl-section-bar>

<!--############################################-->

<section class="main">
    <div class="main-block">
        <dl-box>
            <div class="gallery">
                <blueimp-gallery path="../../images/products/galleries/trekking-borda-canions"
                                 numberSlides="8"
                                 description="Trekking borda dos cânions"
                 >
                </blueimp-gallery>
            </div>

            <div class="info">

                <!--#################################################################################################-->

                <h2>
                Caminhada na borda dos cânions da Serra Geral nos dias 24 e 25 de maio
                </h2>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <p>
                São 22km de travessia mista na Serra da Rocinha, que divide os estados do Rio Grande do Sul e Santa Catarina
                </p>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <div class="location"><i class="fa fa-map-marker"></i> Caxias do Sul-RS</div>
                <div class="price"></div>
                <dl-button-pag-seguro partner="SOL_DE_INDIADA"
                                      description="Travessia Mista - Caxias do Sul-RS"
                                      amount="300.00">
                </dl-button-pag-seguro>

                <!--#################################################################################################-->

            </div>
        </dl-box>
    </div>

    <div class="container">
        <div class="leftColumn">
            <dl-box name="VISÃO GERAL"
                    iconClass="fa-info-circle">

                <!--#################################################################################################-->

                    Comemore a abertura da temporada de montanha antes do frio invernal.
                    <br>
                    Essa experiência é uma atividade de caminhada com acampamento durante a noite, entre as cidades de Timbé do Sul e São José dos Ausentes.
                    São dois dias e uma noite, com acampamento no topo da Serra Geral.
                    <br>
                    A equipe se encontrará em Caxias do Sul (ver mapa), onde ocorrerá o traslado até Timbé do Sul-SC, local de início da aventura.
                    <br>

                  <br>
                  <h4>Roteiro:</h4>
                  <br>
                  <h5>1º dia – 24/05 (sábado): Caxias do Sul-RS / Timbé do Sul-SC</h5>
                  <ul>
                    <li>1h00: Saída de Caxias do Sul</li>
                    <li>5h30: Parada para tomar café no Restaurante Japones (não incluso)</li>
                    <li>8h00: Início da caminhada 11 km (nível médio/difícil)</li>
                    <li>19h00: Acampamento e jantar</li>
                    <li>20h00: Música com Jeison Reis no Violão</li>
                 </ul>

                 <h5>2º dia – 25/05 (domingo): Borda de Cânion / Serra da Rocinha</h5>
                 <ul>
                    <li>7h30: Café da manhã</li>
                    <li>9h00: Inicio do trekking</li>
                    <li>12h00: Parada para descanso e almoço de trilha</li>
                    <li>15h00: Chegada no ônibus</li>
                    <li>21h00: Chegada em Caxias do Sul-RS</li>
                </ul>

                <br>

                No topo da serra não há hotéis, pousadas, lojas, ruas, sinal de telefone e emails.
                <br>
                De quebra, os aventureiros serão embalados pelo som do músico Jeison Reis e violão.
                <br>
                Portanto aproveite ao máximo a vida. Essa é a dica do Droplife e Sol de Indiada.


                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-list iconHeadingClass="fa-suitcase" iconItemClass="fa-angle-right">
                    <heading>O que levar</heading>
                    <item>Lanche de trilha</item>
                    <item>Almoço</item>
                    <item>Barraca</item>
                    <item>Saco de dormir</item>
                    <item>Isolante térmico</item>
                    <item>Demais materiais de camping</item>
                </dl-list>

                <hr>

                <dl-list iconHeadingClass="fa-check" iconItemClass="fa-angle-right">
                    <heading>O que está incluso</heading>
                    <item>Traslado rodoviário de Caxias do Sul-RS até Timbé do Sul-SC</item>
                    <item>Traslado rodoviário da Serra da Rocinha até Caxias do Sul-RS</item>
                    <item>Pernoite no topo da Serra Geral</item>
                    <item>Pensão semi-completa: café da manhã e jantar</item>
                    <item>Kit primeiros socorros</item>
                    <item>Todo o material de cozinha (tenda refeitório)</item>
                    <item>Guia</item>
                    <item>Carro de apoio 4X4</item>
                </dl-list>

                <hr>

                <dl-list iconHeadingClass="fa-clock-o" iconItemClass="fa-angle-right">
                    <heading>Duração</heading>
                    <item>Dois dias e uma noite</item>
                </dl-list>

                <hr>

                <dl-list iconHeadingClass="fa-user" iconItemClass="fa-angle-right">
                    <heading>Parceiro</heading>
                    <item>Sol de Indiada</item>
                </dl-list>

            </dl-box>

                <dl-box name="Termos de uso"
                        iconClass="fa-file-text-o">
                    <dl-list iconItemClass="fa-angle-right">
                        <item>O voucher é para uma pessoa</item>
                        <item>Após a confirmação do pagamento, o agendamento deve ser feito com o Droplife</item>
                        <item>Sua experiência deve ser agendada com no mínimo sete dias de antecedência</item>
                        <item>O material de camping (barraca, saco de dormir, isolante) é de responsabilidade do cliente</item>
                        <item>O roteiro poderá sofrer modificações conforme as condições climáticas e/ou por motivos extraordinários</item>
                        <item>A alimentação fornecida durante a expedição compreende a uma janta (dia 24/5) e café da manhã (dia 25/5)</item>
                        <item>Esta experiência é válida apenas para o evento dos dias 24 e 25 de maio de 2014</item>
                        <item>Esta experiência é produzida por Sol de Indiada</item>
                    </dl-list>
                </dl-box>

                <dl-box name="LOCALIZAÇÃO"
                        iconClass="fa-map-marker">
                    <google-maps latitude="-29.182106"
                                 longitude="-51.185420"
                                 zoom="14"
                                 type="roadmap">
                    </google-maps>

                    <!--#################################################################################################-->

                    Rua Flora Magnabosco, 351 - Caxias do Sul - RS, 95097-460

                    <!--#################################################################################################-->

                </dl-box>
        </div>

        <div class="rightColumn">

            <dl-quality></dl-quality>

            <dl-box>

                <!--################################-->

                <facebook-like-box></facebook-like-box>

                <!--################################-->

            </dl-box>

            <!--<dl-box name="DEPOIMENTOS"-->
                    <!--iconClass="fa fa-comments-o">-->

                <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

                <!--<dl-comments>-->
                    <!--<comment>-->

                        <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

                        <!--Depoimento de alguma pessoa sobre o produto-->

                        <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

                    <!--</comment>-->
                <!--</dl-comments>-->

                <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

            <!--</dl-box>-->
        </div>
    </div>

</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

<!--##################-->

<live-chat></live-chat>

<!--##################-->

<!--##################-->

<crazy-egg></crazy-egg>

<!--##################-->

</body>

<!--#######################################################-->
<script type="text/javascript"
        src="../../scripts/javascript/entry-points/detail.js">
</script>
<!--#######################################################-->

</html>
