<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aprenda stand up paddle no guaiba, em Porto Alegre. Desfrute de um local com natureza intocável e paisagem incrível.">
    <meta name="keywords" content="standup paddle,stand up paddle,sup,sup porto alegre,stand up,por do sol porto alegre,
    por do sol guaiba,pôr do sol,por do sol,guaíba,guaiba,natureza,paisagem,paisagens">

    <meta name="author" content="Droplife.com.br">

    <title>
        Instrução de SUP - Aprenda a remar na natureza intocada de Porto Alegre
    </title>

    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/detail.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/blueimp-gallery.html">
    <link rel="import" href="../templates/dl-box.html">
    <link rel="import" href="../templates/dl-list.html">
    <link rel="import" href="../templates/dl-comments.html">
    <link rel="import" href="../templates/dl-button-pag-seguro.html">
    <link rel="import" href="../templates/google-maps.html">
    <link rel="import" href="../templates/dl-footer.html">
    <link rel="import" href="../templates/google-analytics.html">
</head>

<body unresolved>

<!--##############################-->
<google-analytics></google-analytics>
<!--##############################-->

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_3.jpg">
    INSTRUÇÃO DE SUP
</dl-section-bar>

<!--############################################-->

<section class="main">
    <div class="main-block">
        <dl-box>
            <div class="gallery">
                <blueimp-gallery path="../../images/products/galleries/instrucao-de-sup"
                                 numberSlides="3"
                                 description="Instrução Stand up Paddle">
                </blueimp-gallery>
            </div>

            <div class="info">

                <!--#################################################################################################-->

                <h1>
                    Stand Up Paddle na natureza do Itapuã
                </h1>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <p>
                    Aprenda a remar em uma região inexplorada e instigante, de águas limpas, grande beleza natural e paisagens intocadas
                </p>

                <!--#################################################################################################-->

                <hr>

                <p>
                    Sábados, domingos e feriados. Uma hora, entre as 10h e o por do sol
                </p>

                <!--#################################################################################################-->

                <hr>

                <div class="location"><i class="fa fa-map-marker"></i> Porto Alegre</div>
                <div class="price">R$ 100,00</div>
                <dl-button-pag-seguro code="86505FBF14147D0DD4343FA3A6414E0B">
                </dl-button-pag-seguro>

                <!--#################################################################################################-->

            </div>
        </dl-box>
    </div>

    <div class="container">
        <div class="leftColumn">
            <dl-box name="VISÃO GERAL"
                    iconClass="fa-info-circle">

                <!--#################################################################################################-->

                <p>
                    O Stand Up Paddle, ou simplesmente SUP, é o esporte que mais cresce no mundo.
                    Em águas tranqüilas como as do Guaíba, a adrenalina dá lugar à contemplação e serenidade e o esporte se transforma em um excelente modo de relaxar e curtir a natureza.
                    <br>
                    A aula dura uma hora e nela aprendem-se noções básicas de segurança e a postura correta para remar, evitando assim, a formação de vícios que posteriormente podem incorrer em lesões musculares.
                    <br>
                    E o melhor é que já se aprende fazendo: as aulas são 100% práticas. É fornecido prancha, leash de segurança, remo e, claro, instrutor te acompanhando o tempo todo.
                    Máximo de quatro alunos por aula.
                    <br>
                    Pra quem acha que Guaíba = Poluição, uma boa notícia: a água em Itapuã é despoluída, 100% balneável e regularmente monitorada pela FEPAM.
                </p>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-list iconTitleClass="fa-suitcase" iconItemClass="fa-angle-right">
                    <title>O que levar</title>
                    <item>Roupa de banho</item>
                    <item>Protetor solar</item>
                    <item>Chapéu</item>
                </dl-list>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-list iconTitleClass="fa-clock-o" iconItemClass="fa-angle-right">
                    <title>Duração</title>
                    <item>Uma hora</item>
                </dl-list>

                <!--#################################################################################################-->

            </dl-box>

            <dl-box name="Termos de uso"
                    iconClass="fa-file-text-o">
                <dl-list iconItemClass="fa-angle-right">
                    <item>A experiência deve ser agendada para sábados, domingos ou feriados. Os horários são das 10h até o por do sol</item>
                    <item>Outras dias e horários não citados anteriormente não estão disponíveis</item>
                    <item>Após a confirmação do pagamento, o agendamento deve ser feito com o Droplife</item>
                    <item>Sua experiência deve ser agendada com no mínimo sete dias de antecedência</item>
                    <item>Esta experiência é produzida por O Butiá, Itapuã</item>
                </dl-list>
            </dl-box>

            <dl-box name="LOCALIZAÇÃO"
                    iconClass="fa-map-marker">
                <google-maps latitude="-30.282872"
                             longitude="-51.016614"
                             zoom="9"
                             type="roadmap">
                </google-maps>

                <!--#################################################################################################-->



                <!--#################################################################################################-->

            </dl-box>

        </div>

        <div class="rightColumn">
            <dl-box name="O QUE ESTÁ INCLUSO"
                    iconClass="fa-check-circle">

                <!--#################################################################################################-->

                <dl-list iconItemClass="fa-check">
                    <item>Prancha</item>
                    <item>Remo</item>
                    <item>Leash de segurança</item>
                    <item>Instrutor</item>
                </dl-list>

                <!--#################################################################################################-->

            </dl-box>

            <!--<dl-box name="DEPOIMENTOS"-->
                    <!--iconClass="fa fa-comments-o">-->

                <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

                <!--<dl-comments>-->
                    <!--<comment>-->

                        <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

                        <!--Depoimento de alguma pessoa sobre o produto-->

                        <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

                    <!--</comment>-->
                <!--</dl-comments>-->

                <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

            <!--</dl-box>-->
        </div>
    </div>

</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

</body>

<!--#######################################################-->
<script type="text/javascript"
        src="../../scripts/javascript/entry-points/detail.js">
</script>
<!--#######################################################-->

</html>