<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Curso de técnicas de sobrevivência, bushcraft e fieldcraft. Aprenda sobre primeiros socorros, sistema de comunicação, orientação, abrigos e obtenção de alimentos.">
    <meta name="keywords" content="">
    <meta name="author" content="Droplife.com.br">
    <meta property="og:image" content="http://www.droplife.com.br/images/logo.png" />

    <title>
        Curso de sobrevivência, bushcraft e fieldcraft
    </title>

    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/detail.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script>
        Platform = {flags: {shadow: 'polyfill'}};
    </script>
    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/blueimp-gallery.html">
    <link rel="import" href="../templates/dl-box.html">
    <link rel="import" href="../templates/dl-list.html">
    <link rel="import" href="../templates/dl-comments.html">
    <link rel="import" href="../templates/dl-button-pag-seguro.html">
    <link rel="import" href="../templates/google-maps.html">
    <link rel="import" href="../templates/dl-footer.html">
    <link rel="import" href="../templates/facebook-like-box.html">
    <link rel="import" href="../templates/live-chat.html">
    <link rel="import" href="../templates/crazy-egg.html">
    <link rel="import" href="../templates/google-analytics.html">
    <link rel="import" href="../templates/dl-quality.html">
</head>

<body unresolved>

<!--##############################-->
<google-analytics></google-analytics>
<!--##############################-->

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_3.jpg">
    <h1>Curso de sobrevivência</h1>
</dl-section-bar>

<!--############################################-->

<section class="main">
    <div class="main-block">
        <dl-box>
            <div class="gallery">
                <blueimp-gallery path="../../images/products/galleries/curso-sobrevivencia-bushcraft"
                                 numberSlides="9"
                                 description="Sobrevivência e Bushcraft"
                 >
                </blueimp-gallery>
            </div>

            <div class="info">

                <!--#################################################################################################-->

                <h2>
                Curso de sobrevivência, bushcraft e fieldcraft
                </h2>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <p>
                Nos dias 29, 30 e 31 de agosto.
                <br>
                Este curso vai te ensinar técnicas de primeiros socorros, sistema de comunicação, orientação, obtenção de alimentos e muito mais.
                </p>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <div class="location"><i class="fa fa-map-marker"></i> Lagoa Bacopari</div>
                <div class="price"></div>
                <dl-button-pag-seguro partner="FASB_PIONEERS"
                                      description="Curso de sobrevivência"
                                      disabled="disabled"
                                      amount="850.00"
                                      label="EDIÇÃO ESGOTADA">
                </dl-button-pag-seguro>

                <!--#################################################################################################-->

            </div>
        </dl-box>
    </div>

    <div class="container">
        <div class="leftColumn">
            <dl-box name="VISÃO GERAL"
                    iconClass="fa-info-circle">

                <!--#################################################################################################-->

                <hr>
                <strong>
                Esta edição do curso já está lotada (que sucesso!)
                <br>
                Envie email para <a href="mailto:contato@droplife.com.br">contato@droplife.com.br</a> registrando o seu interesse para as próximas edições.
                </strong>
                <hr>

                Bushcraft é o componente ativo da interação entre o homem e o mundo natural. É fazer por si só, construir, viajar e viver na natureza.
                <br>
                Neste curso você será instigado não só a procurar alimentos, fogo, água e abrigo, mas também a olhar para dentro de si,
                para encontrar os recursos que você precisa para encarar grandes desafios.

                <br>
                <br>

                <h4>Agenda do curso:</h4>
                <br>

                <h5>Dia 01 (29/08)</h5>
                Jantar de confraternização e apresentação. Entrega de materiais.

                <br>
                <h5>Dia 02 (30/08)</h5>
                Instruções teóricas e práticas das 08h00min às 18h00min. Paradas para as refeições.

                <br>
                <h5>Dia 03 (31/08)</h5>
                Prova prática (inicia às 18h do dia 02; termina às 18h do dia 03).

                <br>
                <br>

                Você receberá um kit com mais de <strong>40 itens</strong>, contendo todo o material necessário para os três dias de curso.
                Você será instruído na utilização de cada um destes itens.

                <br>
                <br>
                Antes mesmo de o curso iniciar, você receberá um material didático de sobrevivência e bushcraft, composto por dez capítulos, com instruções sobre
                primeiros socorros, sistema de comunicação, orientação, abrigos, obtenção de alimentos, dentre outros tópicos exclusivos.
                <br>
                <br>

                <strong>Atenção:</strong>
                <br>
                Apesar de não exigir nenhuma experiência no assunto, este é um curso de nível de dificuldade elevado.
                <br>
                Você terá que cumprir tarefas como <i>fazer fogo</i>, <i>pescar</i>, dentre outras. Todas com o auxílio de um instrutor condecorado, experiente e muito preparado,
                com experiência de campo em mais de 26 países, profundo conhecimento em técnicas de sobrevivência, bushcraft e fieldcraft.

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-list iconHeadingClass="fa-suitcase" iconItemClass="fa-angle-right">
                    <heading>O que levar</heading>
                    <item>Os alunos não devem levar equipamentos para o curso. Todos os materiais necessários serão disponibilizados pela organização</item>
                </dl-list>

                <hr>

                <dl-list iconHeadingClass="fa-check" iconItemClass="fa-angle-right">
                    <heading>O que está incluso</heading>
                    <item>Material didático</item>
                    <item>Uniforme</item>
                    <item>Kit prático com mais de 40 itens</item>
                    <item>Faca, exclusiva para o curso, produzida pela F.A.S.B. Pioneers</item>
                    <item>Hospedagem durante os três dias</item>
                </dl-list>

                <hr>

                <dl-list iconHeadingClass="fa-clock-o" iconItemClass="fa-angle-right">
                    <heading>Duração</heading>
                    <item>Três dias</item>
                </dl-list>

                <hr>

                <dl-list iconHeadingClass="fa-user" iconItemClass="fa-angle-right">
                    <heading>Parceiro</heading>
                    <item>F.A.S.B. Pioneers</item>
                </dl-list>

            </dl-box>

                <dl-box name="Termos de uso"
                        iconClass="fa-file-text-o">
                    <dl-list iconItemClass="fa-angle-right">
                        <item>O voucher é para uma pessoa</item>
                        <item>Após a confirmação do pagamento, o agendamento deve ser feito com o Droplife</item>
                        <item>Sua experiência deve ser confirmada até o dia 31/07/2014</item>
                        <item>Após o pagamento, o aluno receberá uma ficha de cadastro e contrato por email</item>
                        <item>Após o pagamento, o aluno receberá instruções sobre o local</item>
                        <item>O deslocamento até o local da experiência (Lagoa Bacopari) é de responsabilidade do cliente - há um estacionamento no local</item>
                        <item>Alunos residentes no interior ou outros estados (além do RS) receberão o material didático por correspondência</item>
                        <item>Alunos residentes na região metropolitana devem retirar o material didático na sede do nosso parceiro</item>
                        <item>Esta experiência é produzida por F.A.S.B. Pioneers</item>
                    </dl-list>
                </dl-box>

                <dl-box name="LOCALIZAÇÃO"
                        iconClass="fa-map-marker">
                    <google-maps latitude="-30.455564"
                                 longitude="-50.372636"
                                 zoom="10"
                                 type="roadmap">
                    </google-maps>

                    <!--#################################################################################################-->

                    Lagoa Bacopari, RS

                    <!--#################################################################################################-->

                </dl-box>
        </div>

        <div class="rightColumn">

            <dl-quality></dl-quality>

            <dl-box>

                <!--################################-->

                <facebook-like-box></facebook-like-box>

                <!--################################-->

            </dl-box>

            <!--<dl-box name="DEPOIMENTOS"-->
                    <!--iconClass="fa fa-comments-o">-->

                <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

                <!--<dl-comments>-->
                    <!--<comment>-->

                        <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

                        <!--Depoimento de alguma pessoa sobre o produto-->

                        <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

                    <!--</comment>-->
                <!--</dl-comments>-->

                <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

            <!--</dl-box>-->
        </div>
    </div>

</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

<!--##################-->

<live-chat></live-chat>

<!--##################-->

<!--##################-->

<crazy-egg></crazy-egg>

<!--##################-->

</body>

<!--#######################################################-->
<script type="text/javascript"
        src="../../scripts/javascript/entry-points/detail.js">
</script>
<!--#######################################################-->

</html>
