<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="standup paddle,stand up paddle,sup,sup porto alegre,stand up,por do sol porto alegre,
    por do sol guaiba,pôr do sol,por do sol,guaíba,guaiba">
    <!-- TO DO:
     colocar a metatag "author" em um template, pois o mesmo
     conteúdo se repete em cada .html
     -->
    <meta name="author" content="Droplife.com.br">

    <title>
        Aula de stand up paddle - SUP no por do sol do guaiba
    </title>

    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/detail.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/blueimp-gallery.html">
    <link rel="import" href="../templates/dl-box.html">
    <link rel="import" href="../templates/dl-list.html">
    <link rel="import" href="../templates/dl-comments.html">
    <link rel="import" href="../templates/dl-button.html">
    <link rel="import" href="../templates/google-maps.html">
    <link rel="import" href="../templates/dl-footer.html">
</head>

<body>

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_3.jpg">
    AULA DE STAND UP PADDLE
</dl-section-bar>

<!--############################################-->

<section class="main">
    <div class="main-block">
        <dl-box>
            <div class="gallery">
                <blueimp-gallery path="../../images/products/galleries/rafting-aventura"
                                 numberSlides="4">
                </blueimp-gallery>
            </div>

            <div class="info">

                <!--#################################################################################################-->

                <h1>
                    <!--Desça as corredeiras do Parque das Laranjeiras-->

                    Stand up paddle no pôr do sol do guaíba

                    <!--Experimente a emoção de descer as corredeiras do Rio Paranhama à bordo de um bote inflável,
                    em um percurso repleto de desafios no exuberante Parque das Laranjeiras.-->
                </h1>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <p>
                Uma aula para iniciar na prática do SUP.
                </p>

                <!--#################################################################################################-->

                <hr>

                <p>
                    De segunda à sexta 18-19h ou 19-20h. Sábados 9-10h ou 10-11h
                </p>

                <!--#################################################################################################-->

                <hr>

                <div class="location"><i class="fa fa-map-marker"></i> Porto Alegre</div>
                <div class="price">R$ 60,00</div>
                <dl-button>COMPRAR AGORA</dl-button>

                <!--#################################################################################################-->

            </div>
        </dl-box>
    </div>

    <div class="container">
        <div class="leftColumn">
            <dl-box name="VISÃO GERAL"
                    iconClass="fa-info-circle">

                <!--#################################################################################################-->

                <p>
                    No começo você se equilibra, e depois de umas remadas, você esquece que está em cima de uma prancha e é como andar sobre a água.
                    O stand up paddle, ou SUP, não é um esporte de força, mas de "jeito". É uma harmonia entre o homem e a prancha.
                    <br>
                    Nesta experiência você vai receber instrução orientada, de uma hora, bem como todos os equipamentos necessários para o iniciante.
                    Este processo acelera o aprendizado, além de trazer mais segurança.
                    Aprenda técnicas de remada, queda, e cuidados com a postura.
                    <br>
                    Nas aulas vespertinas, o pôr do sol é cortesia.

                </p>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-list iconTitleClass="fa-suitcase" iconItemClass="fa-angle-right">
                    <title>O que levar</title>
                    <item>Uma muda de roupa;</item>
                    <item>Protetor solar;</item>
                    <item>Toalha;</item>
                    <item>Bermuda.</item>
                </dl-list>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-list iconTitleClass="fa-clock-o" iconItemClass="fa-angle-right">
                    <title>Duração</title>
                    <item>Uma hora</item>
                </dl-list>

                <!--#################################################################################################-->

            </dl-box>

            <dl-box name="Termos de uso"
                    iconClass="fa-file-text-o">
                <dl-list iconItemClass="fa-angle-right">
                    <item>A aula deve ser agendada para dias de semana (segunda à sexta) e em dois horários: das 18h às 19h ou das 19h às 20h. No sábado, os horários disponíveis são das 9h às 10h ou das 10h às 11h. </item>
                    <item>Outras dias e horários não citados anteriormente não estão disponíveis</item>
                    <item>Após a confirmação da compra, o agendamento deve ser feito com o nosso parceiro</item>
                    <item>Esta experiência é produzida pela Kitesul</item>
                </dl-list>
            </dl-box>

            <dl-box name="LOCALIZAÇÃO"
                    iconClass="fa-map-marker">
                <google-maps latitude="-30.13612"
                             longitude="-51.231909"
                             zoom="15"
                             type="roadmap">
                </google-maps>

                <!--#################################################################################################-->

                Avenida Guaíba, 510, Ipanema, Porto Alegre. Em frente ao bar travessia.

                <!--#################################################################################################-->

            </dl-box>

        </div>

        <div class="rightColumn">
            <dl-box name="O QUE ESTÁ INCLUSO"
                    iconClass="fa-check-circle">

                <!--#################################################################################################-->

                <dl-list iconItemClass="fa-check">
                    <item>Prancha</item>
                    <item>Remo</item>
                    <item>Botas</item>
                    <item>Colete</item>
                    <item>Instrutor</item>
                </dl-list>

                <!--#################################################################################################-->

            </dl-box>

            <dl-box name="DEPOIMENTOS"
                    iconClass="fa fa-comments-o">

                <!--#################################################################################################-->

                <dl-comments>
                    <comment>

                        <!--#########################################################################################-->

                        Depoimento de alguma pessoa sobre o produto

                        <!--#########################################################################################-->

                    </comment>
                </dl-comments>

                <!--#################################################################################################-->

            </dl-box>
        </div>
    </div>

</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

</body>

<!--#######################################################-->
<script type="text/javascript"
        src="../../scripts/javascript/entry-points/detail.js">
</script>
<!--#######################################################-->

</html>