<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Travessia do cânion Josafaz. 30km de caminhadas durante três dias.">
    <meta name="keywords" content="Josafaz,travessia do cânion josafaz,caminhada cânion,acampamento josafaz">
    <meta name="author" content="Droplife.com.br">
    <meta property="og:image" content="http://www.droplife.com.br/images/logo.png" />

    <title>
        Travessia do Cânion Josafaz
    </title>

    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/detail.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/blueimp-gallery.html">
    <link rel="import" href="../templates/dl-box.html">
    <link rel="import" href="../templates/dl-options.html">
    <link rel="import" href="../templates/dl-list.html">
    <link rel="import" href="../templates/dl-comments.html">
    <link rel="import" href="../templates/dl-button-pag-seguro.html">
    <link rel="import" href="../templates/google-maps.html">
    <link rel="import" href="../templates/dl-footer.html">
    <link rel="import" href="../templates/facebook-like-box.html">
    <link rel="import" href="../templates/live-chat.html">
    <link rel="import" href="../templates/google-analytics.html">
</head>

<body unresolved>

<!--##############################-->
<google-analytics></google-analytics>
<!--##############################-->

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_3.jpg">
    <h1>TRAVESSIA DO CÂNION JOSAFAZ</h1>
</dl-section-bar>

<!--############################################-->

<section class="main">
    <div class="main-block">
        <dl-box>
            <div class="gallery">
                <blueimp-gallery path="../../images/products/galleries/travessia-josafaz"
                                 numberSlides="3"
                                 description="travessia-josafaz"
                 >
                </blueimp-gallery>
            </div>

            <div class="info">

                <!--#################################################################################################-->

                <h2>
                    Três dias de aventura na natureza selvagem
                </h2>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <p>
                    Expedição de 30km a pé, com guia, refeições e acampamento
                </p>

                <hr>

                <!--#################################################################################################-->

                <p>
                    Três dias de travessia. Duas noites de acampamento
                </p>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-options>
                    <heading>Selecione uma opção</heading>
                    <option data-value="EA1E61DA4444F053345A6FB1323A8D7D"
                            data-description="Para 1 pessoa"
                            data-additional-description="R$ 2929,00"/>

                    <option data-value="FAAF4E979292D17AA4B60FB568524FB2"
                            data-description="Para 2 pessoas"
                            data-additional-description="R$ 3376,00 (42% OFF)"/>

                    <option data-value="42A469B66262DF1FF4076FB5B632B958"
                            data-description="Para 5 pessoas"
                            data-additional-description="R$ 5055,00 (66% OFF)"/>

                    <option data-value="57DD360BEDEDC25CC4CF1FA19C711F6D"
                            data-description="Para 6 pessoas"
                            data-additional-description="R$ 5838,00 (67% OFF)"/>
                </dl-options>

                <!--#################################################################################################-->

                <div class="location"><i class="fa fa-map-marker"></i> Cambará do Sul/RS</div>
                <div class="price"></div>
                <dl-button-pag-seguro></dl-button-pag-seguro>

                <!--#################################################################################################-->

            </div>
        </dl-box>
    </div>

    <div class="container">
        <div class="leftColumn">
            <dl-box name="VISÃO GERAL"
                    iconClass="fa-info-circle">

                <!--#################################################################################################-->

                <p>
                A Travessia do Cânion Josafaz é realizada em três dias de caminhada de longo curso com duas noites de acampamento,
                em meio a lugares inóspitos e de grande beleza, totalizando um percurso de 30km de extensão.
                <br>
                <br>
                <strong>1º dia</strong> - 12km em aproximadamente 6hs na Trilha do Cânion Josafaz, passando pelas bordas do cânion.
                <br>
                <strong>2º dia</strong> - Caminhada de 9km descendo a Serra do Cânion Josafaz.
                <br>
                <strong>3º dia</strong> - Caminhada de 9km na Trilha de São Roque, passando por mata atlântica, encosta de cânion e travessia de rio, em aproximadamente 5h, com término na Comunidade de São Roque, em Praia Grande-SC.
                <br>
                <br>
                Nas duas noites de acampamento todo o equipamento, que é carregado pelas mulinhas, está à espera dos trilheiros e a alimentação é inacreditável:
                longe da “civilização”, no meio do “nada”, surgem pratos especiais, saborosos!
                </p>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-list iconHeadingClass="fa-suitcase" iconItemClass="fa-angle-right">
                    <heading>O que levar</heading>
                    <item>Toalha</item>
                    <item>Protetor Solar</item>
                    <item>Repelente</item>
                    <item>Roupa de banho</item>
                    <item>Água</item>
                </dl-list>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-list iconHeadingClass="fa-clock-o" iconItemClass="fa-angle-right">
                    <heading>Duração</heading>
                    <item>Três dias</item>
                </dl-list>

                <!--#################################################################################################-->

            </dl-box>

                <dl-box name="Termos de uso"
                        iconClass="fa-file-text-o">
                    <dl-list iconItemClass="fa-angle-right">
                        <item>O número de pessoas que o voucher compreende, depende da opção escolhida</item>
                        <item>Após a confirmação do pagamento, o agendamento deve ser feito com o nosso parceiro</item>
                        <item>No momento do agendamento, o número de pessoas deve ser informado</item>
                        <item>Sua experiência deve ser agendada com no mínimo sete dias de antecedência</item>
                        <item>Esta experiência é produzida pela Cânion Turismo Viagens e Aventuras</item>
                    </dl-list>
                </dl-box>

                <dl-box name="LOCALIZAÇÃO"
                        iconClass="fa-map-marker">
                    <google-maps latitude="-29.049297"
                                 longitude="-50.146249"
                                 zoom="15"
                                 type="roadmap">
                    </google-maps>

                    <!--#################################################################################################-->

                    Avenida Getúlio Vargas, 1098, Sala 01, Centro, Cambará do Sul, RS

                    <!--#################################################################################################-->

                </dl-box>
        </div>

        <div class="rightColumn">
            <dl-box name="O QUE ESTÁ INCLUSO"
                    iconClass="fa-check-circle">

                <!--#################################################################################################-->

                <dl-list iconItemClass="fa-check">
                    <item>Transporte de Cambará do Sul até o local da trilha</item>
                    <item>Guias</item>
                    <item>Barraca</item>
                    <item>Saco de dormir</item>
                    <item>Isolante térmico</item>
                    <item>Café da manhã</item>
                    <item>Lanche de trilha</item>
                    <item>Jantar e água</item>
                    <item>Água (garrafa 500ml)</item>
                </dl-list>

                <!--#################################################################################################-->

            </dl-box>

            <dl-box>

                <!--################################-->

                <facebook-like-box></facebook-like-box>

                <!--################################-->

            </dl-box>

            <!--<dl-box name="DEPOIMENTOS"-->
                    <!--iconClass="fa fa-comments-o">-->

                <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

                <!--<dl-comments>-->
                    <!--<comment>-->

                        <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

                        <!--Depoimento de alguma pessoa sobre o produto-->

                        <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

                    <!--</comment>-->
                <!--</dl-comments>-->

                <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

            <!--</dl-box>-->
        </div>
    </div>

</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

<!--##################-->

<live-chat></live-chat>

<!--##################-->

</body>

<!--#######################################################-->
<script type="text/javascript"
        src="../../scripts/javascript/entry-points/detail.js">
</script>
<!--#######################################################-->

</html>
