<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Track Day: Leve seu carro pra dar uma voltinha.">
    <meta name="keywords" content="trackday,track day,velopark,corrida de carros,">
    <meta name="author" content="Droplife.com.br">

    <title>
       Track Day
    </title>

    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/detail.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/blueimp-gallery.html">
    <link rel="import" href="../templates/dl-box.html">
    <link rel="import" href="../templates/dl-list.html">
    <link rel="import" href="../templates/dl-comments.html">
    <link rel="import" href="../templates/dl-button-pag-seguro.html">
    <link rel="import" href="../templates/google-maps.html">
    <link rel="import" href="../templates/dl-footer.html">
    <link rel="import" href="../templates/facebook-like-box.html">
    <link rel="import" href="../templates/live-chat.html">
    <link rel="import" href="../templates/google-analytics.html">
</head>

<body unresolved>

<!--##############################-->
<google-analytics></google-analytics>
<!--##############################-->

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_3.jpg">
    TRACK DAY
</dl-section-bar>

<!--############################################-->

<section class="main">
    <div class="main-block">
        <dl-box>
            <div class="gallery">
                <blueimp-gallery path="../../images/products/galleries/track-day"
                                 numberSlides="3"
                                 description="track-day"
                 >
                </blueimp-gallery>
            </div>

            <div class="info">

                <!--#################################################################################################-->

                <h1>
                    Leve seu carro pra dar uma voltinha
                </h1>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <p>
                    Tire o máximo da sua máquina no autódromo do Velopark
                </p>

                <hr>

                <!--#################################################################################################-->

                <p>
                    Voucher para uma pessoa. Briefing e o dia todo de pista liberada
                </p>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <div class="location"><i class="fa fa-map-marker"></i> Nova Santa Rita</div>
                <div class="price">R$ </div>
                <dl-button-pag-seguro code="">
                </dl-button-pag-seguro>

                <!--#################################################################################################-->

            </div>
        </dl-box>
    </div>

    <div class="container">
        <div class="leftColumn">
            <dl-box name="VISÃO GERAL"
                    iconClass="fa-info-circle">

                <!--#################################################################################################-->

                <p>
                    Neste dia, o seu carro é o principal protagonista e você pode sentir na pele a sensação de acelerar em um circuito de competição,
                    totalmente preparado para receber o seu automóvel.
                    <br>

                    <br>
                    Traga o seu carro para acelerar no autódromo com toda a estrutura de um dia de competição.
                </p>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-list iconTitleClass="fa-suitcase" iconItemClass="fa-angle-right">
                    <title>O que levar</title>
                    <item>Roupas leves</item>
                    <item>Tênis</item>
                </dl-list>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-list iconTitleClass="fa-clock-o" iconItemClass="fa-angle-right">
                    <title>Duração</title>
                    <item>2h e 30min</item>
                </dl-list>

                <!--#################################################################################################-->

            </dl-box>

                <dl-box name="Termos de uso"
                        iconClass="fa-file-text-o">
                    <dl-list iconItemClass="fa-angle-right">
                        <item>O voucher é para uma pessoa</item>
                        <item>Após a confirmação do pagamento, o agendamento deve ser feito com o Droplife</item>
                        <item>Sua experiência deve ser agendada com no mínimo quinze dias de antecedência</item>
                        <item>Esta experiência é produzida pelo Velopark</item>
                    </dl-list>
                </dl-box>

                <dl-box name="LOCALIZAÇÃO"
                        iconClass="fa-map-marker">
                    <google-maps latitude="-29.824977"
                                 longitude="-51.327064"
                                 zoom="15"
                                 type="roadmap">
                    </google-maps>

                    <!--#################################################################################################-->

                    BR 386, km 428, nº 10.000, 92480-000 Nova Santa Rita, RS

                    <!--#################################################################################################-->

                </dl-box>
        </div>

        <div class="rightColumn">
            <dl-box name="O QUE ESTÁ INCLUSO"
                    iconClass="fa-check-circle">

                <!--#################################################################################################-->

                <dl-list iconItemClass="fa-check">
                    <item>Equipamentos de segurança</item>
                    <item>Capacete</item>
                </dl-list>

                <!--#################################################################################################-->

            </dl-box>

            <dl-box>

                <!--################################-->

                <facebook-like-box></facebook-like-box>

                <!--################################-->

            </dl-box>

            <!--<dl-box name="DEPOIMENTOS"-->
                    <!--iconClass="fa fa-comments-o">-->

                <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

                <!--<dl-comments>-->
                    <!--<comment>-->

                        <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

                        <!--Depoimento de alguma pessoa sobre o produto-->

                        <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

                    <!--</comment>-->
                <!--</dl-comments>-->

                <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

            <!--</dl-box>-->
        </div>
    </div>

</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

<!--##################-->

<live-chat></live-chat>

<!--##################-->

</body>

<!--#######################################################-->
<script type="text/javascript"
        src="../../scripts/javascript/entry-points/detail.js">
</script>
<!--#######################################################-->

</html>