<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Experimente a emoção de descer as corredeiras do Rio Paranhama à bordo de um bote inflável, em um percurso repleto de desafios no exuberante Parque das Laranjeiras.">
    <meta name="keywords" content="Rafting,Raft,Aventura,Parque das Laranjeiras,Três Coroas,Tres Coroas">
    <meta name="author" content="Droplife.com.br">

    <title>
        Rafting Aventura - Parque das Laranjeiras, Tres Coroas
    </title>

    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/detail.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/blueimp-gallery.html">
    <link rel="import" href="../templates/dl-box.html">
    <link rel="import" href="../templates/dl-options.html">
    <link rel="import" href="../templates/dl-list.html">
    <link rel="import" href="../templates/dl-comments.html">
    <link rel="import" href="../templates/dl-button-pag-seguro.html">
    <link rel="import" href="../templates/google-maps.html">
    <link rel="import" href="../templates/dl-footer.html">
    <link rel="import" href="../templates/facebook-like-box.html">
    <link rel="import" href="../templates/live-chat.html">
    <link rel="import" href="../templates/google-analytics.html">
</head>

<body unresolved>

<!--##############################-->
<google-analytics></google-analytics>
<!--##############################-->

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_3.jpg">
    RAFTING AVENTURA
</dl-section-bar>

<!--############################################-->

<section class="main">
    <div class="main-block">
        <dl-box>
            <div class="gallery">
                <blueimp-gallery path="../../images/products/galleries/rafting-aventura"
                                 numberSlides="4"
                                 description="Rafting Aventura">
                </blueimp-gallery>
            </div>

            <div class="info">

                <!--#################################################################################################-->

                <h2>
                    <!--Desça as corredeiras do Parque das Laranjeiras-->

                    Rafting nas corredeiras do Parque das Laranjeiras

                    <!--Experimente a emoção de descer as corredeiras do Rio Paranhama à bordo de um bote inflável,
                    em um percurso repleto de desafios no exuberante Parque das Laranjeiras.-->
                </h2>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <p>
                Percurso de 5km com toboágua, salto de pedra, surfe de bote e floating
                </p>

                <!--#################################################################################################-->

                <hr>

                Para 7 aventureiros nos sábados ou domingos

                <hr>

                <!--#################################################################################################-->

                <dl-options>
                    <heading>Selecione uma opção</heading>
                    <option data-value="91658FF0A8A841D884D97FB4AA5B885A"
                            data-description="Grupo de 7 pessoas"
                            data-additional-description="R$ 100,00"/>

                    <option data-value="91658FF0A8A841D884D97FB4AA5B885B"
                            data-description="Grupo de 14 pessoas"
                            data-additional-description="R$ 200,00"/>

                    <option data-value="91658FF0A8A841D884D97FB4AA5B885C"
                            data-description="Grupo de 21 pessoas"
                            data-additional-description="R$ 280,00"/>

                    <option data-value="91658FF0A8A841D884D97FB4AA5B885D"
                            data-description="Grupo de 28 pessoas"
                            data-additional-description="R$ 350,00"/>
                </dl-options>

                <!--#################################################################################################-->

                <div class="location"><i class="fa fa-map-marker"></i> Três Coroas</div>
                <div class="price"></div>
                <dl-button-pag-seguro></dl-button-pag-seguro>

                <!--#################################################################################################-->

            </div>
        </dl-box>
    </div>

    <div class="container">
        <div class="leftColumn">
            <dl-box name="VISÃO GERAL"
                    iconClass="fa-info-circle">

                <!--#################################################################################################-->

                <p>
                “Raft”, em inglês, significa balsa ou bote. “Rafting” é a atividade de descer rios em um bote.
                E descer rios em uma bote inflável com seus amigos vai ser incrível, pode apostar.  <br>
                Pra começar, a prática de rafting requer uma certa familiarização com os comandos do instrutor, também conhecido como “leme”.
                Este comandante é o responsável por harmonizar e direcionar a equipe de remadores no percurso do rio Paranhama,
                que possui corredeiras de classe até 2*.<br>
                Durante esta experiência, o aventureiro desfrutará das seguintes atividades:
                <dl-list iconItemClass="fa-angle-right">
                    <item>Toboágua: trecho do rio descido com auxílio apenas do colete e capacete;</item>
                    <item>Salto da pedra: salto em uma pedra de 1,5 metros de altura em poço profundo;</item>
                    <item>Surfe de bote: surfe na corredeira sem os remos;</item>
                    <item>Floating: um espaço para relaxar e aproveitar o local. </item>
                </dl-list>
                Experimente a emoção de descer as corredeiras do Rio Paranhama à bordo de um bote inflável,
                em um percurso repleto de desafios no exuberante Parque das Laranjeiras.
                </p>
                <p>
                *Corredeiras são categorizadas em classes, geralmente indo do nível I ao VI.
                Corredeiras classe I são fáceis de atravessar e não necessitam de manobras, enquanto as corredeiras da classe VI representam uma ameaça à vida.
                Fonte: Wikipedia.
                </p>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-list iconHeadingClass="fa-suitcase" iconItemClass="fa-angle-right">
                    <heading>O que levar</heading>
                    <item>Uma troca de roupa</item>
                    <item>Repelente</item>
                    <item>Protetor solar</item>
                    <item>Boné, em dias de sol</item>
                    <item>Calçado fechado com sola de borracha para o rafting (tênis velho)</item>
                </dl-list>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-list iconHeadingClass="fa-clock-o" iconItemClass="fa-angle-right">
                    <heading>Duração</heading>
                    <item>Duas horas</item>
                </dl-list>

                <!--#################################################################################################-->

            </dl-box>

                <dl-box name="Termos de uso"
                        iconClass="fa-file-text-o">
                    <dl-list iconItemClass="fa-angle-right">
                        <item>Tudo que se consumir no parque das laranjeiras só poderá ser pago em dinheiro ou cheque. O local não aceita nenhum tipo de cartão</item>
                        <item>O voucher é válido para sete pessoas (lotação de um bote)</item>
                        <item>A disponibilidade de utilização do serviço compreende apenas sábados ou domingos</item>
                        <item>Após a confirmação do pagamento, o agendamento deve ser feito com o Droplife</item>
                        <item>Sua experiência deve ser agendada com no mínimo sete dias de antecedência</item>
                        <item>Esta experiência é produzida pela Ecoaventuras</item>
                    </dl-list>
                </dl-box>

                <dl-box name="LOCALIZAÇÃO"
                        iconClass="fa-map-marker">
                    <google-maps latitude="-29.514448"
                                 longitude="-50.776709"
                                 zoom="15"
                                 type="roadmap">
                    </google-maps>

                    <!--#################################################################################################-->

                    Rua Carlos Gomes, 190 - Centro - Três Coroas - Rio Grande do Sul

                    <!--#################################################################################################-->

                </dl-box>
        </div>

        <div class="rightColumn">
            <dl-box name="O QUE ESTÁ INCLUSO"
                    iconClass="fa-check-circle">

                <!--#################################################################################################-->

                <dl-list iconItemClass="fa-check">
                    <item>Equipamentos de segurança</item>
                    <item>Colete salva-vidas</item>
                    <item>Capacete</item>
                    <item>Remos</item>
                    <item>Translado de ida e volta do Parque das Laranjeiras para o local da aventura</item>
                    <item>Um instrutor em cada bote</item>
                </dl-list>

                <!--#################################################################################################-->

            </dl-box>

            <dl-box>

                <!--################################-->

                <facebook-like-box></facebook-like-box>

                <!--################################-->

            </dl-box>

            <!--<dl-box name="DEPOIMENTOS"-->
                    <!--iconClass="fa fa-comments-o">-->

                <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

                <!--<dl-comments>-->
                    <!--<comment>-->

                        <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

                        <!--Depoimento de alguma pessoa sobre o produto-->

                        <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

                    <!--</comment>-->
                <!--</dl-comments>-->

                <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

            <!--</dl-box>-->
        </div>
    </div>

</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

<!--##################-->

<live-chat></live-chat>

<!--##################-->

</body>

<!--#######################################################-->
<script type="text/javascript"
        src="../../scripts/javascript/entry-points/detail.js">
</script>
<!--#######################################################-->

</html>