<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="O curso Open Water Diver PADI é ideal para quem deseja aprender a técnica de mergulho com equipamento SCUBA e se tornar um mergulhador certificado.">
    <meta name="keywords" content="mergulho,scuba,dive,padi,mergulhador,curso de mergulho">

    <meta name="author" content="Droplife.com.br">

    <title>
        Open Water Diver - Mergulho básico (parte 2)
    </title>

    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/detail.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/blueimp-gallery.html">
    <link rel="import" href="../templates/dl-box.html">
    <link rel="import" href="../templates/dl-list.html">
    <link rel="import" href="../templates/dl-comments.html">
    <link rel="import" href="../templates/dl-button-pag-seguro.html">
    <link rel="import" href="../templates/google-maps.html">
    <link rel="import" href="../templates/dl-footer.html">
    <link rel="import" href="../templates/google-analytics.html">
</head>

<body unresolved>

<!--##############################-->
<google-analytics></google-analytics>
<!--##############################-->

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_3.jpg">
    OPEN WATER DIVER II
</dl-section-bar>

<!--############################################-->

<section class="main">
    <div class="main-block">
        <dl-box>
            <div class="gallery">
                <blueimp-gallery path="../../images/products/galleries/open-water-diver-ii"
                                 numberSlides="4"
                                 description="Open Water Diver II">
                </blueimp-gallery>
            </div>

            <div class="info">

                <!--#################################################################################################-->

                <h2>
                    Curso de mergulho básico e certificado (parte 2)
                </h2>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <p>
                    Agora que você já sabe tudo de mergulho, vá para o mar aberto explorar a natureza.
                </p>

                <!--#################################################################################################-->

                <hr>

                <p>
                    Quatro mergulhos realizados ao longo de um final de semana em Santa Catarina.
                </p>

                <!--#################################################################################################-->

                <hr>

                <div class="location"><i class="fa fa-map-marker"></i> Florianópolis ou Bombinhas</div>
                <div class="price">R$ 685,00</div>
                <dl-button-pag-seguro code="75959D06D1D1FA833487AF88DF5321B6">
                </dl-button-pag-seguro>

                <!--#################################################################################################-->

            </div>
        </dl-box>
    </div>

    <div class="container">
        <div class="leftColumn">
            <dl-box name="VISÃO GERAL"
                    iconClass="fa-info-circle">

                <!--#################################################################################################-->

                Antes de mais nada, <a href="detail-open-water-diver-i.html"><em>veja a primeira parte deste curso</em></a>.
                <br>
                O curso Open Water Diver PADI é ideal para quem deseja aprender a mergulhar com equipamento SCUBA e se tornar um mergulhador certificado.
                <br>
                O objetivo do curso é ensinar os conhecimentos fundamentais e as habilidades que o mergulhador básico precisa para mergulhar em dupla, independente de supervisão.
                <br>
                Nesta experiência, você irá finalizar o curso básico de mergulho. São quatro mergulhos de graduação em águas abertas, integrando os princípios aprendidos nas aulas de teoria e as habilidades aprendidas nas aulas de piscina.
                <br>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-list iconTitleClass="fa-suitcase" iconItemClass="fa-angle-right">
                    <title>O que levar</title>
                    <item>Roupa de banho;</item>
                </dl-list>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-list iconTitleClass="fa-clock-o" iconItemClass="fa-angle-right">
                    <title>Duração</title>
                    <item>Dois dias</item>
                </dl-list>

                <!--#################################################################################################-->

            </dl-box>

            <dl-box name="Termos de uso"
                    iconClass="fa-file-text-o">
                <dl-list iconItemClass="fa-angle-right">
                    <item>O voucher é válido para uma pessoa</item>
                    <item>A realização desta experiência, apenas, não garante o certificado Open Water Diver PADI</item>
                    <item>Este curso possui um pré-requisito: Open Water Diver I, disponível no Droplife, <a href="detail-open-water-diver-i.html"></a></item>
                    <item>Após a confirmação da compra, o agendamento deve ser feito com o nosso parceiro</item>
                    <item>Esta experiência é produzida pela Divesul</item>
                </dl-list>
            </dl-box>

            <dl-box name="LOCALIZAÇÃO"
                    iconClass="fa-map-marker">
                <google-maps latitude="-27.144783"
                             longitude="-48.504418"
                             zoom="10"
                             type="roadmap">
                </google-maps>

                <!--#################################################################################################-->

                Bombinhas, SC

                <!--#################################################################################################-->

            </dl-box>

        </div>

        <div class="rightColumn">
            <dl-box name="O QUE ESTÁ INCLUSO"
                    iconClass="fa-check-circle">

                <!--#################################################################################################-->

                <dl-list iconItemClass="fa-check">
                    <item>Equipamentos SCUBA</item>
                </dl-list>

                <!--#################################################################################################-->

            </dl-box>

            <!--<dl-box name="DEPOIMENTOS"-->
                    <!--iconClass="fa fa-comments-o">-->

                <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

                <!--<dl-comments>-->
                    <!--<comment>-->

                        <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

                        <!--Depoimento de alguma pessoa sobre o produto-->

                        <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

                    <!--</comment>-->
                <!--</dl-comments>-->

                <!--#################################################################################################-->

            </dl-box>
        </div>
    </div>

</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

</body>

<!--#######################################################-->
<script type="text/javascript"
        src="../../scripts/javascript/entry-points/detail.js">
</script>
<!--#######################################################-->

</html>