<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aula de wakeboard na waketotal. Uma hora de aula de wakeboard com Marcio Breu, instrutor com mais de seis anos de experiência. Aprenda e arrisque manobras nesta aventura nas represas de Igaratá e Guarapiranga.">
    <meta name="keywords" content="aula de wakeboard, wakeboard, escola de wakeboard, represa de igaratá, represa de guarapiranga, igaratá, guarapiranga">
    <meta name="author" content="Droplife.com.br">
    <meta property="og:image" content="http://www.droplife.com.br/images/logo.png" />

    <title>
        Aula de Wakebord
    </title>

    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/detail.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script>
        Platform = {flags: {shadow: 'polyfill'}};
    </script>
    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/blueimp-gallery.html">
    <link rel="import" href="../templates/dl-box.html">
    <link rel="import" href="../templates/dl-options.html">
    <link rel="import" href="../templates/dl-list.html">
    <link rel="import" href="../templates/dl-comments.html">
    <link rel="import" href="../templates/dl-button-pag-seguro.html">
    <link rel="import" href="../templates/google-maps.html">
    <link rel="import" href="../templates/dl-footer.html">
    <link rel="import" href="../templates/facebook-like-box.html">
    <link rel="import" href="../templates/live-chat.html">
    <link rel="import" href="../templates/google-analytics.html">
    <link rel="import" href="../templates/dl-quality.html">
</head>

<body unresolved>

<!--##############################-->
<google-analytics></google-analytics>
<!--##############################-->

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_3.jpg">
    <h1>AULA DE WAKEBOARD</h1>
</dl-section-bar>

<!--############################################-->

<section class="main">
    <div class="main-block">
        <dl-box>
            <div class="gallery">
                <blueimp-gallery path="../../images/products/galleries/aula-de-wakeboard"
                                 numberSlides="4"
                                 description="aula de wakeboard"
                 >
                </blueimp-gallery>
            </div>

            <div class="info">

                <!--#################################################################################################-->

                <h2>
                    Aula de wakeboard
                </h2>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <p>
                    Aulas com uma hora de duração, que pode ser compartilhada com um amigo
                </p>

                <hr>

                <!--#################################################################################################-->

                <p>
                    De segunda a segunda, incluindo feriados, das 8h às 18h, na represa de Guarapiranga ou Igaratá
                </p>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-options>
                    <heading>Selecione uma opção</heading>
                    <option data-pag-seguro-partner="WAKETOTAL"
                            data-pag-seguro-description="Aula de wakeboard"
                            data-pag-seguro-amount="180.00"
                            data-description="Para 2 pessoas"
                            data-additional-description="R$ 180,00"/>

                    <option data-pag-seguro-partner="WAKETOTAL"
                            data-pag-seguro-description="Aula de wakeboard"
                            data-pag-seguro-amount="180.00"
                            data-description="Para 2 pessoas"
                            data-additional-description="R$ 180,00"/>
                </dl-options>

                <!--#################################################################################################-->

                <div class="location"><i class="fa fa-map-marker"></i> São Paulo/SP</div>
                <div class="price"></div>
                <dl-button-pag-seguro></dl-button-pag-seguro>

                <!--#################################################################################################-->

            </div>
        </dl-box>
    </div>

    <div class="container">
        <div class="leftColumn">
            <dl-box name="VISÃO GERAL"
                    iconClass="fa-info-circle">

                <!--#################################################################################################-->

                <p>
                Aprenda ou aperfeiçõe a técnica do esporte aquático que mais cresce no mundo.
                <br>
                Em pé e equilibrado em uma prancha, você vai ganhando velocidade conforme a lancha te puxa, para então realizar manobras e saltos que desafiam a gravidade.
                <br>
                Esta aula é ministrada por Márcio Breu, que wakeboard a mais de 6 anos, formando inúmeros atletas que se destacam, inclusive, nos principais campeonatos brasileiros.
                </p>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-list iconHeadingClass="fa-suitcase" iconItemClass="fa-angle-right">
                    <heading>O que levar</heading>
                    <item>Roupas leves de banho</item>
                </dl-list>

                <hr>

                <dl-list iconHeadingClass="fa-check" iconItemClass="fa-angle-right">
                    <heading>O que está incluso</heading>
                    <item>Prancha</item>
                    <item>Bota</item>
                    <item>Colete</item>
                </dl-list>

                <hr>

                <dl-list iconHeadingClass="fa-clock-o" iconItemClass="fa-angle-right">
                    <heading>Duração</heading>
                    <item>Uma hora</item>
                </dl-list>

                <hr>

                <dl-list iconHeadingClass="fa-user" iconItemClass="fa-angle-right">
                    <heading>Parceiro</heading>
                    <item>Waketotal</item>
                </dl-list>

                <!--#################################################################################################-->

            </dl-box>

                <dl-box name="Termos de uso"
                        iconClass="fa-file-text-o">
                    <dl-list iconItemClass="fa-angle-right">
                        <item>O mesmo voucher pode ser utilizado por no máximo duas pessoas, respeitando a duração da experiência (uma hora)</item>
                        <item>A idade mínima para prática desta atividae é cinco anos</item>
                        <item>Após a confirmação do pagamento, o agendamento deve ser feito com o nosso parceiro</item>
                        <item>Sua experiência deve ser agendada com no mínimo sete dias de antecedência</item>
                        <item>Esta experiência é produzida por Waketotal</item>
                    </dl-list>
                </dl-box>

                <dl-box name="LOCALIZAÇÃO"
                        iconClass="fa-map-marker">
                    <google-maps latitude="-23.222872"
                                 longitude="-46.124682"
                                 zoom="15"
                                 type="roadmap">
                    </google-maps>

                    <!--#################################################################################################-->

                    Represa de Igaratá - Náutica Castelinho – KM 18,5 da Rodovia Dom Pedro I

                    <!--#################################################################################################-->

                </dl-box>
        </div>

        <div class="rightColumn">

          <!--####### DEPOIMENTOS #########-->

          <dl-box name="DEPOIMENTOS"
                  iconClass="fa fa-comments-o">

              <dl-comments>
                  <comment>

                      Wakeboard, seja pra quem já pratica outros esportes de prancha, ou para quem está começando, é uma experiência incrível.
                      Na primeira aula você já fica em pé e aproveita demais!
                      <br>
                      por Alessandro Borges (12/07/2014)

                  </comment>
              </dl-comments>


          </dl-box>

          <!--####### DEPOIMENTOS #########-->

            <dl-quality></dl-quality>

            <dl-box>

                <!--################################-->

                <facebook-like-box></facebook-like-box>

                <!--################################-->

            </dl-box>


        </div>
    </div>

</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

<!--##################-->

<live-chat></live-chat>

<!--##################-->

</body>

<!--#######################################################-->
<script type="text/javascript"
        src="../../scripts/javascript/entry-points/detail.js">
</script>
<!--#######################################################-->

</html>
