<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Paratrike é um tipo de paramotor para a prática de voo motorizado">
    <meta name="keywords" content="paratrike,voo livre,paraglider,parapente,paramotor">
    <meta name="author" content="Droplife.com.br">
    <meta property="og:image" content="http://www.droplife.com.br/images/logo.png" />

    <title>
        Voo de paratrike
    </title>

    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/detail.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/blueimp-gallery.html">
    <link rel="import" href="../templates/dl-box.html">
    <link rel="import" href="../templates/dl-list.html">
    <link rel="import" href="../templates/dl-comments.html">
    <link rel="import" href="../templates/dl-button-pag-seguro.html">
    <link rel="import" href="../templates/google-maps.html">
    <link rel="import" href="../templates/dl-footer.html">
    <link rel="import" href="../templates/facebook-like-box.html">
    <link rel="import" href="../templates/live-chat.html">
    <link rel="import" href="../templates/crazy-egg.html">
    <link rel="import" href="../templates/google-analytics.html">
</head>

<body unresolved>

<!--##############################-->
<google-analytics></google-analytics>
<!--##############################-->

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_3.jpg">
    <h1>PARATRIKE</h1>
</dl-section-bar>

<!--############################################-->

<section class="main">
    <div class="main-block">
        <dl-box>
            <div class="gallery">
                <blueimp-gallery path="../../images/products/galleries/paratrike"
                                 numberSlides="3"
                                 description="Paratrike"
                 >
                </blueimp-gallery>
            </div>

            <div class="info">

                <!--#################################################################################################-->

                <h2>
                O sonho mais antigo do homem: voar
                </h2>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <p>
                Vinte minutos de voo de paratrike, na companhia de um instrutor, sobre a Lagoa da Pinguela
                </p>

                <!--#################################################################################################-->

                <hr>

                <!--Para 7 aventureiros nos sábados ou domingos-->

                <!--<hr>-->

                <!--#################################################################################################-->

                <div class="location"><i class="fa fa-map-marker"></i> Osório</div>
                <input name="address" type="hidden" value="INFORMAR_ENDERECO"/>
                <div class="price"></div>
                <!--R$ 220,00-->
                <dl-button-pag-seguro partner="INFORMAR_ID_PARCEIRO"
                                      description="INFORMAR_DESCRICAO_PAG_SEGURO"
                                      amount="0.00">
                </dl-button-pag-seguro>

                <!--#################################################################################################-->

            </div>
        </dl-box>
    </div>

    <div class="container">
        <div class="leftColumn">
            <dl-box name="VISÃO GERAL"
                    iconClass="fa-info-circle">

                <!--#################################################################################################-->

                <p>
                    O paramotor é a maneira mais simples e serena de realizar o sonho mais antigo da humanidade: voar.
                    <br>
                    Se a ideia de assistir o por do sol a partir de um assento confortável, apoiado pelo ar flutuante, te agrada,
                    então esta experiência é exatamente o que você está procurando.
                    <br>
                    O Paratrike parece um triciclo com uma hélice atrás, contando ainda com um grande parapente que se ergue para o céu na decolagem.
                    <br>
                    Nesta experiência, você decolará acompanhado de um piloto experiente, a partir da Lagoa da Pinguela em Osório.
                    Vocês voarão por 20 minutos nesta bela região litorânea do Rio Grande do Sul.
                    <br>
                    Aproveite esta novidade: o Paratrike. Um dos meios mais seguros e incríveis de voar.
                </p>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-list iconHeadingClass="fa-suitcase" iconItemClass="fa-angle-right">
                    <heading>O que levar</heading>
                    <item>Roupas leves</item>
                    <item>Óculos escuros</item>
                    <item>Jaqueta</item>
                    <item>Câmera/filmadora</item>
                    <item>Calçado outdoor</item>
                </dl-list>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-list iconHeadingClass="fa-clock-o" iconItemClass="fa-angle-right">
                    <heading>Duração</heading>
                    <item>Vinte minutos</item>
                </dl-list>

                <!--#################################################################################################-->

            </dl-box>

                <dl-box name="Termos de uso"
                        iconClass="fa-file-text-o">
                    <dl-list iconItemClass="fa-angle-right">
                        <item>O voucher é para uma pessoa</item>
                        <item>Após a confirmação do pagamento, o agendamento deve ser feito com o Droplife</item>
                    <item>Sua experiência deve ser agendada com no mínimo sete dias de antecedência</item>
                        <item>Esta experiência é produzida pela Cia. do Ar</item>
                    </dl-list>
                </dl-box>

                <dl-box name="LOCALIZAÇÃO"
                        iconClass="fa-map-marker">
                    <google-maps latitude="-29.778366"
                                 longitude="-50.189559"
                                 zoom="14"
                                 type="roadmap">
                    </google-maps>

                    <!--#################################################################################################-->

                    Lagoa da Pinguela, Osório, RS

                    <!--#################################################################################################-->

                </dl-box>
        </div>

        <div class="rightColumn">
            <dl-box name="O QUE ESTÁ INCLUSO"
                    iconClass="fa-check-circle">

                <!--#################################################################################################-->

                <dl-list iconItemClass="fa-check">
                    <item>Equipamentos de segurança</item>
                    <item>Capacete</item>
                </dl-list>

                <!--#################################################################################################-->

            </dl-box>

            <dl-box>

                <!--################################-->

                <facebook-like-box></facebook-like-box>

                <!--################################-->

            </dl-box>

            <!--<dl-box name="DEPOIMENTOS"-->
                    <!--iconClass="fa fa-comments-o">-->

                <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

                <!--<dl-comments>-->
                    <!--<comment>-->

                        <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

                        <!--Depoimento de alguma pessoa sobre o produto-->

                        <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

                    <!--</comment>-->
                <!--</dl-comments>-->

                <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

            <!--</dl-box>-->
        </div>
    </div>

</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

<!--##################-->

<live-chat></live-chat>

<!--##################-->

<!--##################-->

<crazy-egg></crazy-egg>

<!--##################-->

</body>

<!--#######################################################-->
<script type="text/javascript"
        src="../../scripts/javascript/entry-points/detail.js">
</script>
<!--#######################################################-->

</html>
