<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Salto duplo de paraquedas. Um minuto de queda livre a 180kmph.">
    <meta name="keywords" content="paraquedas,paraquedismo,para quedas,salto,salto de paraquedas,paraquedas porto alegre,skydiving,skydive">
    <meta name="author" content="Droplife.com.br">

    <title>
        Salto duplo de paraquedas
    </title>

    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/detail.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/blueimp-gallery.html">
    <link rel="import" href="../templates/dl-box.html">
    <link rel="import" href="../templates/dl-list.html">
    <link rel="import" href="../templates/dl-comments.html">
    <link rel="import" href="../templates/dl-button-pag-seguro.html">
    <link rel="import" href="../templates/google-maps.html">
    <link rel="import" href="../templates/dl-footer.html">
    <link rel="import" href="../templates/facebook-like-box.html">
    <link rel="import" href="../templates/google-analytics.html">
</head>

<body unresolved>

<!--##############################-->
<google-analytics></google-analytics>
<!--##############################-->

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_3.jpg">
    SALTO DUPLO
</dl-section-bar>

<!--############################################-->

<section class="main">
    <div class="main-block">
        <dl-box>
            <div class="gallery">
                <blueimp-gallery path="../../images/products/galleries/salto-duplo-a"
                                 numberSlides="3"
                                 description="salto-duplo-a"
                 >
                </blueimp-gallery>
            </div>

            <div class="info">

                <!--#################################################################################################-->

                <h2>
                    Salto duplo de paraquedas a três mil metros de altitude
                </h2>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <p>
                    Viaje em queda livre emocionante, amarrado a um instrutor totalmente qualificado,
                    que abrirá o paraquedas e garantirá que vocês pousem com segurança em terra firme
                </p>

                <hr>

                <!--#################################################################################################-->

                <p>
                    Voucher para uma pessoa. Saltos nos fins de semana, das 9h às 16h
                </p>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <div class="location"><i class="fa fa-map-marker"></i> Novo Hamburgo</div>
                <div class="price">R$ 690,00</div>
                <dl-button-pag-seguro code="AB725C4AFDFD4EA3344E0F8D343703CE">
                </dl-button-pag-seguro>

                <!--#################################################################################################-->

            </div>
        </dl-box>
    </div>

    <div class="container">
        <div class="leftColumn">
            <dl-box name="VISÃO GERAL"
                    iconClass="fa-info-circle">

                <!--#################################################################################################-->

                <p>
                    Você ama a sensação do vento no rosto quando está em um carro com as janelas abaixadas?
                    <br>
                    Vá além com esta experiência de salto duplo em Novo Hamburgo.
                    <br>
                    Primeiramente, com os pés no chão, receba as informações de um instrutor expert no assunto,
                    que vai te ensinar como se portar durante o salto.
                    <br>
                    Já no avião, uma subida a 10000 pés (ou três mil metros). Durante a ascensão,
                    fique a vontade para tirar mais dúvidas com o instrutor ou cameraman. Sim! O cameraman vai registrar cada detalhe da aventura.
                    <br>
                    Agora é só um pequeno passo para você ter a experiência mais incrível da sua vida,
                    com até um minuto inteiro de queda livre a 180kmph.
                    <br>
                    Quando o paraquedas é aberto pelo instrutor, as coisas desaceleram um pouco.
                    Você pode curtir, aproximadamente, mais 6 minutos de descida, até enfim tocar o solo em um pouso suave.
                    <br>
                    Na próxima vez que o vento entrar pela janela do seu carro, você vai abrir um sorriso e lembrar desse dia incrível.

                </p>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-list iconTitleClass="fa-suitcase" iconItemClass="fa-angle-right">
                    <title>O que levar</title>
                    <item>Roupas esportivas</item>
                </dl-list>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-list iconTitleClass="fa-clock-o" iconItemClass="fa-angle-right">
                    <title>Duração</title>
                    <item>Aproximadamente uma hora e meia (20 minutos de briefing; 30 minutos de voo até o ponto de salto; 40 segundos de queda livre; 6 minutos de descida de paraquedas; 35 minutos para edição das imagens)</item>
                </dl-list>

                <!--#################################################################################################-->

            </dl-box>

                <dl-box name="Termos de uso"
                        iconClass="fa-file-text-o">
                    <dl-list iconItemClass="fa-angle-right">
                        <item>O voucher é para uma pessoa</item>
                        <item>A idade mínima para o salto é 18 anos</item>
                        <item>Por questões de segurança, não será permitido o uso de qualquer câmera ou dispositivo semelhante</item>
                        <item>Também por questões de segurança, o peso máximo permitido para o saltador é 85kg (não incluindo o peso do instrutor)</item>
                        <item>A duração desta experiência está baseada em uma média e está sujeita a variação para mais ou menos</item>
                        <item>Após a confirmação do pagamento, o agendamento deve ser feito com o Droplife</item>
                        <item>Sua experiência deve ser agendada com no mínimo sete dias de antecedência</item>
                        <item>Os saltos são realizados todos finais de semana, das 9h às 16h</item>
                        <item>As condições climáticas podem afetar a data e hora agendadas</item>
                        <item>Recomenda-se a confirmação do agendamento com uma hora de antecedência</item>
                        <item>Esta experiência é produzida pelo Centro Gaúcho de Paraquedismo</item>
                    </dl-list>
                </dl-box>

                <dl-box name="LOCALIZAÇÃO"
                        iconClass="fa-map-marker">
                    <google-maps latitude="-29.6974686"
                                 longitude="-51.086209"
                                 zoom="15"
                                 type="roadmap">
                    </google-maps>

                    <!--#################################################################################################-->

                    Rua Ana Terra, 10, Novo Hamburgo, RS - Aeroclube de NH

                    <!--#################################################################################################-->

                </dl-box>
        </div>

        <div class="rightColumn">
            <dl-box name="O QUE ESTÁ INCLUSO"
                    iconClass="fa-check-circle">

                <!--#################################################################################################-->

                <dl-list iconItemClass="fa-check">
                    <item>Equipamentos de segurança</item>
                    <item>Óculos</item>
                    <item>Briefing sobre a atividade</item>
                    <item>Camera man</item>
                    <item>DVD com filmagens e fotos (entregue ao término do salto)</item>
                    <item>Certificado de salto duplo</item>
                </dl-list>

                <!--#################################################################################################-->

            </dl-box>

            <dl-box>

                <!--################################-->

                <facebook-like-box></facebook-like-box>

                <!--################################-->

            </dl-box>

            <!--<dl-box name="DEPOIMENTOS"-->
                    <!--iconClass="fa fa-comments-o">-->

                <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

                <!--<dl-comments>-->
                    <!--<comment>-->

                        <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

                        <!--Depoimento de alguma pessoa sobre o produto-->

                        <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

                    <!--</comment>-->
                <!--</dl-comments>-->

                <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

            <!--</dl-box>-->
        </div>
    </div>

</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

</body>

<!--#######################################################-->
<script type="text/javascript"
        src="../../scripts/javascript/entry-points/detail.js">
</script>
<!--#######################################################-->

</html>