<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Travessia de stand up paddle no guaiba, em Porto Alegre. Desfrute do melhor por do sol praticando o esporte sensação do verão: o SUP.">
    <meta name="keywords" content="standup paddle,stand up paddle,sup,sup porto alegre,stand up,por do sol porto alegre,
    por do sol guaiba,pôr do sol,por do sol,guaíba,guaiba,paisagem,paisagens">

    <meta name="author" content="Droplife.com.br">
    <meta property="og:image" content="http://www.droplife.com.br/images/logo.png" />

    <title>
        Travessia de stand up paddle - SUP no por do sol do guaiba
    </title>

    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/detail.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/blueimp-gallery.html">
    <link rel="import" href="../templates/dl-box.html">
    <link rel="import" href="../templates/dl-list.html">
    <link rel="import" href="../templates/dl-comments.html">
    <link rel="import" href="../templates/dl-button-pag-seguro.html">
    <link rel="import" href="../templates/google-maps.html">
    <link rel="import" href="../templates/dl-footer.html">
    <link rel="import" href="../templates/facebook-like-box.html">
    <link rel="import" href="../templates/live-chat.html">
    <link rel="import" href="../templates/google-analytics.html">
</head>

<body unresolved>

<!--##############################-->
<google-analytics></google-analytics>
<!--##############################-->

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_3.jpg">
    <h1>A TRAVESSIA</h1>
</dl-section-bar>

<!--############################################-->

<section class="main">
    <div class="main-block">
        <dl-box>
            <div class="gallery">
                <blueimp-gallery path="../../images/products/galleries/travessia-stand-up-paddle"
                                 numberSlides="3"
                                 description="Travessia Stand up Paddle">
                </blueimp-gallery>
            </div>

            <div class="info">

                <!--#################################################################################################-->

                <h2>
                    Deixa o remo te levar
                </h2>

                <!--#################################################################################################-->

                <hr>

                <p>
                    Um destino por semana, uma experiência por destino
                </p>

                <hr>

                <p>
                    Travessia de SUP em grupo, com instrutor e percurso longo de três horas
                </p>

                <!--#################################################################################################-->

                <hr>

                <div class="location"><i class="fa fa-map-marker"></i> Porto Alegre</div>
                <div class="price">R$ 150,00</div>
                <dl-button-pag-seguro code="EE87DFD3E1E13C7DD4411F92C509276C">
                </dl-button-pag-seguro>

                <!--#################################################################################################-->

            </div>
        </dl-box>
    </div>

    <div class="container">
        <div class="leftColumn">
            <dl-box name="VISÃO GERAL"
                    iconClass="fa-info-circle">

                <!--#################################################################################################-->

                <p>
                    Pelo menos uma vez por semana, nossos parceiros da Kitesul se reúnem com suas pranchas de SUP para uma travessia longa, sem destino óbvio.
                    <br>
                    As belas paisagens e a singularidade determinam a escolha da travessia. Dificilmente o local se repete.
                    <br>
                    Pra essa experiência incrível, esperamos que você já saiba que o Stand Up Paddle é o esporte sensação desse verão.
                    Se não sabe, também não é um problema: <a href="detail-stand-up-paddle.html"><em>Veja a nossa aula de introdução ao SUP.</em></a>
                    <br>
                </p>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-list iconHeadingClass="fa-suitcase" iconItemClass="fa-angle-right">
                    <heading>O que levar</heading>
                    <item>Uma muda de roupa</item>
                    <item>Protetor solar</item>
                    <item>Toalha</item>
                    <item>Bermuda</item>
                </dl-list>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-list iconHeadingClass="fa-clock-o" iconItemClass="fa-angle-right">
                    <heading>Duração</heading>
                    <item>Três horas</item>
                </dl-list>

                <!--#################################################################################################-->

            </dl-box>

            <dl-box name="Termos de uso"
                    iconClass="fa-file-text-o">
                <dl-list iconItemClass="fa-angle-right">
                    <item>Após a confirmação do pagamento, o agendamento deve ser feito com o Droplife</item>
                    <item>Sua experiência deve ser agendada com no mínimo sete dias de antecedência</item>
                    <item>Esta experiência é produzida pela Kitesul</item>
                </dl-list>
            </dl-box>

            <dl-box name="LOCALIZAÇÃO"
                    iconClass="fa-map-marker">
                <google-maps latitude="-30.13612"
                             longitude="-51.231909"
                             zoom="15"
                             type="roadmap">
                </google-maps>

                <!--#################################################################################################-->

                Avenida Guaíba, 510, Ipanema, Porto Alegre. Em frente ao bar travessia.

                <!--#################################################################################################-->

            </dl-box>

        </div>

        <div class="rightColumn">
            <dl-box name="O QUE ESTÁ INCLUSO"
                    iconClass="fa-check-circle">

                <!--#################################################################################################-->

                <dl-list iconItemClass="fa-check">
                    <item>Prancha</item>
                    <item>Remo</item>
                    <item>Botas</item>
                    <item>Colete</item>
                    <item>Instrutor</item>
                </dl-list>

                <!--#################################################################################################-->

            </dl-box>

            <dl-box>

                <!--################################-->

                <facebook-like-box></facebook-like-box>

                <!--################################-->

            </dl-box>

            <!--<dl-box name="DEPOIMENTOS"-->
                    <!--iconClass="fa fa-comments-o">-->

                <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

                <!--<dl-comments>-->
                    <!--<comment>-->

                        <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

                        <!--Depoimento de alguma pessoa sobre o produto-->

                        <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

                    <!--</comment>-->
                <!--</dl-comments>-->

                <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

            <!--</dl-box>-->
        </div>
    </div>

</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

<!--##################-->

<live-chat></live-chat>

<!--##################-->

</body>

<!--#######################################################-->
<script type="text/javascript"
        src="../../scripts/javascript/entry-points/detail.js">
</script>
<!--#######################################################-->

</html>
