<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Curso AFF (Accelerated Free Fall). Instrução teórica e salto de paraquedas.">
    <meta name="keywords" content="aff,paraquedas,paraquedismo,para quedas,salto,salto de paraquedas,paraquedas porto alegre,skydiving,skydive">
    <meta name="author" content="Droplife.com.br">

    <title>
        Salto de paraquedas - curso AFF
    </title>

    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/detail.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/blueimp-gallery.html">
    <link rel="import" href="../templates/dl-box.html">
    <link rel="import" href="../templates/dl-list.html">
    <link rel="import" href="../templates/dl-comments.html">
    <link rel="import" href="../templates/dl-button-pag-seguro.html">
    <link rel="import" href="../templates/google-maps.html">
    <link rel="import" href="../templates/dl-footer.html">
    <link rel="import" href="../templates/facebook-like-box.html">
    <link rel="import" href="../templates/live-chat.html">
    <link rel="import" href="../templates/google-analytics.html">
</head>

<body unresolved>

<!--##############################-->
<google-analytics></google-analytics>
<!--##############################-->

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_3.jpg">
    Curso AFF
</dl-section-bar>

<!--############################################-->

<section class="main">
    <div class="main-block">
        <dl-box>
            <div class="gallery">
                <blueimp-gallery path="../../images/products/galleries/curso-aff"
                                 numberSlides="3"
                                 description="curso-aff"
                        >
                </blueimp-gallery>
            </div>

            <div class="info">

                <!--#################################################################################################-->

                <h2>
                    Aula teórica e primeiro salto no método Accelerated Free Fall
                </h2>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <p>
                    Aprenda a saltar pelo processo mais avançado de formação de novos atletas de paraquedismo
                </p>

                <hr>

                <!--#################################################################################################-->

                <p>
                    Voucher para uma pessoa. Oito horas de aula teórica e um salto a 3000 metros
                </p>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <div class="location"><i class="fa fa-map-marker"></i> Novo Hamburgo</div>
                <div class="price">R$ 1060,00</div>
                <dl-button-pag-seguro code="CB437C9D151550BFF4632FB6CC157908">
                </dl-button-pag-seguro>

                <!--#################################################################################################-->

            </div>
        </dl-box>
    </div>

    <div class="container">
        <div class="leftColumn">
            <dl-box name="VISÃO GERAL"
                    iconClass="fa-info-circle">

                <!--#################################################################################################-->

                <p>
                    <a href="detail-curso-asl.html"><em>Se o ASL é o método mais eficaz por sua gradativa evolução,</em></a>
                    o AFF, ou Accelerated Free Fall,     é o mais avançado, moderno e rápido meio de se tornar
                    um atleta extremo de paraquedismo.
                    <br>
                    Esta experiência se resume em duas partes:
                    <br>
                    Na primeira, você receberá uma instrução teórica entre oito e dez horas.
                    Serão apresentados todos os procedimentos técnicos do paraquedismo, bem como os equipamentos e dispositivos de segurança.
                    Os alunos aprenderão ainda, como sair do avião e como posicionar o corpo durante a descida.
                    <br>
                    Na segunda parte desta experiência, o aluno se encontrará na companhia de seu instrutor, a dez mil pés, ou três mil metros de altura,
                    para então, realizar o seu primeiro salto de paraquedas.
                    <br>
                    Diferente do método Static Line, no AFF você vai saltar de uma altura muito maior, permitindo uma queda livre de cerca de 40 segundos,
                    próximo dos 200kmph. Dois instrutores saltarão ao seu lado de forma a realizar correções pontuais durante a queda livre.
                    <br>
                    Após o acionamento do paraquedas, o aluno será orientado por um terceiro instrutor em terra, por meio de um rádio receptor acoplado em seu capacete.
                </p>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-list iconHeadingClass="fa-suitcase" iconItemClass="fa-angle-right">
                    <heading>O que levar</heading>
                    <item>Roupas esportivas</item>
                    <item>Tênis</item>
                    <item>Atestado médico com aptidão à práticas esportivas</item>
                </dl-list>

                <!--#################################################################################################-->

                <hr>

                <!--#################################################################################################-->

                <dl-list iconHeadingClass="fa-clock-o" iconItemClass="fa-angle-right">
                    <heading>Duração</heading>
                    <item>8 a 10 horas de aulas teóricas mais o primeiro salto</item>
                </dl-list>

                <!--#################################################################################################-->

            </dl-box>

            <dl-box name="Termos de uso"
                    iconClass="fa-file-text-o">
                <dl-list iconItemClass="fa-angle-right">
                    <item>O voucher é para uma pessoa</item>
                    <item>A idade mínima para o salto é 18 anos</item>
                    <item>Por questões de segurança, não será permitido o uso de qualquer câmera ou dispositivo semelhante</item>
                    <item>Após a confirmação do pagamento, o agendamento deve ser feito com o Droplife</item>
                    <item>Sua experiência deve ser agendada com no mínimo sete dias de antecedência</item>
                    <item>As condições climáticas podem afetar a data e hora agendadas para o salto</item>
                    <item>O curso AFF trata-se de um conjunto de sete saltos. Esta compra compreende apenas o curso teórico e o primeiro salto</item>
                    <item>Esta experiência é produzida pelo Centro Gaúcho de Paraquedismo</item>
                </dl-list>
            </dl-box>

            <dl-box name="LOCALIZAÇÃO"
                    iconClass="fa-map-marker">
                <google-maps latitude="-29.6974686"
                             longitude="-51.086209"
                             zoom="15"
                             type="roadmap">
                </google-maps>

                <!--#################################################################################################-->

                Rua Ana Terra, 10, Novo Hamburgo, RS - Aeroclube de NH

                <!--#################################################################################################-->

            </dl-box>
        </div>

        <div class="rightColumn">
            <dl-box name="O QUE ESTÁ INCLUSO"
                    iconClass="fa-check-circle">

                <!--#################################################################################################-->

                <dl-list iconItemClass="fa-check">
                    <item>Material didático para o curso teórico</item>
                    <item>Equipamentos de segurança</item>
                </dl-list>

                <!--#################################################################################################-->

            </dl-box>

            <dl-box>

                <!--################################-->

                <facebook-like-box></facebook-like-box>

                <!--################################-->

            </dl-box>

            <!--<dl-box name="DEPOIMENTOS"-->
            <!--iconClass="fa fa-comments-o">-->

            <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

            <!--<dl-comments>-->
            <!--<comment>-->

            <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

            <!--Depoimento de alguma pessoa sobre o produto-->

            <!--&lt;!&ndash;#########################################################################################&ndash;&gt;-->

            <!--</comment>-->
            <!--</dl-comments>-->

            <!--&lt;!&ndash;#################################################################################################&ndash;&gt;-->

            <!--</dl-box>-->
        </div>
    </div>

</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

<!--##################-->

<live-chat></live-chat>

<!--##################-->

</body>

<!--#######################################################-->
<script type="text/javascript"
        src="../../scripts/javascript/entry-points/detail.js">
</script>
<!--#######################################################-->

</html>