<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Todas as experiências disponibilizadas no Droplife estão aqui. As mais incríveis experiências de aventura, esportes e gastronomia.">
    <meta name="keywords" content="droplife,site de experiencias,marketplace de experiencias,turismo,aventura,natureza,adrenalina,gastronomia,passeio,lista de experiencias">

    <meta name="author" content="Droplife.com.br">
    <meta property="og:image" content="http://www.droplife.com.br/images/logo.png" />

    <title>Droplife - Lista de experiências</title>

    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/experiences.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script>
        Platform = {flags: {shadow: 'polyfill'}};
    </script>
    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/dl-product-card.html">
    <link rel="import" href="../templates/dl-footer.html">
    <link rel="import" href="../templates/user-report.html">
    <link rel="import" href="../templates/live-chat.html">
    <link rel="import" href="../templates/crazy-egg.html">
    <link rel="import" href="../templates/google-analytics.html">
</head>

<body unresolved>

<!--##############################-->
<google-analytics></google-analytics>
<!--##############################-->

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_2.jpg">
    <h1>EXPERIÊNCIAS</h1>
</dl-section-bar>

<!--############################################-->

<section class="main">

    <div class="cards">

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/trilha-das-aguas.jpg"
                         event="TRILHA DAS ÁGUAS"
                         price="R$ 271*"
                         location="Cambará do Sul"
                         url="detail-trilha-das-aguas.html">
        </dl-product-card>

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/travessia-josafaz.jpg"
                         event="TRAVESSIA JOSAFAZ"
                         price="R$ 1.011*"
                         location="Cambará do Sul"
                         url="detail-travessia-josafaz.html">
        </dl-product-card>

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/trilha-do-itaimbezinho.jpg"
                         event="TRILHA DO ITAIMBEZINHO"
                         price="R$ 292*"
                         location="Cambará do Sul"
                         url="detail-trilha-do-itaimbezinho.html">
        </dl-product-card>

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/rafting-aventura.jpg"
                         event="RAFTING AVENTURA"
                         price="R$ 280"
                         location="Três Coroas"
                         url="detail-rafting-aventura.html">
        </dl-product-card>

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/voo-duplo.jpg"
                         event="VOO DUPLO"
                         price="R$ 180"
                         location="Sapiranga/Nova Petrópolis"
                         url="detail-voo-duplo.html">
        </dl-product-card>

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/passeio-caiaque.jpg"
                         event="PASSEIO DE CAIAQUE"
                         price="R$ 170"
                         location="Porto Alegre"
                         url="detail-passeio-caiaque.html">
        </dl-product-card>

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/salto-duplo.jpg"
                         event="SALTO DUPLO"
                         price="R$ 490"
                         location="Novo Hamburgo"
                         url="detail-salto-duplo-a.html,detail-salto-duplo-b.html">
        </dl-product-card>

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/open-water-diver-i.jpg"
                         event="OPEN WATER DIVER I"
                         price="R$ 555"
                         location="Porto Alegre"
                         url="detail-open-water-diver-i.html">
        </dl-product-card>

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/paratrike.jpg"
                         event="PARATRIKE"
                         price="R$ 220"
                         location="Osório"
                         url="detail-paratrike.html">
        </dl-product-card>

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/travessia-stand-up-paddle.jpg"
                         event="A TRAVESSIA"
                         price="R$ 150"
                         location="Porto Alegre"
                         url="detail-travessia-stand-up-paddle.html">
        </dl-product-card>

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/curso-asl.jpg"
                         event="CURSO ASL"
                         price="R$ 650"
                         location="Novo Hamburgo"
                         url="detail-curso-asl.html">
        </dl-product-card>

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/curso-aff.jpg"
                         event="CURSO AFF"
                         price="R$ 1.060"
                         location="Novo Hamburgo"
                         url="detail-curso-aff.html">
        </dl-product-card>

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/stand-up-paddle.jpg"
                         event="AULA DE STAND UP PADDLE"
                         price="R$ 60"
                         location="Porto Alegre"
                         url="detail-stand-up-paddle.html">
        </dl-product-card>

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/instrucao-de-sup.jpg"
                         event="INSTRUÇÃO DE SUP"
                         price="R$ 100"
                         location="Porto Alegre"
                         url="detail-instrucao-de-sup.html">
        </dl-product-card>

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/aula-demonstrativa.jpg"
                         event="AULA DE PARAGLIDER"
                         price="R$ 180"
                         location="Sapiranga/Nova Petrópolis"
                         url="detail-aula-demonstrativa.html">
        </dl-product-card>

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/jantar-havaiano.jpg"
                         event="JANTAR HAVAIANO"
                         price="R$ 75"
                         location="Porto Alegre"
                         url="detail-jantar-havaiano.html">
        </dl-product-card>

        <!--############################################################-->



    </div>

</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

<!--#####################-->

<user-report></user-report>

<!--#####################-->

<!--##################-->

<live-chat></live-chat>

<!--##################-->

<!--##################-->

<crazy-egg></crazy-egg>

<!--##################-->

</body>

<!--#######################################################-->

<script type="text/javascript"
        src="../../scripts/javascript/entry-points/experiences.js">
</script>

<!--#######################################################-->

</html>
