<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DropLife - Vivendo a vida ao máximo</title>

    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/experiences.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/dl-product-card.html">
    <link rel="import" href="../templates/dl-footer.html">
</head>

<body>

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_2.jpg">
    EXPERIÊNCIAS
</dl-section-bar>

<!--############################################-->

<section class="main">
    <div class="cards">

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/stand-up-paddle.jpg"
                         event="AULA DE STAND UP PADDLE"
                         price="R$ 60,00"
                         location="Porto Alegre"
                         url="detail-stand-up-paddle.html">
        </dl-product-card>

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/rafting-aventura.jpg"
                         event="RAFTING AVENTURA"
                         price="R$ 280,00"
                         location="Três Coroas"
                         url="detail-rafting-aventura.html">
        </dl-product-card>

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/open-water-diver-i.jpg"
                         event="OPEN WATER DIVER I"
                         price="R$ 555,00"
                         location="Porto Alegre"
                         url="detail-open-water-diver-i.html">
        </dl-product-card>

        <!--############################################################-->

    </div>

    <div class="cards">

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/instrucao-de-sup.jpg"
                         event="INSTRUÇÃO DE SUP"
                         price="R$ 100,00"
                         location="Porto Alegre"
                         url="detail-instrucao-de-sup.html">
        </dl-product-card>

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/travessia-stand-up-paddle.jpg"
                         event="A TRAVESSIA"
                         price="R$ 150,00"
                         location="Porto Alegre"
                         url="detail-travessia-stand-up-paddle.html">
        </dl-product-card>

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/paratrike.jpg"
                         event="PARATRIKE"
                         price="R$ 220,00"
                         location="Osório"
                         url="detail-paratrike.html">
        </dl-product-card>

        <!--############################################################-->

    </div>
</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

</body>

<!--#######################################################-->

<script type="text/javascript"
        src="../../scripts/javascript/entry-points/experiences.js">
</script>

<!--#######################################################-->

</html>