<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sobre o Droplife. Manifesto e inspiração.">
    <meta name="keywords" content="droplife,site de experiencias,marketplace de experiencias,turismo,aventura,natureza,adrenalina,gastronomia,passeio,sobre o droplife">
    <meta name="author" content="Droplife.com.br">
    <meta property="og:image" content="http://www.droplife.com.br/images/logo.png" />

    <title>Droplife - Saia da rotina. Viva novas experiências</title>

    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/about.css" shim-shadowdom/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/dl-box.html">
    <link rel="import" href="../templates/dl-list.html">
    <link rel="import" href="../templates/dl-footer.html">
    <link rel="import" href="../templates/live-chat.html">
    <link rel="import" href="../templates/crazy-egg.html">
    <link rel="import" href="../templates/google-analytics.html">
</head>

<body unresolved>

<!--##############################-->
<google-analytics></google-analytics>
<!--##############################-->

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_1.jpg">
    <h1>SOBRE NÓS</h1>
</dl-section-bar>

<!--############################################-->

<section class="main">
    <div class="container">

      <!--############################################-->

        <div class="leftColumn">
            <dl-box>
                <ul>
                    <li><a href="about.html">Sobre nós</a></li>
                    <li><a href="partnership.html">Parceiros</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="manifesto.html">Manifesto</a></li>
                </ul>
            </dl-box>
        </div>

      <!--############################################-->

        <div class="rightColumn">
            <dl-box name="Perguntas frequentes">
                <h3>O Droplife é um site de compras coletivas?</h3>
                Não. E existem dois motivos principais para justificar esta resposta.
                Primeiro, não queremos oferecer promoções sazonais.
                Focamos em conteúdo e inspiração. Acreditamos que as pessoas terão uma vida mais completa se desfrutarem das experiências que propomos.
                E queremos que elas estejam lá por isso e não por uma ocasião de negócio.
                <br>
                Segundo, que a experiência dos fundadores deste site, no papel de clientes de compras coletivas, não foi positiva.
                Para os nossos parceiros, o alto volume de vendas gera overbooking, não maximiza a sua rentabilidade e, nem sempre gera a visibilidade esperada.

                <hr>

                <h3>Mas vocês trabalham com desconto?</h3>
                Em compras de grande volume, como para grupos de empresas, sim.

                <hr>

                <h3>Por que comprar do Droplife, se eu posso comprar direto do fornecedor?</h3>
                Pense na seguinte situação: se você quer presentear alguém, ou se mesmo você não sabe qual data poderá aproveitar a experiência, então o Droplife tem um diferencial.
                Você compra, recebe um voucher, e depois decide quando aproveitar.
                <br>
                Ah, não dá pra esquecer: pague online, com segurança, parcelando em até 18x. Isso é exclusividade!
                <br>
                Quer mais uma vantagem? Já fizemos todo o trabalho de escolher os melhores fornecedores das melhores atividades. Sim. Economizamos seu tempo de pesquisa sobre "onde pular de paraquedas".
                No Droplife, claro :)

                <hr>

                <h3>Posso parcelar minha compra?</h3>
                Sim! Aceitamos vários tipos de cartões de crédito. Parcelamento em até 18x.

                <hr>

                <h3>O que eu recebo após a compra?</h3>
                Um voucher no seu email. Esse será o seu passaporte para desfrutar a experiência, portanto leia-o atentamente.
                Lá estarão informações sobre o local da experiência, o valor, os termos de uso, e muito importante:
                as informações sobre o nosso parceiro. Você precisará contata-lo para agendar a atividade.

                <hr>

                <h3>Comprei hoje e quero usar o voucher amanhã. Pode isso?</h3>
                Não... Pedimos um prazo mínimo de sete dias para aproveitar a sua compra.
                Isso dá tempo para os nossos fornecedores organizarem a sua agenda.
                E não esqueça: após realizar a compra, você receberá um voucher que contém todas as informações do nosso parceiro.
                Você terá que agendas a experiência diretamente com ele.

                <hr>

                <h3>Continuo com dúvidas</h3>
                Envie para <a href="mailto:contato@droplife.com.br">contato@droplife.com.br</a>

            </dl-box>
        </div>

      <!--############################################-->

    </div>
</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

<!--##################-->

<live-chat></live-chat>

<!--##################-->

<!--##################-->

<crazy-egg></crazy-egg>

<!--##################-->

</body>

<!--#######################################################-->

<script type="text/javascript"
        src="../../scripts/javascript/entry-points/about.js">
</script>

<!--#######################################################-->

</html>
