<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DropLife - Vivendo a vida ao máximo</title>

    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/form.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/dl-footer.html">
    <link rel="import" href="../templates/google-analytics.html">

    <google-analytics domain="droplife.com.br" code="UA-46493116-3"></google-analytics>
</head>

<body>

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_1.jpg">
    FORMULÁRIO
</dl-section-bar>

<!--############################################-->

<section class="main">
    <form action="https://docs.google.com/forms/d/1u9oIKCf5fOWNhSNeLOLqKDZOBZE4_pkaB72USVudeJg/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol style="padding-left: 0">

        <div>
            Sabemos que formulários às vezes são chatos e entediantes, mas o padrão Droplife de apresentação de experiências requer um mínimo de descrição e dedicação sua. Vamos lá, preencher este aqui vai ser rápido.
        </div>
        <br>

        <div>
            <div dir="ltr">
                <div class="div-input">
                    <label aria-hidden="true" for="entry_200723554">
                        <div>Nome da empresa
                            <label for="itemView.getDomIdToLabel()" aria-label="(campo obrigatório)"></label>
                            <span>*</span>
                        </div>
                        <div dir="ltr"></div>
                    </label>
                    <input class="input" type="text" name="entry.200723554" value="" id="entry_200723554" dir="auto" aria-label="Nome da empresa  " aria-required="true" required="" title="" placeholder="Nome da sua empresa">
                </div>
            </div>
        </div>

        <div>
            <div dir="ltr">
                <div class="div-input">
                    <label aria-hidden="true" for="entry_914234321">
                        <div>Título da experiência
                            <label for="itemView.getDomIdToLabel()" aria-label="(campo obrigatório)"></label>
                            <span>*</span>
                        </div>
                        <div dir="ltr"></div>
                    </label>
                    <input class="input" type="text" name="entry.914234321" value="" id="entry_914234321" dir="auto" aria-label="Título da experiência  " aria-required="true" required="" title="" placeholder="Do que se trata a experiência? Ex.: Kitesurf na lagoa dos barros">
                </div>
            </div>
        </div>

        <div>
            <div dir="ltr">
                <div class="div-input">
                    <label aria-hidden="true" for="entry_1968203467">
                        <div>Local da experiência
                            <label for="itemView.getDomIdToLabel()" aria-label="(campo obrigatório)"></label>
                            <span>*</span>
                        </div>
                        <div dir="ltr"></div>
                    </label>
                    <input class="input" type="text" name="entry.1968203467" value="" id="entry_1968203467" dir="auto" aria-label="Local da experiência Endereço completo. Rua, número, cidade e estado. " aria-required="true" required="" title="" placeholder="Endereço completo. Rua, número, cidade e estado.">
                </div>
            </div>
        </div>

        <div>
            <div dir="ltr">
                <div class="div-input">
                    <label aria-hidden="true" for="entry_1392085974">
                        <div>Breve descrição
                            <label for="itemView.getDomIdToLabel()" aria-label="(campo obrigatório)"></label>
                            <span>*</span>
                        </div>
                        <div dir="ltr"></div>
                    </label>
                    <textarea class="input" name="entry.1392085974" rows="8" cols="0" id="entry_1392085974" dir="auto" aria-label="Breve descrição Como você descreveria a experiência/atividade em 140 caracteres. Seja criativo e incrível - assim como sua experiência. " aria-required="true" required="" placeholder="Como você descreveria a experiência/atividade em 140 caracteres. Seja criativo e incrível - assim como sua experiência."></textarea>
                </div>
            </div>
        </div>

        <div>
            <div dir="ltr">
                <div class="div-input">
                    <label aria-hidden="true" for="entry_105720962">
                        <div>O que está incluso
                            <label for="itemView.getDomIdToLabel()" aria-label="(campo obrigatório)"></label>
                            <span>*</span>
                        </div>
                        <div dir="ltr"></div>
                    </label>
                    <textarea class="input" name="entry.105720962" rows="8" cols="0" id="entry_105720962" dir="auto" aria-label="O que está incluso Quais serviços e equipamentos serão disponibilizados para o cliente " aria-required="true" required="" placeholder="Quais serviços e equipamentos serão disponibilizados para o cliente"></textarea>
                </div>
            </div>
        </div>

        <div>
            <div dir="ltr">
                <div class="div-input">
                    <label aria-hidden="true" for="entry_1023217170">
                        <div>O que levar
                            <label for="itemView.getDomIdToLabel()" aria-label="(campo obrigatório)"></label>
                            <span>*</span>
                        </div>
                        <div dir="ltr"></div>
                    </label>
                    <textarea class="input" name="entry.1023217170" rows="8" cols="0" id="entry_1023217170" dir="auto" aria-label="O que levar Forneça algumas dicas para seus clientes, como o que devem vestir e se há algo que eles devam levar para a atividade " aria-required="true" required="" placeholder="Forneça algumas dicas para seus clientes, como o que devem vestir e se há algo que eles devam levar para a atividade"></textarea>
                </div>
            </div>
        </div>

        <div>
            <div dir="ltr">
                <div class="div-input">
                    <label aria-hidden="true" for="entry_1365952663">
                        <div>A duração do evento
                            <label for="itemView.getDomIdToLabel()" aria-label="(campo obrigatório)"></label>
                            <span>*</span>
                        </div>
                        <div dir="ltr"></div>
                    </label>
                    <input class="input" type="text" name="entry.1365952663" value="" id="entry_1365952663" dir="auto" aria-label="A duração do evento Quantas minutos/horas/dias vai durar a atividade " aria-required="true" required="" title="" placeholder="Quantos minutos/horas/dias vai durar a atividade">
                </div>
            </div>
        </div>

        <div>
            <div dir="ltr">
                <div class="div-input">
                    <label aria-hidden="true" for="entry_564110584">
                        <div>Preço
                            <label for="itemView.getDomIdToLabel()" aria-label="(campo obrigatório)"></label>
                            <span>*</span>
                        </div>
                        <div dir="ltr"></div>
                    </label>
                    <input class="input" type="text" name="entry.564110584" value="" id="entry_564110584" dir="auto" aria-label="Preço Se você quiser nos ligar para conversar sobre isso, fique à vontade :) " aria-required="true" required="" title="" placeholder="Se você quiser nos ligar para conversar sobre isso, fique à vontade :)">
                </div>
            </div>
        </div>

        <div>
            <div dir="ltr">
                <div class="div-input">
                    <label aria-hidden="true" for="entry_1427671646">
                        <div>Disponibilidade
                            <label for="itemView.getDomIdToLabel()" aria-label="(campo obrigatório)"></label>
                            <span>*</span>
                        </div>
                        <div dir="ltr"></div>
                    </label>
                    <textarea class="input" name="entry.1427671646" rows="8" cols="0" id="entry_1427671646" dir="auto" aria-label="Disponibilidade Seja específico. Cite os dias e frequência que o evento poderá ser disponibilizado no Droplife. " aria-required="true" required="" placeholder="Seja específico. Cite os dias e frequência que o evento poderá ser disponibilizado no Droplife."></textarea>
                </div>
            </div>
        </div>

        <input type="hidden" name="draftResponse" value="[,,&quot;-8034669905040910947&quot;]">
        <input type="hidden" name="pageHistory" value="0">
        <input type="hidden" name="fromEmail" value="false">

        <input type="hidden" name="fbzx" value="-8034669905040910947">

        <div>
            <table id="navigation-table">
                <tbody>
                <tr>
                    <td id="navigation-buttons" dir="ltr">
                        <input type="submit" name="submit" value="Enviar" id="ss-submit">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </ol>
    </form>

</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

</body>

<!--#######################################################-->

<script type="text/javascript"
        src="../../scripts/javascript/entry-points/form.js">
</script>

<!--#######################################################-->

</html>