<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DropLife - Vivendo a vida ao máximo</title>

    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/index.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-product-banner.html">
    <link rel="import" href="../templates/dl-product-card.html">
    <link rel="import" href="../templates/dl-button.html">
    <link rel="import" href="../templates/dl-footer.html">
</head>

<body>

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<section class="banner">
    <div class="products">
        <ul>

            <!--###############################################################-->

            <li>
                <dl-product-banner image="../../images/products/banners/slide-1.jpg"
                                   eventFirstRow="A MELHOR"
                                   eventSecondRow="EXPERIÊNCIA"
                                   price=""
                                   location="DESCUBRA">
                </dl-product-banner>
            </li>

            <!--###############################################################-->

            <li>
                <dl-product-banner image="../../images/products/banners/slider-2.jpg"
                                   eventFirstRow="CACE OU"
                                   eventSecondRow="SEJA CAÇADO"
                                   price=""
                                   location="PORTO ALEGRE">
                </dl-product-banner>
            </li>

            <!--###############################################################-->

            <li>
                <dl-product-banner image="../../images/products/banners/slider-3.jpg"
                                   eventFirstRow="CAMINHE SOBRE"
                                   eventSecondRow="A ÁGUA"
                                   price=""
                                   location="PORTO ALEGRE">
                </dl-product-banner>
            </li>

            <!--###############################################################-->

            <li>
                <dl-product-banner image="../../images/products/banners/slider-4.jpg"
                                   eventFirstRow="CAMINHE SOBRE"
                                   eventSecondRow="A ÁGUA"
                                   price=""
                                   location="PORTO ALEGRE">
                </dl-product-banner>
            </li>

            <!--###############################################################-->

            <li>
                <dl-product-banner image="../../images/products/banners/slider-5.jpg"
                                   eventFirstRow="CAMINHE SOBRE"
                                   eventSecondRow="A ÁGUA"
                                   price=""
                                   location="PORTO ALEGRE">
                </dl-product-banner>
            </li>

            <!--###############################################################-->

        </ul>
    </div>
</section>

<section class="main">
    <div class="cards">

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/stand-up-paddle.jpg"
                         event="DESÇA A CORREDEIRA"
                         price="R$ 500,00"
                         location="Porto Alegre"
                         url="detail.html">
        </dl-product-card>

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/rafting-aventura.jpg"
                         event="CACE OU SEJA CAÇADO"
                         price="R$ 500,00"
                         location="Porto Alegre"
                         url="detail.html">
        </dl-product-card>

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/open-water-diver-i.jpg"
                         event="CAMINHE SOBRE A ÁGUA"
                         price="R$ 500,00"
                         location="Porto Alegre"
                         url="detail.html">
        </dl-product-card>

        <!--############################################################-->

    </div>
</section>

<!--################-->

<dl-footer>

    <!--##################################################################################-->

    <dl-button url="../html/experiences.html">
        MAIS EXPERIÊNCIAS
    </dl-button>

    <!--##################################################################################-->

    <div class="message">
        O <b>DROPLIFE</b> leva até você estilo de vida.
        <br>Mais do que comprar produtos, prezamos pela <b>experiência</b> acima de tudo
        <br>e trabalhamos para criar e levar até você <b>momentos únicos</b>.
    </div>

    <!--##################################################################################-->

</dl-footer>

<!--################-->

</body>

<!--######################################################-->

<script type="text/javascript"
        src="../../scripts/javascript/entry-points/index.js">
</script>

<!--######################################################-->

</html>