<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Saia da rotina. Viva novas experiencias. O Droplife proporciona adrenalina, entretenimento, aventura, lazer e diversão.">
    <meta name="keywords" content="droplife,site de experiencias,marketplace de experiencias,turismo,aventura,natureza,adrenalina,gastronomia,passeio,sair da rotina,o que fazer no fim de semana,fazer uma aventura,">
    <meta name="author" content="Droplife.com.br">
    <meta property="og:image" content="http://www.droplife.com.br/images/logo.png" />

    <title>Droplife - Saia da rotina. Viva novas experiências!</title>

    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/index.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-product-banner.html">
    <link rel="import" href="../templates/dl-product-card.html">
    <link rel="import" href="../templates/dl-button.html">
    <link rel="import" href="../templates/dl-footer.html">
    <link rel="import" href="../templates/live-chat.html">
    <link rel="import" href="../templates/crazy-egg.html">
    <link rel="import" href="../templates/google-analytics.html">
</head>

<body unresolved>

<!--##############################-->
<google-analytics></google-analytics>
<!--##############################-->

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<section class="banner">
    <div class="products">
        <ul>

            <!--###############################################################-->

            <li>
                <dl-product-banner image="../../images/products/banners/slide-1.jpg"
                                   caption="VIVA UMA"
                                   titleFirstRow="NOVA"
                                   titleSecondRow="PERSPECTIVA">
                </dl-product-banner>
            </li>

            <!--###############################################################-->

            <li>
                <dl-product-banner image="../../images/products/banners/slider-2.jpg"
                                   caption="DESCUBRA"
                                   titleFirstRow="A MELHOR"
                                   titleSecondRow="EXPERIÊNCIA">
                </dl-product-banner>
            </li>

            <!--###############################################################-->

            <li>
                <dl-product-banner image="../../images/products/banners/slider-3.jpg"
                                   titleFirstRow="A VIDA É UMA"
                                   titleSecondRow="AVENTURA">
                </dl-product-banner>
            </li>

            <!--###############################################################-->

            <li>
                <dl-product-banner image="../../images/products/banners/slider-4.jpg"
                                   caption="EXPERIMENTE"
                                   titleFirstRow="NOVAS OPÇÕES"
                                   titleSecondRow="DE LAZER">
                </dl-product-banner>
            </li>

            <!--###############################################################-->

            <li>
                <dl-product-banner image="../../images/products/banners/slider-5.jpg"
                                   caption="QUANTO"
                                   titleFirstRow="MENOS ROTINA"
                                   titleSecondRow="MAIS VIDA">
                </dl-product-banner>
            </li>

            <!--###############################################################-->

        </ul>
    </div>
</section>

<section class="main">
    <div class="cards">

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/rafting-aventura.jpg"
                         event="RAFTING AVENTURA"
                         price="R$ 280,00"
                         location="Três Coroas"
                         url="detail-rafting-aventura.html">
        </dl-product-card>

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/jantar-havaiano.jpg"
                         event="JANTAR HAVAIANO"
                         price="R$ 70,00"
                         location="Porto Alegre"
                         url="detail-jantar-havaiano.html">
        </dl-product-card>

        <!--############################################################-->

        <dl-product-card image="../../images/products/cards/salto-duplo.jpg"
                         event="SALTO DUPLO"
                         price="R$ 690,00"
                         location="Novo Hamburgo"
                         url="detail-salto-duplo-a.html,detail-salto-duplo-b.html">
        </dl-product-card>

        <!--############################################################-->


    </div>
</section>

<!--##################-->

<dl-footer>
    <div class="message">

        <!--##################################################################################-->

        <dl-button url="../html/experiences.html">
            MAIS EXPERIÊNCIAS
        </dl-button>

        <!--##################################################################################-->

        <div class="words">
            O <b>DROPLIFE</b> leva até você estilo de vida.
            <br>Mais do que comprar produtos, prezamos pela <b>experiência</b> acima de tudo
            <br>e trabalhamos para criar e levar até você <b>momentos únicos</b>.
        </div>

        <!--##################################################################################-->

    </div>
</dl-footer>

<!--##################-->

<live-chat></live-chat>

<!--##################-->

<!--##################-->

<crazy-egg></crazy-egg>

<!--##################-->

</body>

<!--######################################################-->

<script type="text/javascript"
        src="../../scripts/javascript/entry-points/index.js">
</script>

<!--######################################################-->

</html>
