<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sobre o Droplife. Manifesto e inspiração.">
    <meta name="keywords" content="droplife,site de experiencias,marketplace de experiencias,turismo,aventura,natureza,adrenalina,gastronomia,passeio,sobre o droplife">
    <meta name="author" content="Droplife.com.br">
    <meta property="og:image" content="http://www.droplife.com.br/images/logo.png" />

    <title>Droplife - Saia da rotina. Viva novas experiências</title>

    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/about.css" shim-shadowdom/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-nav-bar.html">
    <link rel="import" href="../templates/dl-section-bar.html">
    <link rel="import" href="../templates/dl-box.html">
    <link rel="import" href="../templates/dl-list.html">
    <link rel="import" href="../templates/dl-footer.html">
    <link rel="import" href="../templates/live-chat.html">
    <link rel="import" href="../templates/crazy-egg.html">
    <link rel="import" href="../templates/google-analytics.html">
</head>

<body unresolved>

<!--##############################-->
<google-analytics></google-analytics>
<!--##############################-->

<!--##################-->

<dl-nav-bar></dl-nav-bar>

<!--##################-->

<!--############################################-->

<dl-section-bar image="../../images/section_1.jpg">
    <h1>SOBRE NÓS</h1>
</dl-section-bar>

<!--############################################-->

<section class="main">
    <div class="container">

      <!--############################################-->

        <div class="leftColumn">
            <dl-box>
                <ul>
                    <li><a href="about.html">Sobre nós</a></li>
                    <li><a href="partnership.html">Parceiros</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="manifesto.html">Manifesto</a></li>
                </ul>
            </dl-box>
        </div>

      <!--############################################-->

        <div class="rightColumn">
            <dl-box name="Parceiros">
                O Droplife não existiria sem os seus parceiros.
                <br>
                São eles que geram e realizam a grande parte das experiências propostas neste site.
                Juntos, somos apaixonados por aventura e estilo de vida diferenciado.
                <br>
                Se você, de qualquer forma, se interessa pela nossa proposta, possui alguma ideia e acredita que possamos trabalhar juntos,
                envie um email para <a href="mailto:parceiros@droplife.com.br">parceiros@droplife.com.br</a>
            </dl-box>
        </div>

      <!--############################################-->

    </div>
</section>

<!--################-->

<dl-footer></dl-footer>

<!--################-->

<!--##################-->

<live-chat></live-chat>

<!--##################-->

<!--##################-->

<crazy-egg></crazy-egg>

<!--##################-->

</body>

<!--#######################################################-->

<script type="text/javascript"
        src="../../scripts/javascript/entry-points/about.js">
</script>

<!--#######################################################-->

</html>
