<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Saia da rotina. Viva novas experiencias. O Droplife proporciona adrenalina, entretenimento, aventura, lazer e diversão.">
    <meta name="keywords"
          content="esporte,adrenalina,experiencia,experiência,experiencias,experiências,lazer,radical,entretenimento,aventura,perspectiva,rotina,diversão,vida">

    <meta name="author" content="Droplife.com.br">
    <meta property="og:image" content="http://www.droplife.com.br/images/logo.png" />

    <title>Droplife - Saia da rotina. Viva novas experiências</title>

    <link rel="shortcut icon" href="../../images/favicon.ico"/>
    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/pay-return.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-button.html">
    <link rel="import" href="../templates/facebook-like-box.html">
    <link rel="import" href="../templates/google-analytics.html">
</head>

<body unresolved>

<!--##############################-->
<google-analytics></google-analytics>
<!--##############################-->

<section class="main">
    <div class="successful-message">
        <div class="congratulations">
            PARABÉNS
        </div>

        <div class="purchase">
            POR SUA COMPRA
        </div>
    </div>

    <div class="enjoy-experience">
        Esperamos que você aproveite ao máximo esta experiência.<br>
        Após a confirmação do pagamento, você receberá um voucher por email.<br>
        Verifique suas configurações de spam para ter certeza de que receberá corretamente.
    </div>

    <div class="like">
        CURTA O DROPFILE E FIQUE POR DENTRO DAS NOVIDADES
    </div>

    <facebook-like-box></facebook-like-box>

    <hr>

    <div class="questions-contact">
        Qualquer dúvida ou problema com o seu cupom, entre em contato:<br><br>
        <a href="mailto:contato@droplife.com.br"><i class="fa fa-envelope-o"></i>
            <strong>contato@droplife.com.br</strong></a><br>
        <a href="tel:555130139030"><i class="fa fa-phone"></i> <strong>+55 (51) 3013 9030</strong></a><br><br>
        De segunda a sexta, das 10:00 às 18:00.
    </div>

    <dl-button url="../html/experiences.html">
        CONHEÇA MAIS EXPERIÊNCIAS
    </dl-button>
</section>

</body>

<!--#######################################################-->

<script type="text/javascript"
        src="../../scripts/javascript/entry-points/pay-return.js">
</script>

<!--#######################################################-->

</html>