<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DropLife - Vivendo a vida ao máximo</title>

    <link rel='stylesheet' type='text/css' href="../../styles/scss/entry-points/terms-of-use.css"/>
    <link rel='stylesheet' type='text/css' href="../../libs/font-awesome/css/font-awesome.css"/>

    <script src="../../libs/platform/platform.js"></script>
    <link rel="import" href="../templates/dl-box.html">
</head>

<body>

<section class="main">
    <dl-box name="Termos de uso"
            iconClass="fa-file-text-o">

    <!--#############################################################################################################-->

    <br><strong>LIGHTHOUSE INNOVATION & TECHNOLOGY S/A</strong>
    <br>CNPJ/MF nº. 10.743.066/0001-25
    <br>Av. Borges de Medeiros, 2500, sala 1909, 19o andar | Bairro Praia de Belas 90110-150 | Porto Alegre - RS | Brasil
    <br>
    <br><strong>POLÍTICA DE CONSUMO DROPLIFE</strong>
    <br> 
    <br><strong>SUMÁRIO</strong>
    <br> 
    <br>I. ESCLARECIMENTOS GERAIS
    <br>1. O QUE É A LIGHTHOUSE?
    <br>2. O QUE É O DROPLIFE?
    <br>3. COMO FUNCIONA O DROPLIFE?
    <br>4. QUAL A VANTAGEM DESSAS EMPRESAS EM PUBLICAR SEUS PRODUTOS DIRETAMENTE NO DROPLIFE?
    <br>5. OS PRODUTOS OU SERVIÇOS POSSUEM A MESMA QUALIDADE DAQUELES COMERCIALIZADAS NO MERCADO, FORA DO SISTEMA DE E-COMMERCE LOCAL?
    <br>6. O PREÇO E CONDIÇÕES DA OFERTA ANUNCIADA DEVEM SER GARANTIDOS AO CONSUMIDOR?
    <br>7. COMPRAR PELO DROPLIFE É SEGURO?
    <br>8. COMO FAÇO PARA CONFIRMAR A AUTENTICIDADE DAS OFERTAS?
    <br>9. COMO FAÇO PARA COMPRAR UMA OFERTA DO DROPLIFE?
    <br>
    <br>II. ORIENTAÇÕES BÁSICAS 
    <br>10. QUAIS SÃO AS REGRAS GERAIS PRATICADAS PELO DROPLIFE?
    <br>11. PODE HAVER LIMITAÇÃO NA QUANTIDADE DE OFERTAS ANUNCIADAS?
    <br> 
    <br>III. DIREITOS DOS CONSUMIDORES
    <br>12. QUAIS SÃO OS DIREITOS ASSEGURADOS AOS CONSUMIDORES DO Droplife?
    <br>13. QUAIS SÃO OS DIREITOS ASSEGURADOS NO CÓDIGO DE DEFESA DO CONSUMIDOR?
    <br>14. COMPREI O PRODUTO E ME ARREPENDI, COMO DEVO PROCEDER?
    <br>15. COMPREI UM SERVIÇO ME ARREPENDI, COMO DEVO PROCEDER?
    <br>16. PRECISO CANCELAR UMA COMPRA. COMO DEVO PROCEDER?
    <br>17. EM QUAIS HIPÓTESES NÃO É POSSÍVEL FAZER O CANCELAMENTO DA MINHA COMPRA?
    <br>18. O PRODUTO OU SERVIÇO QUE COMPREI ESTÁ COM DEFEITO (VÍCIO DE QUALIDADE OU QUANTIDADE). COMO DEVO PROCEDER?
    <br>19. QUAL O PRAZO PARA RECLAMAR DO VÍCIO (QUALIDADE/ QUANTIDADE) DO PRODUTO?
    <br> 
    <br>IV. POLÍTICA DE PRIVACIDADE 
    <br>20. QUAL A PRIVACIDADE QUE TEREI EM REPASSAR MEUS DADOS AO Droplife? 
    <br>21. O Droplife UTILIZA-SE DE COOKIES PARA PERSONALIZAR MEUS PRÓXIMOS ACESSOS? 
    <br>22. VOU RECEBER E-MAIL DO Droplife? 
    <br>23. COMO FAÇO PARA CANCELAR O RECEBIMENTO DO E-MAIL DO Droplife?
    <br>24. E SE A LEI EXIGIR A DISPONIBILIZAÇÃO DE DADOS A TERCEIROS?
    <br>25. QUERO SABER MEUS DADOS CADASTRADOS NO Droplife, COMO FAÇO?
    <br> 
    <br>V. DOS DIREITOS DO Droplife
    <br>26. VI QUE TENHO DIVERSOS DIREITOS ASSEGURADOS, PORÉM, QUAIS SÃO MINHAS OBRIGAÇÕES PERANTE O Droplife? 
    <br>27. E NOS CASOS EM QUE CONSUMIDORES TENTAM BURLAR O Droplife?
    <br>28. O Droplife PODERÁ CANCELAR AUTOMATICAMENTE O MEU CADASTRO?
    <br>29. COMO SE DÁ O RESPEITO À PROPRIEDADE INTELECTUAL DO Droplife?
    <br>30. QUEM PODE REALIZAR O CADASTRO NO Droplife?
    <br>31. HÁ ALGUMA OUTRA INFORMAÇÃO RELEVANTE QUE EU PRECISE SABER?
    <br> 
    <br>VI. LI E ENTENDI. MAS QUERO RECLAMAR
    <br>32. APESAR DAS DISPOSIÇÕES AQUI DESTACADAS, ME SINTO LESADO. COM QUEM POSSO RECLAMAR?
    <br> 
    <br><em>Prezados consumidores,
    <br>Nós do Droplife, retribuindo a confiança depositada em nossos serviços, com total transparência e respeito a você, consumidor, apresentamos abaixo nossa Política de Consumo.
    <br>É importante realizar uma leitura atenta deste documento, pois diversas dúvidas e perguntas frequentes podem ser esclarecidas no texto abaixo. Além disso, a compra das ofertas no site do Droplife (http://www.droplife.com.br) implica na aceitação das regras aqui descritas.
    <br>Uma dica: antes de realizar qualquer compra, leia também as regras específicas aplicáveis a cada oferta, principalmente com relação aos prazos e condições de entrega (no caso de compra de produtos), a disponibilidade de datas (para ofertas que impliquem em agendamento dos serviços). Lembramos que, mesmo tendo um departamento de qualidade (que analisa e avalia cada parceiro que divulga ofertas no Droplife), é importante que você o conheça, afinal, você estará fazendo um negócio com essa empresa também. Em caso de dúvidas, nossa Central de Atendimento do Consumidor terá o prazer de atendê-lo, prontamente, no telefone (51) 3013-9030 ou enviando um e-mail para contato@droplife.com.br.
    <br>Boa leitura!</em>
    <br> 
    <br><strong>I. ESCLARECIMENTOS GERAIS</strong>
    <br> 
    <br>1. O QUE É A LIGHTHOUSE?
    <br>A Lighthouse Innovation & Technology S/A é um grupo que agrega diversas marcas e produtos, dentre eles o Droplife. Sua operação teve início em 2013 com a abertura de dois escritórios: Porto Alegre, Rio Grande do Sul e San Jose, no Vale do Silício, Califórnia, EUA. O negócio da Lighthouse é desenvolver ideias inovadoras. Este processo complexo e minucioso é conduzido por uma equipe especialista em desenvolvimento de produtos e serviços.
    <br>Saiba mais sobre nós. Compartilhe suas ideias e, quem sabe, venha ser nosso parceiro: www.grouplighthouse.com
    <br>
    <br>2. O QUE É O DROPLIFE?
    <br>Com o início da operação em 2014, o Droplife divulga, as melhores ofertas de lazer, gastronomia, serviços e produtos a preços super vantajosos, em diversos estados do Brasil e alguns países da américa latina! Temos um time inteiramente dedicado em trazer ao consumidor experiências inesquecíveis! O Droplife nasceu da ideia de que há inúmeras opções de produtos e serviços relacionados à experiência no mercado, que o consumidor desconhece. Estas experiências, em suma, estão vinculadas a uma vida fora da zona de conforto e do cotidiano comum da rotina. Como consequência a esta rotina, essa pessoa deixa de experimentar diferentes alternativas que determinada região tem a oferecer. Para evitar a mesmice e incentivar a busca por novas experiências, nosso objetivo é levar até vocês, diferentes opções de lazer, produtos e serviços que a vida tem para oferecer. O Droplife quer tornar a vida de seus consumidores mais divertida e menos preguiçosa.
    <br>Para que isso aconteça, temos como princípio básico tratar o nosso consumidor como gostaríamos de sermos tratados! Por esse motivo, selecionamos com muito critério os nossos parceiros (que promovem seus produtos e serviços em nosso site). Isso quer dizer, também, que não queremos vender pegadinhas, ilusões ou problemas. Nós estamos verdadeiramente comprometidos em oferecer a vocês o que houver de melhor na vida. Investimos continuamente no atendimento ao cliente, porque, assim como vocês, nós também não gostamos de esperar eternamente na linha para falar com um atendente, ou esperar dias para obter uma resposta.
    <br> 
    <br>3. COMO FUNCIONA O DROPLIFE?
    <br>O Droplife não vende produtos e nem presta os serviços divulgados em nosso site. Tudo o que você vê ofertado em nosso site é vendido através de empresas terceiras.
    <br>Nosso trabalho é negociar e desenvolver com esses parceiros experiências extremamente vantajosas para o consumidor, que vão ao ar somente depois de um criterioso processo de seleção. Isso quer dizer que o papel do Droplife é proporcionar o seu acesso a produtos ou serviços, que serão prestados ou fornecidos por um estabelecimento comercial terceiro. A nossa remuneração vem através de comissões sobre as vendas das experiências divulgadas em nosso site.
    <br>O nosso negócio permite que tanto grandes como pequenas empresas tenham a possibilidade de utilizar a internet como ferramenta de promoção e vendas. Muitas empresas, provavelmente, jamais conseguiriam fazer suas ofertas chegarem a um público tão amplo, se não fosse por meio da estrutura de vendas do Droplife.
    <br>Os termos e condições das ofertas, bem como a prestação dos serviços ou venda dos produtos, são todos estabelecidos ou realizados diretamente por essas empresas parceiras. E, por isso, é tão importante que o consumidor também confie nessa empresa, e reporte ao Droplife qualquer problema que eventualmente tiver com ela para que possamos tomar as devidas providências, afinal, você, consumidor, é a razão de ser do nosso negócio, e nós não queremos parceiros que não te ofereçam uma experiência incrível!
    <br>
    <br>4. QUAL A VANTAGEM DESSAS EMPRESAS EM PUBLICAR SEUS PRODUTOS DIRETAMENTE NO DROPLIFE?
    <br>As empresas que promovem suas experiências por meio do Droplife conseguem aumentar seu volume de vendas através da visibilidade da sua marca e de seus produtos e serviços.
    <br>Além disso, é uma ótima estratégia para atrair novos clientes ou reativar os antigos. É uma oportunidade ímpar de fazer com que mais pessoas experimentem seu produto ou serviço. Isso sem contar o poder de disseminação desses consumidores, que ao terem uma experiência positiva, costumam divulgar a empresa, além de, muitas vezes, tornarem-se clientes do nosso parceiro.
    <br>Como se não bastasse, o Droplife também possui uma equipe especialista que colabora com seus fornecedores parceiros, de forma a agregar conteúdo e desenvolver experiências exclusivas.
    <br> 
    <br>5. OS PRODUTOS OU SERVIÇOS POSSUEM A MESMA QUALIDADE DAQUELES COMERCIALIZADAS NO MERCADO, FORA DO SISTEMA DE E-COMMERCE LOCAL?
    <br>Sim. Ao fechar um acordo com o Droplife, as empresas se comprometem, por contrato, a oferecerem produtos e serviços na mesma qualidade daqueles já praticados por elas no mercado. Se comprometem, também, a somente oferecer e entregar produtos e serviços originais, lícitos e permitidos pelas autoridades competentes e devidamente de acordo com as leis vigentes no Brasil.
    <br>Para que isso ocorra, o Droplife vem trabalhando incansavelmente nas estratégias de controle dessas ofertas. E você pode nos ajudar, reportando qualquer irregularidade para qualquer um de nossos canais de atendimento, seja pelo telefone (51) 3013-9030 ou e-mail: contato@droplife.com.br.
    <br> 
    <br>6. O PREÇO E CONDIÇÕES DA OFERTA ANUNCIADA DEVEM SER GARANTIDOS AO CONSUMIDOR?
    <br>Sim. Todos os produtos e serviços ofertados em nosso site devem ser fornecidos exatamente iguais aos que foram veiculados e nas exatas condições da oferta. Por esse motivo, é sempre importante ler toda a descrição da oferta atentamente, antes de realizar a compra. Qualquer irregularidade, por favor, entre em contato imediatamente com a nossa Central de Atendimento do Consumidor, pelo telefone (51) 3013-9030 ou e-mail: contato@droplife.com.br.
    <br>
    <br>7. COMPRAR PELO DROPLIFE É SEGURO?
    <br>Sim. Os dados de sua compra são transmitidos diretamente para um servidor seguro, que processará o pagamento. Mas há diversas dicas para que você evite problemas e caia em armadilhas, quando comprando conosco, conforme a seguir:
    <br>a) Você deve sempre verificar o site que está navegando. Nossas ofertas são veiculadas exclusivamente nos endereços http://www.droplife.com.br/ e http://droplife.com.br/. Se você tiver acessado um site com endereço diferente desses dois, ou tiver recebido informações por e-mails ou outros canais de mídia para acessar o site através de outro endereço, desconfie!
    <br>b) Além disso, toda compra no Droplife é confirmada somente através da emissão de um voucher, que você receberá através do e-mail cadastrado. Esse voucher da compra que é gerado pelo Droplife segue um padrão determinado, conforme detalhes a seguir:  I) O voucher original contém todas as regras da oferta (aquelas que você lê no site, disponíveis para todas as ofertas);
    <br>II) O código de segurança é impresso em todos os vouchers comprados;
    <br>III) O telefone do Parceiro, que é a empresa que vai prestar o serviço ou entregar o produto que você comprou, é sempre disponibilizado no voucher;
    <br>IV) Os dados pessoais do comprador nunca são informados no voucher; ou seja, esses cupons não são nominais.
    <br>c) Esteja atento, também, às formas de pagamento aceitas pelo Droplife. Serão aceitas as formas de pagamento disponibilizadas pelo nosso parceiro pagseguro.
    <br>I) Cartões de crédito: parcelamento em até 18 vezes;
    <br>II) Débito bancário: faça o pagamento diretamente em sua conta corrente;
    <br>III) Boleto bancário: imprima e pague no banco mais próximo, ou digite o código de barras em seu internet banking;
    <br>IV) Carteira eletrônica: se você tem saldo no PagSeguro, basta inserir seu e-mail e senha para concluir seus pagamentos.
    <br>V) Depósito em conta: para efetuar seu pagamento, faça um depósito em conta diretamente no caixa eletrônico do banco.
    <br> 
    <br>8. COMO FAÇO PARA CONFIRMAR A AUTENTICIDADE DAS OFERTAS?
    <br>O Droplife atua incansavelmente para tirar essas ofertas falsas do ar e para punir os infratores civil e criminalmente. Para evitar cair em armadilhas, acesse nossas ofertas apenas pelo site www.droplife.com.br. As dicas e esclarecimentos feitos no item 6 desta Política de Consumo também são valiosos. Recomendamos a leitura atenta. E, sempre que houver dúvida ou algum indício de irregularidade, entre em contato imediatamente a com nossa Central de Atendimento do Consumidor no telefone (51) 3013-9030 ou e-mail contato@droplife.com.br.
    <br> 
    <br>9. COMO FAÇO PARA COMPRAR UMA OFERTA DO DROPLIFE?
    <br>Para ter acesso às ofertas do Droplife, entre no site www.droplife.com.br.
    <br>Na página da oferta você tem acesso a todas as condições da venda, dentre as quais o preço, a empresa que está realizando a venda do produto ou serviço e suas respectivas informações, a validade dos cupons, as regras aplicáveis etc.
    <br>Antes de realizar a compra, leia atentamente as condições da oferta e procure se informar sobre a empresa ofertante do produto ou do serviço, bem como sobre o produto e serviço em si. Isso irá aumentar bastante as chances de você ter uma boa experiência de compra. Em caso de dúvidas, contate a nossa Central de Atendimento no telefones (51) 3013-9030 ou e-mail contato@droplife.com.br.
    <br>Nossos parceiros nos disponibilizam um determinado número de ofertas, de acordo com a sua agenda. O controle deste estoque de produtos é controlado pelo sistema do Droplife, de forma que da indisponibilidade de um produto ou serviço, isto é explicitado na descrição da oferta (produto indisponível) e o usuário será incapaz de efetuar a compra.
    <br>Ao realizar a compra de um cupom, você irá receber, em até 24 horas após o encerramento da oferta, um e-mail com o seu voucher.  
    <br>O seu cupom é o comprovante da sua compra. Fique esperto, pois algumas vezes você precisará validá-lo para que possa usufruir do serviço ou receber o produto. As formas e condições de validação estarão disponíveis no site da oferta, assim como os termos e regras da compra, então, sempre leia e se atente a esses detalhes.
    <br> 
    <br><strong>II. ORIENTAÇÕES BÁSICAS</strong>
    <br> 
    <br>10. QUAIS SÃO AS REGRAS GERAIS PRATICADAS PELO DROPLIFE?
    <br>Há dois tipos de regras que os consumidores devem observar: as gerais, descritas aqui, e as específicas de cada oferta, que determinarão as condições exclusivas daquela determinada compra.
    <br>As regras gerais praticadas para toda e qualquer oferta são:
    <br>a) O cupom (voucher) não poderá ser trocado por dinheiro, isto é, você não pode solicitar a empresa parceira que troque o seu voucher por dinheiro. Se você desejar e for elegível para cancelamento da compra e respectivo estorno ou reembolso, você precisa solicitar isso diretamente ao Droplife, através de nossa Central de Atendimento ao Consumidor;
    <br>b) O cupom é válido para uma única visita ao estabelecimento (exceto casos de pacotes de serviços, tais como os de estética, que o consumidor irá a mais de uma sessão);
    <br>c) O cupom deve ser utilizado em sua totalidade, não podendo ser utilizado parcialmente. Exemplo disso são as ofertas de jantar para duas pessoas. Não será possível ir uma pessoa num dia e outra no outro;
    <br>d) Caso o cupom não seja utilizado em sua totalidade, não haverá reembolso ou trocas por outras ofertas;
    <br>e) Não há devolução de troco, ou seja, se você adquiriu créditos, por exemplo, e desejar utilizá-los para compra de produtos ou serviços nas empresas parceiras com valores inferiores ao do crédito, não haverá devolução de troco. Nesse caso, os créditos devem ser utilizados integralmente;
    <br>f) Quando houver a necessidade de agendamento, você deverá mencionar que é um cliente Droplife para garantir a utilização do cupom;
    <br>g) Os agendamentos realizam-se em função da disponibilidade da empresa que oferece o desconto. O prazo para realização do agendamento constará nas regras da oferta. Fique atento!;
    <br>h) O consumidor deve apresentar cupom impresso e legível no dia do atendimento;
    <br>i) O cupom não é cumulativo com outras ofertas do Droplife, e nem com promoções vigentes do estabelecimento parceiro.
    <br> 
    <br>11. PODE HAVER LIMITAÇÃO NA QUANTIDADE DE OFERTAS ANUNCIADAS?
    <br>Sim. O Droplife e a empresa parceira (fornecedor) podem limitar tanto a quantidade de cupons que podem ser adquiridos por uma mesma pessoa, quanto o limite de consumo (ex.: no caso de um restaurante, pode-se estabelecer o limite de apenas um cupom por visita, sendo um cupom por mesa). Além disso, como forma de controle de qualidade, limitamos, também, o número de cupons que o parceiro pode ofertar no nosso site, com base em um cálculo na disponibilidade de estoque ou capacidade técnica e física de atendimento. Essas informações constarão todas nas regras da oferta.
    <br> 
    <br><strong>III. DIREITOS DOS CONSUMIDORES</strong>
    <br> 
    <br>12. QUAIS SÃO OS DIREITOS ASSEGURADOS AOS CONSUMIDORES DO DROPLIFE?
    <br>O Droplife reconhece a aplicação integral do Código de Defesa do Consumidor (Lei No. 8.078, de 11 de setembro de 1990), bem como o Decreto no 7.962/13, que dispõe sobre a contratação no comércio eletrônico, em favor de seus clientes, e tem como foco principal o cumprimento dessas regras. Portanto, se você verificar qualquer irregularidade praticada pelo prestador do produto ou serviço, em desconformidade com a oferta anunciada, sugerimos entrar em contato com a nossa Central de Atendimento do Consumidor nos telefones (51) 3013-9030, ou pelo e-mail contato@droplife.com.br. Nós estamos comprometidos a atuar perante as empresas parceiras para que cumpram integralmente a oferta, em favor do consumidor.
    <br> 
    <br>13. QUAIS SÃO OS DIREITOS ASSEGURADOS NO CÓDIGO DE DEFESA DO CONSUMIDOR?
    <br>O Código de Defesa do Consumidor (CDC) possui diversas regras que estabelecem os direitos e garantias do consumidor, tais como o direito à transparência e informação adequadas, a proteção contra oferta ou publicidade enganosa, proteção contra cláusulas abusivas, dentre outras. Caso deseje saber mais sobre seus direitos e como executá-los, recomendamos a leitura dessa lei, acessando aqui ou através do site oficial do governo brasileiro, ao site www.planalto.gov.br
    <br> 
    <br>14. COMPREI O PRODUTO E ME ARREPENDI, COMO DEVO PROCEDER?
    <br>Conforme prevê o Código de Defesa do Consumidor, nas hipóteses de compra à distância (tais como aquelas realizadas pela internet) as empresas precisam garantir ao consumidor o direito de arrependimento (desistência da compra), no caso de desistência da compra, pelo prazo mínimo de 07 (sete) dias contados da data da compra da oferta ou do recebimento do produto, conforme for o caso.
    <br>Essa regra é integralmente cumprida pelo Droplife para os casos de compra de produtos. Nessa hipótese, ao receber o produto em sua casa, o consumidor pode optar por devolvê-lo, com o respectivo cancelamento da compra, desde que manifeste a sua vontade em assim proceder dentro dos 07 (sete) dias subsequentes à data do recebimento do produto. Nesse caso, o consumidor precisará enviar, por correios, o produto, todos seus acessórios, documentos integrantes (tais como os manuais) e a respectiva embalagem, todos em perfeito estado, de volta ao endereço do parceiro (disponível no site da oferta no Droplife e também do voucher da compra, conforme já esclarecido nesta Política de Consumo). Esse envio gerará um comprovante dos correios, que deverá ser remetido pelo consumidor ao Droplife para que se processe o devido cancelamento da compra e a devolução dos valores pagos.
    <br>Os custos dos correios referentes ao frete reverso (para mandar o produto de volta) serão integralmente arcados pelo parceiro, bastando que o consumidor exiba o comprovante ao Droplife por ocasião da solicitação do cancelamento.
    <br>Se, porventura, você desejar cancelar a compra em razão de não recebimento do produto dentro do prazo estipulado na oferta, por favor, entre em contato conosco.
    <br>Se preferir, você pode sempre recorrer aos meios convencionais de nossa Central de Atendimento ao Consumidor, pelo telefone (51) 3013-9030.
    <br> 
    <br>15. O PRODUTO OU SERVIÇO QUE COMPREI ESTÁ COM DEFEITO (VÍCIO DE QUALIDADE OU QUANTIDADE). COMO DEVO PROCEDER?
    <br>Conforme esclarecido no item 14 acima, o Código de Defesa do Consumidor estabelece que os consumidores podem exercer seu direito de arrependimento em até 07 (sete) dias da data da compra (para serviços), ou do recebimento do produto.
    <br>No caso de compra de serviços, o Droplife aumenta este prazo para 15 dias.
    <br>Como regra geral, concedemos ao consumidor o direito de desistir de sua aquisição em até 15 (quinze) dias, contados da data da compra! Sendo assim, desde que você, obviamente, ainda não tenha usado total ou parcialmente os serviços contratados, você poderá cancelar essa compra em até 15 (quinze) dias após a data da compra, com a respectiva devolução do dinheiro na mesma forma de pagamento utilizada para a compra.
    <br>Mas esteja atento: em alguns casos, o Droplife poderá estabelecer nas regras da oferta um prazo mínimo de antecedência da data prevista para realização do serviço contratado para exercício do arrependimento pelo consumidor. Isto porque, em alguns casos, é necessário um tempo mínimo para que o cancelamento seja eficaz, sem prejuízo para as partes. É o caso, por exemplo, de alguns restaurantes, que precisam de pelo menos 24hs (vinte e quatro horas) de antecedência da data do agendamento para cancelar a respectiva reserva.
    <br>O prazo estimado para que você receba o reembolso da compra varia de acordo com a forma de pagamento utilizada. Para compras com cartão de crédito, por exemplo, o prazo para que o crédito conste em sua fatura é de até 40 (quarenta) dias, dependendo da regra adotada pela operadora do cartão de crédito. Para devoluções em dinheiro, prazo será de até 10 (dez) dias úteis. Em qualquer hipótese, o valor pago deverá ser devidamente corrigido.
    <br>Em alguns casos, mesmo transcorridos os 15 (quinze) dias concedidos pelo Droplife para exercício do arrependimento, o consumidor ainda poderá estornar a sua compra, desde que não tenha utilizado os serviços contratados total ou parcialmente. Nesse caso, o estorno será processado em créditos com o nosso parceiro PagSeguro, para serem utilizados em uma futura compra de quaisquer produtos ou serviços ofertados em nosso site ou ainda, solicitar o saque do valor para a sua conta bancária.
    <br>Esse tipo de cancelamento (para recebimento de estorno em créditos Droplife) poderá ser processado em até 30 (trinta) dias contados do encerramento do prazo limite para agendamento ou usufruto dos serviços adquiridos, salvo se nas regras da oferta contiver disposição diversa.
    <br>Vale ressaltar que o Droplife não estornará compras com NO SHOW. Ou seja, caso o consumidor tenha adquirido um serviço e não o tenha utilizado em razão de não comparecimento no momento agendado (quando se tratar de serviço com agendamento obrigatório), o Droplife não estornará essa compra.
    <br>E não é demais reforçar que o direito de arrependimento não se aplica quando o serviço já houver sido prestado, ainda que parcialmente.
    <br>Você pode fazer a solicitação de cancelamento através de nossa Central de Atendimento ao Consumidor, nos telefones (51) 3013-9030 ou pelo e-mail contato@droplife.com.br.
    <br> 
    <br>16. PRECISO CANCELAR UMA COMPRA. COMO DEVO PROCEDER?
    <br>Se o motivo do cancelamento de sua compra for o arrependimento, veja as regras aplicáveis nos itens 14 (para compra de produtos) ou 15 (para compra de serviços).
    <br>O pedido de cancelamento de compra também poderá acontecer pelos motivos a seguir:
    <br>a) Se o consumidor não conseguir contato com o Parceiro para agendar o serviço, desde a solicitação de cancelamento da compra seja realizada antes do vencimento do prazo estipulado nas regras da oferta para realizar agendamento.
    <br>b) Se o Parceiro não tiver mais nenhuma disponibilidade de data e horário para prestação do serviço, desde a solicitação de cancelamento da compra seja realizada antes do vencimento do prazo estipulado nas regras da oferta para realizar agendamento.
    <br>c) Se houver alteração do local ou forma da prestação dos serviços pelo Parceiro, desde a solicitação de cancelamento da compra seja realizada antes do vencimento do prazo estipulado nas regras da oferta para realizar agendamento ou para fruição dos serviços.
    <br>d) Se ocorrer a falência do Parceiro, desde a solicitação de cancelamento da compra seja realizada antes do vencimento do prazo estipulado nas regras da oferta para realizar agendamento ou para fruição dos serviços.
    <br>e) Se o consumidor, por qualquer motivo, não for elegível para a fruição da oferta, nas hipóteses nas quais a prestação do serviço ou fornecimento do produto pressupor que o consumidor preencha determinadas condições a serem verificadas posteriormente, conforme regras da oferta.
    <br>f) Não recebimento do produto no prazo de entrega prometido: a solicitação deve ocorrer depois de vencido o prazo de entrega previsto na oferta.
    <br> 
    <br>17. EM QUAIS HIPÓTESES NÃO É POSSÍVEL FAZER O CANCELAMENTO DA MINHA COMPRA?
    <br>Assim como Código de Defesa do Consumidor estabelece obrigações ao Droplife perante o consumidor, essa lei também reserva alguns direitos para a empresa, tais como o não cancelamento da compra em hipóteses específicas.
    <br>Dentre outras hipóteses, o Droplife não está obrigado a proceder com o cancelamento de sua compra:
    <br>a) Quando o consumidor deixar de observar as regras específicas da oferta ou desta Política de Consumo.
    <br>b) Quando o consumidor já tiver utilizado os serviços total ou parcialmente.
    <br>c) Quando terminar o prazo para uso dos serviços da oferta, sem que o consumidor tenha exercido o seu direito de fruição daquela compra.
    <br>d) Quando o fato impeditivo para fruição dos serviços se der única e exclusivamente por conta do consumidor (tais como a impossibilidade de locomoção à sede do Parceiro para fruição dos serviços).
    <br>e) Quando ainda não transcorrido o prazo para entrega do produto.
    <br>f) Quando o consumidor deixar de fornecer alguma informação essencial ou fornecer informação errada, necessária para que a sua compra seja devidamente satisfeita (tais como as informações de endereço completo para entrega de produto).
    <br>g) Quando o Parceiro não tiver a disponibilidade da data desejada pelo consumidor, mas tiver disponibilidade de outra data e horário para fruição dos serviços, desde que nas regras da oferta não conste a obrigação do Droplife e do Parceiro de fornecerem o serviço em uma determinada data específica.
    <br>h) Caso o consumidor encontre no mercado (fora do estabelecimento do Parceiro) produto ou serviço idêntico com preços inferiores ao da compra.
    <br>Leia sempre com muita atenção as regras das ofertas. Nelas constam todas as condições da compra, inclusive aquelas que podem, eventualmente, limitar os seus direitos.
    <br> 
    <br>18. O PRODUTO OU SERVIÇO QUE COMPREI ESTÁ COM DEFEITO (VÍCIO DE QUALIDADE OU QUANTIDADE). COMO DEVO PROCEDER?
    <br>Uma vez verificado o vício no produto ou serviço, o consumidor poderá comunicar diretamente a empresa que realizou a venda / prestação de serviço, nas informações sobre o parceiro disponíveis no voucher e também nas regras da oferta. Você também poderá consultar diretamente o Droplife, através de nossa Central de Atendimento do Consumidor no telefone (51) 3013-9030 ou pelo e-mail contato@droplife.com.br, para que nós possamos verificar a solução para você junto a empresa fornecedora, o mais breve possível.
    <br>O Droplife lembra que, de acordo com o que dispõe o Código de Defesa do Consumidor, se a questão não for resolvida em até 30 dias da data da comunicação, o consumidor tem direito a optar por uma das seguintes alternativas:
    <br>a) a substituição do produto por outro da mesma espécie, em perfeitas condições de uso;
    <br>b) a restituição imediata da quantia paga, monetariamente atualizada, sem prejuízo de eventuais perdas e danos;
    <br>c) o abatimento proporcional do preço
    <br> 
    <br>19. QUAL O PRAZO PARA RECLAMAR DO VÍCIO (QUALIDADE/ QUANTIDADE) DO PRODUTO?
    <br>Conforme determina o Código de Defesa do Consumidor, o consumidor tem garantido um prazo mínimo para reclamar dos defeitos juntamente ao estabelecimento comercial, contados da data da entrega do produto ou da prestação do serviço, a saber:
    <br>a) 30 dias, tratando-se de fornecimento de serviço e de produtos não duráveis;
    <br>b) 90 dias, tratando-se de fornecimento de serviço e de produtos duráveis.
    <br> 
    <br><strong>IV. POLÍTICA DE PRIVACIDADE</strong>
    <br> 
    <br>20. QUAL A PRIVACIDADE QUE TEREI EM REPASSAR MEUS DADOS AO DROPLIFE?
    <br>O Droplife informa que os dados pessoais dos consumidores são utilizados unicamente para fins de constituição, realização e execução do seu contrato de utilização e dos contratos de compra desejados.
    <br>Como não poderia deixar de ser, nossa política de privacidade abrange a transmissão dos seus dados aos Parceiros que veicularam a oferta objeto de sua compra em virtude de cumprimento de obrigação legal, tais como a emissão da respectiva nota fiscal, ou para viabilizar o o cumprimento do contrato da respectiva venda, tais como a entrega do produto.
    <br> 
    <br>21. O DROPLIFE UTILIZA-SE DE COOKIES PARA PERSONALIZAR MEUS PRÓXIMOS ACESSOS?
    <br>O Droplife pode utilizae-se de cookies em diferentes partes do site, unicamente visando tornar a visita mais atraente e possibilitar o uso de certas funções. Cookies, vale lembrar, são pequenos arquivos de texto que são armazenados em seu computador, que podem ser deletados a qualquer momento. Você pode impedir a instalação de cookies configurando seu navegador.
    <br> 
    <br>22. VOU RECEBER E-MAIL DO DROPLIFE?
    <br>O Droplife enviará ofertas baseadas no seu interesse e seu comportamento em nosso site. Esperamos ser o mais sutis possíveis, de forma a não incomodá-lo com spams desnecessários.
    <br> 
    <br>23. COMO FAÇO PARA CANCELAR O RECEBIMENTO DOS E-MAILS DO DROPLIFE?
    <br>O procedimento para cancelar o recebimento de e-mail é simples, bastando basta clicar ao final do e-mail de anúncios que você recebe.
    <br>Uma vez cancelada a autorização, você não mais receberá a comunicação via e-mail das ofertas ou demais experiências do Droplife, mas continuará apto a realizar compras no site.
    <br>Em caso de dúvidas ou dificuldades para cancelar o recebimento dos e-mails, você pode consultar nossa Central de Atendimento do Consumidor pelo telefone (51) 3013-9030 ou pelo e-mail contato@droplife.com.br, para que nós possamos verificar a solução para você o mais breve possível.
    <br> 
    <br>24. E SE A LEI EXIGIR A DISPONIBILIZAÇÃO DE DADOS A TERCEIROS?
    <br>O Droplife está sujeito ao atendimento de eventuais requisições de dados e informações que lhe sejam feitas pelas Autoridades Competentes, na forma da lei.
    <br>
    <br> 25. QUERO SABER MEUS DADOS CADASTRADOS NO DROPLIFE, COMO FAÇO?
    <br>O Droplife lhe assegura o direito à informação gratuita sobre seus dados armazenados, bem como, eventualmente o direito de proceder com a correção, bloqueio ou eliminação desses dados a qualquer momento.
    <br>Para tanto, basta consultar nossa Central de Atendimento do Consumidor pelo telefone (51) 3013-9030 ou pelo e-mail contato@droplife.com.br. 
    <br>
    <br>26. VI QUE TENHO DIVERSOS DIREITOS ASSEGURADOS, PORÉM, QUAIS SÃO MINHAS OBRIGAÇÕES PERANTE O DROPLIFE?
    <br>Como não poderia deixar de ser, o seu relacionamento com o Droplife lhe ressalva alguns direitos, mas também lhe impõe algumas obrigações, a saber:
    <br>a) DAS MODIFICAÇÕES AO PRESENTE TERMO: os termos desta Política de Consumo Droplife poderão sofrer adequações e alterações a qualquer tempo, as quais serão prontamente disponibilizadas pelo Droplife no site www.droplife.com.br, desde que essas alterações não violem as regras de proteção ao consumidor.
    <br>b) OBEDIÊNCIA AOS PRAZOS DAS OFERTAS: Já se viu que o produto e/ou serviço será ofertado através do site por um período determinado (Período de Oferta). Assim, você consumidor, somente terá direito à aquisição do produto/serviço durante esse período, mediante a efetuação do pagamento, conforme instruções indicadas no próprio site. Finalizado o prazo da oferta (ou na hipótese de venda de todos os cupons disponibilizados, conforme esclarecido), não será mais possível realizar a compra.
    <br> 
    <br>27. E NOS CASOS EM QUE CONSUMIDORES TENTAM BURLAR O DROPLIFE?
    <br>O Droplife adotará, incansavelmente, todas as medidas civis e criminais cabíveis na hipótese de detectar qualquer tentativa de terceiros de violar seus sistemas e/ou banco de dados.
    <br>Além disso, reforçamos a necessidade de obediência recíproca a esta Política de Consumo, de modo que, caso o consumidor desrespeite a legislação aplicável e/ou os compromissos por aqui assumidos, estará sujeito à suspensão e/ou cancelamento do cadastro, a qualquer tempo, definitiva ou temporariamente, sem prejuízo das demais penalidades aplicáveis, civil e criminalmente.
    <br> 
    <br>28. O DROPLIFE PODERÁ CANCELAR AUTOMATICAMENTE O MEU CADASTRO?
    <br>Sim. O Droplife poderá, visando à segurança de seus serviços, e a seu exclusivo critério, cancelar os cadastros de seus consumidores, sobretudo quando verificar a ocorrência de qualquer uma das seguintes hipóteses:
    <br>a) Verificação de cadastro duplicado;
    <br>b) Verificação de novo cadastro realizado por usuário que teve seu cadastro cancelado e/ou suspenso;
    <br>c) For constatada fraude ou tentativa de fraude;
    <br>d) Fornecimento de informações solicitadas incorretas e/ou inverídicas ou ainda se o usuário se negar a prestar eventuais informações essenciais solicitadas pelo Droplife para a segurança do cadastro.
    <br>Ressaltamos que o cancelamento de cadastro feito como penalidade pela ocorrência de qualquer uma das hipóteses acima não exclui a possibilidade de fazer os praticantes de atos ilícitos responderem civil e criminalmente pelas consequências de seus atos e/ou omissões.
    <br> 
    <br>29. COMO SE DÁ O RESPEITO À PROPRIEDADE INTELECTUAL DO DROPLIFE?
    <br>Os elementos e/ou ferramentas encontrados no site são de titularidade exclusiva ou licenciados pelo Droplife, sujeitos à proteção dos direitos de propriedade intelectual de acordo com as leis brasileiras e tratados e convenções internacionais dos quais o Brasil seja signatário. Apenas a título exemplificativo, entendem-se como tais: textos, softwares, scripts, imagens gráficas, fotos, sons, músicas, vídeos, recursos interativos e similares, marcas, logotipos e o trade dress.
    <br> 
    <br>30. QUEM PODE REALIZAR O CADASTRO NO DROPLIFE?
    <br>O consumidor, se pessoa física, deve ser maior de 18 anos, menor emancipado, ou possuir o consentimento legal, expresso e por escrito, dos pais ou responsável legal e ser plenamente capaz para se vincular a este termo de Política de Consumo Droplife, possibilitando o acatamento e cumprimento das suas disposições.
    <br>As pessoas jurídicas podem se cadastrar, normalmente, o que deve ser feito na figura do seu representante legal.
    <br>Advertimos que menores de idade não devem enviar informações pessoais, tais como endereço de e-mail, nome e/ou informação para contato ao Droplife.
    <br> 
    <br>31. HÁ ALGUMA OUTRA INFORMAÇÃO RELEVANTE QUE EU PRECISE SABER?
    <br>As políticas divulgadas pelo Droplife estabelecem o pleno e completo acordo e entendimento com os consumidores, sendo que a efetivação do cadastro supera e revoga todos e quaisquer entendimentos, propostas, acordos, negociações e discussões havidos anteriormente entre as partes.
    <br> 
    <br><strong>VI. LI E ENTENDI, MAS QUERO RECLAMAR</strong>
    <br> 
    <br>32. APESAR DAS DISPOSIÇÕES AQUI DESTACADAS, ME SINTO LESADO. COM QUEM POSSO RECLAMAR?
    <br>O Droplife possui Central de Atendimento do Consumidor pelo telefone (51) 3013-9030 ou pelo e-mail contato@droplife.com.br. Nossa equipe está orientada e treinada para te auxiliar. Portanto, toda reclamação, sugestão ou elogio é bem-vinda e servirá como forma de aperfeiçoar as nossas atividades.

    <!--#############################################################################################################-->

    </dl-box>
</section>

</body>

<!--##########################################################-->

<script type="text/javascript"
        src="../../scripts/javascript/entry-points/terms-of-use.js">
</script>

<!--##########################################################-->

</html>