@import "../../../libs/bourbon/app/assets/stylesheets/bourbon";
@import "../../../libs/neat/app/assets/stylesheets/neat";
@import "media-settings";

$text-color: #363633;
$title-color: #31425e;
$background-color: #fafafa;
$box-shadow-color: rgba(0, 0, 0, .1);

:first-child > .dl-box-header {
  margin-top: 0;
}

.dl-box-header {
  color: $text-color;
  background-color: $background-color;
  overflow: hidden;
  padding: 1.4em;
  margin-top: 1.4em;
  font-family: Lato;
  font-weight: 300;
  box-shadow: 1px 1px 1px $box-shadow-color;
  > .dl-box-title {
    margin-bottom: 0.25em;
    font-size: 1.9em;
    color: $title-color;
    font-family: Edo;
    font-weight: 800;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
    &+* {
      margin-top: 0;
    }
  }
}
