@import "../../../libs/bourbon/app/assets/stylesheets/bourbon";
@import "../../../libs/neat/app/assets/stylesheets/neat";
@import "media-settings";

$text-color: #fff;
$text-shadow: rgba(0, 0, 0, .2);
$background-color: #ed6627;
$box-shadow-color: #c95118;

dl-button {
  > .button-container {
    position: relative;
    min-height: 3.1em;
    margin: auto;
    text-align: left;
    > .button {
      position: absolute;
      cursor: pointer;
      color: $text-color;
      background-color: $background-color;
      box-shadow: 0 5px 0 $box-shadow-color;
      text-align: center;
      text-shadow: 0 2px 1px $text-shadow;
      font-weight: 400;
      padding: 1em;
      width: 100%;
      &:hover,
      &:active {
        background-color: lighten($background-color, 2%);
      }
      &:active {
        margin-top: 0.1em;
        padding-top: 0.9em;
        padding-bottom: 1.1em;
        box-shadow: 0 3px 0 $box-shadow-color;
      }
      > i {
        margin-right: 0.5em
      }
      @include border-top-radius(0.3em);
      @include border-bottom-radius(0.3em);
      @include border-left-radius(0.3em);
      @include border-right-radius(0.3em);
    }
  }
}