@import "../../../libs/bourbon/app/assets/stylesheets/bourbon";
@import "../../../libs/neat/app/assets/stylesheets/neat";
@import "media-settings";

.dl-comments-header {
  > .dl-comments-text {
    > i {
      font-size: em(10);
      vertical-align: super;
    }
  }
}
