@import "../../../libs/bourbon/app/assets/stylesheets/bourbon";
@import "../../../libs/neat/app/assets/stylesheets/neat";
@import "../common/media-settings";

$main-color: #efeded;

.main {
  position: relative;
  padding: 1.4em;
  background-color: $main-color;
  @include media($mobile) {
    padding: 0;
  }
}