@import "../../../libs/bourbon/app/assets/stylesheets/bourbon";
@import "../../../libs/neat/app/assets/stylesheets/neat";
@import "media-settings";

$social-color: #fff;

dl-footer {
  z-index: 1;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.social {
  width: 100%;
  padding: 1em;
  background-color: $social-color;
  font-size: em(14);
  > .fb-like > span {
    vertical-align: initial !important;
  }
}

iframe {
  height: 1.5em;
  width: 6.1em;
}