@import "../../../libs/bourbon/app/assets/stylesheets/bourbon";
@import "../../../libs/neat/app/assets/stylesheets/neat";
@import "media-settings";

$footer-color: #d2cece;
$footer-border-color: #bdb9b9;
$icon-color: #949494;
$payment-color: #fff;
$support-color: #efeded;
$link-color: #363633;
$box-shadow-color: rgba(0, 0, 0, 0.5);

dl-footer {
  position: relative;
  overflow: hidden;
  .payment {
    @include row();
    font-weight: 400;
    background-color: $payment-color;
    box-shadow: 1px 1px 2px $box-shadow-color;
    padding: 1em;
    @include media($mobile) {
      text-align: center;
    }
    .methods {
      @include span-columns(6);
      @include media($mobile) {
        @include span-columns(12);
      }
      font-size: 0.7em;
      > div {
        margin-left: 0.5em;
        @include media($mobile) {
          margin-left: 0;
        }
      }
      img {
        padding: 0.7em;
        width: 25em;
      }
    }
    .gateway {
      @include span-columns(6);
      @include media($mobile) {
        @include span-columns(12);
      }
      font-size: 0.6em;
      .pag-seguro {
        text-align: center;
        float: right;
        margin-right: 3.1em;
        @include media($mobile) {
          float: none;
          margin-right: 0;
        }
        img {
          padding: 0.2em;
          width: 11em;
        }
      }
    }
  }
  .footer {
    @include row();
    font-weight: 300;
    font-size: 0.8em;
    background-color: $footer-color;
    border-top: 1px solid $footer-border-color;
    @include media($mobile) {
      overflow: hidden;
    }
    .left-footer {
      @include span-columns(6);
      @include media($mobile) {
        @include span-columns(12);
      }
      .foundation {
        padding: 1em;
      }
    }
    .right-footer {
      @include span-columns(6);
      @include media($mobile) {
        @include span-columns(12);
      }
      > div {
        float: right;
        display: -webkit-box;
        display: flex;
        @include media($mobile) {
          width: 100%;
          float: left;
          display: block;
        }
        .social {
          width: 8em;
          margin-top: 1.6em;
          @include media($mobile) {
            width: 100%;
            margin: 0 0 1em 1em;
          }
          i {
            margin-right: 0.15em;
            font-size: 2.5em;
            color: $icon-color;
            &:hover {
              color: darken($icon-color, 10%);
            }
          }
        }
        .support {
          width: 15em;
          margin: -2.5em 1.5em 0 1em;
          padding: 1em;
          background-color: lighten($support-color, 5%);
          box-shadow: 1px 1px 2px $box-shadow-color;
          border-radius: 0.5em;
          @include media($mobile) {
            width: 100%;
            margin: 0;
            border-radius: 0;
          }
          > .title {
            font-weight: 400;
            margin-bottom: 0.5em;
            padding-bottom: 0.25em;
            border-bottom: 1px solid $support-color;
          }
        }
      }
    }
  }
  a {
    color: $link-color;
    &:hover {
      color: darken($link-color, 20%);
    }
  }
}