@import "../../../libs/bourbon/app/assets/stylesheets/bourbon";
@import "../../../libs/neat/app/assets/stylesheets/neat";
@import "../common/media-settings";

google-maps {
  > #map {
    height: 25em;
    @include media($tablet) {
      height: 20em;
    }
    @include media($mobile) {
      height: 15em;
    }
  }
}
