@import "../../../libs/bourbon/app/assets/stylesheets/bourbon";
@import "../../../libs/neat/app/assets/stylesheets/neat";
@import "media-settings";

$title-color: #31425e;

.dl-list-heading {
  font-family: Edo;
  font-weight: 600;
  color: $title-color;
}

.dl-list-subheading {
  margin: 0.25em 0.25em 0.25em 0.50em;
  > i {
    font-size: em(13);
    color: #aad755;
  }
}

.dl-list-item {
  margin: 0.25em 0.25em 0.25em 0.50em;
  > i {
    font-size: em(13);
  }
}
