@import "../../../libs/bourbon/app/assets/stylesheets/bourbon";
@import "../../../libs/neat/app/assets/stylesheets/neat";
@import "media-settings";

$nav-bar-color: #35373f;
$menu-color: #acb0c0;
$menu-anchor-shadow-color: rgba(0, 0, 0, 0.4);
$phone-background-color: rgba(0, 0, 0, 0.2);
$phone-border-color: rgba(255, 255, 255, 0.4);
$phone-link-color: #acb0c0;

.nav-bar-header {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  padding: 0.4em;
  height: 4.2em;
  .logo {
    position: absolute;
    margin: 0.2em;
  }
  .menu {
    position: absolute;
    display: inline-block;
    margin: 1.2em 0 0 12.5em;
    font-family: Lato;
    font-size: em(14);
    &.active {
      @include media($mobile) {
        display: block;
      }
    }
    @include media($mobile) {
      display: none;
      width: 100%;
      right: 0;
      padding: 0.4em;
      margin-top: 4.3em;
      background: lighten($nav-bar-color, 3%);
    }
    > a {
      margin-left: 0.5em;
      padding: 0.6em;
      color: $menu-color;
      &:hover {
        color: lighten($menu-color, 10%);
      }
      @include media($mobile) {
        display: block;
        padding: 0.4em;
        margin: 0;
      }
    }
  }
  .menu-anchor {
    display: none;
    float: right;
    cursor: pointer;
    font-size: 1.8em;
    margin: .3em .5em;
    color: $menu-color;
    text-shadow: 1px 1px 1px $menu-anchor-shadow-color;
    &:hover {
      color: lighten($menu-color, 10%);
    }
    @include media($mobile) {
      display: block;
    }
  }
  .phone {
    position: absolute;
    right: 0;
    background-color: $phone-background-color;
    border: 1px solid $phone-border-color;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.45em 1em;
    font-size: em(12);
    text-align: center;
    color: $phone-link-color;
    > a {
      color: $phone-link-color;
      &:hover {
        color: lighten($phone-link-color, 10%);
      }
    }
    @include media($mobile) {
      display: none;
    }
  }
  @include linear-gradient(center top, lighten($nav-bar-color, 10%), $nav-bar-color);
}