@import "../../../libs/bourbon/app/assets/stylesheets/bourbon";
@import "../../../libs/neat/app/assets/stylesheets/neat";
@import "media-settings";

$nav-bar-color: #35373f;
$menu-item-color: #acb0c0;

.nav-bar-header {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  padding: 0.4em;
  height: 4.2em;
  > .menu {
    margin: 0 1em;
    font-family: Lato;
    font-size: em(12);
    > a {
      > img {
        margin-top: 0.2em;
      }
    }
    > .itens {
      float: right;
      margin-top: 1em;
      @include media($mobile) {
        margin-left: 1em;
        width: 7.5em;
        > img {
          display: none;
        }
      }
      > img {
        vertical-align: middle;
      }
      > a {
        vertical-align: middle;
        color: $menu-item-color;
        &:hover {
          color: lighten($menu-item-color, 10%);
        }
      }
    }
  }
  @include linear-gradient(center top, lighten($nav-bar-color, 10%), $nav-bar-color);
}