@import "../../../libs/bourbon/app/assets/stylesheets/bourbon";
@import "../../../libs/neat/app/assets/stylesheets/neat";
@import "card";
@import "media-settings";

$card-color: #fff;
$card-shadow: rgba(0, 0, 0, 0.1);

.cards {
  @include row();
  margin-top: flex-gutter($grid-columns);
  @include media($mobile) {
    margin-top: 0;
  }
  &:first-child {
    margin-top: 0;
  }
}

dl-product-card {
  @include span-columns(4);
  @include media($mobile) {
    @include span-columns(12);
  }
  border: 1px solid $card-color;
  background-color: $card-color;
  box-shadow: 1px 1px 1px $card-shadow;
  &:hover {
    border-color: darken($card-color, 3%);
    background-color: darken($card-color, 3%);
    cursor: pointer;
  }
  > .card {
    > img {
      @include image-rendering(optimizeSpeed);
      width: 100%;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}