@import "../../../libs/bourbon/app/assets/stylesheets/bourbon";
@import "../../../libs/neat/app/assets/stylesheets/neat";

@font-face {
  font-family: 'Edo';
  src: url('../../fonts/edo-regular/edo-webfont.eot');
  src: url('../../fonts/edo-regular/edo-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/edo-regular/edo-webfont.woff') format('woff'),
  url('../../fonts/edo-regular/edo-webfont.ttf') format('truetype'),
  url('../../fonts/edo-regular/edo-webfont.svg#edoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Lato;
}

a {
  text-decoration: none;
}