$hr-color: #e2e2e2;
$link-color: #ed6627;

body {
  font-family: Lato;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $link-color;
  &:hover {
    color: darken($link-color, 7%);
  }
}

hr {
  border: none;
  background-color: $hr-color;
  margin: 0.75em 0 0.75em 0;
  height: 1px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.offset {
  padding: 0.5em;
  display: inline;
}