<link rel="import" href="../../libs/polymer/polymer.html"/>

<polymer-element name="blueimp-gallery" attributes="path numberSlides description">
    <template>
        <div id="gallery"
             class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls">
            <div class="slides"></div>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <ol class="indicator"></ol>
        </div>
    </template>

    <!--######################################################################################-->

    <script>
        Polymer("blueimp-gallery", {
            ready: function () {
                this.init(this);
            },
            init: function (context) {
                var gallery = blueimp.Gallery(context.images(context), context.options(context));
                gallery.slides.forEach(function (slide) {
                    slide.children[0].setAttribute("alt", context.description);
                });
            },
            images: function (context) {
                var images = [];
                for (var index = 1; index <= Number(context.numberSlides); index++) {
                    images.push({
                        href: context.fullPath(context, index),
                        thumbnail: context.fullPath(context, index, "thumb")
                    });
                }
                return images;
            },
            options: function (context) {
                return {
                    container: context.$.gallery,
                    carousel: true,
                    slideshowInterval: 5000
                };
            },
            fullPath: function (context, index, prefix) {
                var fullPath = context.path;
                var name = fullPath.substring(fullPath.lastIndexOf("/") + 1);
                fullPath += "/";
                if (prefix) {
                    fullPath += prefix;
                    fullPath += "-";
                }
                fullPath += name;
                fullPath += "-";
                fullPath += index;
                fullPath += ".jpg";
                return fullPath;
            }
        });
    </script>
</polymer-element>