<link rel="import" href="../../libs/polymer/polymer.html"/>

<!-- ClickTale Top part -->
<script type="text/javascript">
    var WRInitTime = (new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<polymer-element name="click-tale" noscript>
    <!-- ClickTale Bottom part -->

    <script type='text/javascript'>
        // The ClickTale Balkan Tracking Code may be programmatically customized using hooks:
        //
        //   function ClickTalePreRecordingHook() { /* place your customized code here */  }
        //
        // For details about ClickTale hooks, please consult the wiki page http://wiki.clicktale.com/Article/Customizing_code_version_2

        document.write(unescape("%3Cscript%20src='" +
                (document.location.protocol == 'https:' ?
                        "https://clicktalecdn.sslcs.cdngc.net/www02/ptc/dfef5bc2-98e7-40f0-9739-ca9d0b383c95.js" :
                        "http://cdn.clicktale.net/www02/ptc/dfef5bc2-98e7-40f0-9739-ca9d0b383c95.js") + "'%20type='text/javascript'%3E%3C/script%3E"));
    </script>

    <!-- ClickTale end of Bottom part -->
</polymer-element>