<link rel="import" href="../../libs/polymer/polymer.html"/>

<polymer-element name="dl-button-pag-seguro" attributes="code">
    <template>
        <!--####################################################################################-->

        <input id="checkTermsOfUse"
               type="checkbox"/>

        <a id="linkTermsOfUse">Li e aceito os termos de uso</a>

        <!--####################################################################################-->

        <form target="pagSeguro"
              action="https://pagseguro.uol.com.br/checkout/v2/payment.html"
              method="post">

            <!--################################################################################-->

            <input type="hidden"
                   name="code"
                   value="{{code}}"/>

            <!--################################################################################-->

            <div class="button-container">
                <input id="buttonBuyNow"
                       type="submit"
                       name="submit"
                       class="button"
                       alt="Pague com PagSeguro - é rápido, grátis e seguro!"
                       value="COMPRAR AGORA"
                       disabled="disabled"/>
            </div>

            <!--################################################################################-->

            <div class="payWith">
                <span>Pague com</span>
                <img src="../../images/pag-seguro.png"
                     alt="Pague com PagSeguro - é rápido, grátis e seguro!"/>
            </div>

            <!--################################################################################-->

        </form>

        <!--####################################################################################-->
    </template>

    <!--########################################################################################-->

    <script>
        var self;
        Polymer("dl-button-pag-seguro", {
            ready: function() {
                self = this;
                self.$.checkTermsOfUse.addEventListener('click', this.acceptTermsOfUse);
                self.$.linkTermsOfUse.addEventListener('click', this.readTermsOfUse);
                self.$.buttonBuyNow.addEventListener('click', this.buyNow);
            },
            readTermsOfUse: function(event) {
                self.openWindow("terms-of-use.html", "terms-of-use");
            },
            acceptTermsOfUse: function(event) {
                if (event.target.checked) {
                    self.$.buttonBuyNow.removeAttribute("disabled");
                } else {
                    self.$.buttonBuyNow.setAttribute("disabled", "disabled");
                }
            },
            buyNow: function(event) {
                if (!event.target.getAttribute("disabled")) {
                    self.openWindow("", "pagSeguro");
                }
            },
            openWindow: function(url, target) {
                window.open(url, target, "toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no");
            }
        });
    </script>
</polymer-element>