<link rel="import" href="../../libs/polymer/polymer.html"/>

<polymer-element name="dl-button-pag-seguro" attributes="itemCode" noscript>
    <template>
        <!--####################################################################################-->

        <form action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post">
            <input type="hidden"
                   name="itemCode"
                   value="{{itemCode}}"/>

            <!--################################################################################-->

            <div class="button-container">
                <input type="submit"
                       name="submit"
                       class="button"
                       alt="Pague com PagSeguro - é rápido, grátis e seguro!"
                       value="COMPRAR AGORA"/>
            </div>

            <!--################################################################################-->

            <img src="../../images/pag-seguro.png"
                 alt="Pague com PagSeguro - é rápido, grátis e seguro!"/>
        </form>

        <!--####################################################################################-->
    </template>
</polymer-element>