<link rel="import" href="../../libs/polymer/polymer.html"/>
<link rel="import" href="dl-alert.html"/>

<polymer-element name="dl-button-pag-seguro" attributes="code">
    <template>
        <!--####################################################################################-->

        <input id="checkTermsOfUse"
               type="checkbox"/>

        <label for="checkTermsOfUse">Li e aceito os</label> <a id="linkTermsOfUse">termos de uso</a>

        <!--####################################################################################-->

        <form id="formPagSeguro"
              target="pagSeguro"
              action="https://pagseguro.uol.com.br/checkout/v2/payment.html"
              method="post">

            <!--################################################################################-->

            <input type="hidden"
                   name="code"
                   value="{{code}}"/>

            <!--################################################################################-->

            <dl-alert id="alertTermsOfUse"
                      style="display: none;"
                      type="warn">
                Você precisa concordar com os termos de uso
            </dl-alert>

            <div class="button-container">
                <input type="submit"
                       name="submit"
                       class="button"
                       value="COMPRAR AGORA"/>
            </div>

            <!--################################################################################-->

            <div class="payment-methods">
                <img src="../../images/payment-methods.png"
                     alt="Formas de Pagamento"/>
            </div>

            <!--################################################################################-->

        </form>

        <!--####################################################################################-->
    </template>

    <!--########################################################################################-->

    <script>
        Polymer("dl-button-pag-seguro", {
            ready: function() {
                var self = this;
                self.$.linkTermsOfUse.addEventListener('click', function() {
                    self.readTermsOfUse(self);
                });
                self.$.formPagSeguro.addEventListener('submit', function(event) {
                    self.buyNow(self, event);
                });
            },
            readTermsOfUse: function(context) {
                context.openWindow("terms-of-use.html", "terms-of-use");
            },
            buyNow: function(context, event) {
                if (context.$.checkTermsOfUse.checked) {
                    context.$.alertTermsOfUse.style.display = "none";
                    context.openWindow("", "pagSeguro");
                } else {
                    context.$.checkTermsOfUse.focus();
                    context.$.alertTermsOfUse.style.display = "block";
                    event.preventDefault();
                }
            },
            openWindow: function(url, target) {
                window.open(url, target, "toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no");
            }
        });
    </script>
</polymer-element>