<link rel="import" href="../../libs/polymer/polymer.html">

<polymer-element name="dl-box" attributes="name iconClass" noscript>
    <template>
        <div class="dl-box-header">

            <!--######################################################################-->

            <template if="{{name}}">
                <div class="dl-box-title"><i class="fa {{iconClass}}"></i> {{name}}</div>
            </template>

            <content></content>

            <!--######################################################################-->

        </div>
    </template>
</polymer-element>
