<link rel="import" href="../../libs/polymer/polymer.html"/>
<link rel="import" href="gplus-button.html"/>
<link rel="import" href="facebook-button.html"/>

<polymer-element name="dl-footer">
    <template>

        <content></content>

        <footer class="footer">

            <!--##################################################################################-->

            <script type="text/javascript">
                setTimeout(function () {
                    var a = document.createElement("script");
                    var b = document.getElementsByTagName("script")[0];
                    a.src = document.location.protocol + "//dnn506yrbagrg.cloudfront.net/pages/scripts/0021/5320.js?" + Math.floor(new Date().getTime() / 3600000);
                    a.async = true;
                    a.type = "text/javascript";
                    b.parentNode.insertBefore(a, b)
                }, 1);
            </script>

            <!--##################################################################################-->

            <div class="left-footer">
                <div class="foundation">
                    Feito com paixão pela
                    <strong><a href="http://grouplighthouse.com/" target="_blank">Lighthouse</a></strong>.<br>
                    Av. Borges de Medeiros, 2500, Praia de Belas Prime Offices, Sala 1909<br>
                    Porto Alegre, RS, CEP 90110-150
                </div>
            </div>

            <!--##################################################################################-->

            <div class="right-footer">
                <div>

                    <!--##########################################################################-->

                    <div class="social">
                        <a href="https://www.facebook.com/droplifers" target="_blank">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                        <a href="https://plus.google.com/+DroplifeBrasil" target="_blank">
                            <i class="fa fa-google-plus-square"></i>
                        </a>
                    </div>

                    <!--##########################################################################-->

                    <div class="support">
                        <div class="title">
                            <i class="fa fa-user"></i> Atendimento ao Cliente
                        </div>
                        <div>
                            <a id="phone">
                                <i class="fa fa-phone"></i> +55 (51) 3013 9030
                            </a>
                        </div>
                        <div>
                            <a id="mail">
                                <i class="fa fa-envelope-o"></i> contato@droplife.com.br
                            </a>
                        </div>
                    </div>

                    <!--##########################################################################-->

                </div>
            </div>

            <!--##################################################################################-->

        </footer>

    </template>

    <script>
        Polymer("dl-footer", {
            ready: function () {
                this.$.phone.href = "tel:555130139030";
                this.$.mail.href = "mailto:contato@droplife.com.br";
            }
        });
    </script>
</polymer-element>