<link rel="import" href="../../libs/polymer/polymer.html"/>
<link rel="import" href="gplus-button.html"/>
<link rel="import" href="facebook-button.html"/>

<polymer-element name="dl-footer" noscript lightdom>
    <template>
        <footer class="footer">

            <!--#################################-->

            <div class="social">
                <facebook-button></facebook-button>
                <gplus-button></gplus-button>
            </div>

            <!--#################################-->

        </footer>
    </template>
</polymer-element>