<link rel="import" href="../../libs/polymer/polymer.html"/>

<polymer-element name="dl-list" attributes="iconHeadingClass iconItemClass">
    <template>
        <!--######################################################################################-->

        <div id="targetHeading"></div>
        <div id="targetItems"></div>

        <content id="contentHeading" select="heading"></content>
        <content id="contentItems" select="item"></content>

        <!--######################################################################################-->
    </template>

    <script>
        Polymer("dl-list", {
            ready: function () {
                this.createElement({
                    target: this.$.targetHeading,
                    content: this.$.contentHeading,
                    styleClass: "dl-list-heading",
                    iconClass: this.iconHeadingClass
                });

                this.createElement({
                    target: this.$.targetItems,
                    content: this.$.contentItems,
                    styleClass: "dl-list-item",
                    iconClass: this.iconItemClass
                });
            },
            createElement: function(options) {
                options.content.getDistributedNodes().forEach(function (node) {
                    var div = document.createElement("div");
                    div.className = options.styleClass;

                    var icon = document.createElement("i");
                    icon.className = "fa " + options.iconClass;

                    div.appendChild(icon);
                    div.innerHTML += " " + node.innerHTML;

                    options.target.appendChild(div);
                });
                options.content.parentNode.removeChild(options.content);
            }
        });
    </script>
</polymer-element>