<link rel="import" href="../../libs/polymer/polymer.html"/>

<polymer-element name="dl-list" attributes="iconHeadingClass iconSubHeadingClass iconItemClass">
    <template>
        <!--######################################################################################-->

        <template repeat="{{ heading in headings }}">
            <div class="dl-list-heading"><i class="fa {{iconHeadingClass}}"></i> {{heading}}</div>
        </template>

        <template repeat="{{ subheading in subheadings }}">
            <div class="dl-list-subheading"><i class="fa {{iconSubHeadingClass}}"></i><strong>{{subheading}}</strong></div>
        </template>

        <template repeat="{{ item in items }}">
            <div class="dl-list-item"><i class="fa {{iconItemClass}}"></i> {{item}}</div>
        </template>

        <content id="contentHeading" select="heading"></content>
        <content id="contentSubHeading" select="subheading"></content>
        <content id="contentItems" select="item"></content>

        <!--######################################################################################-->
    </template>

    <script>
        Polymer("dl-list", {
            enteredView: function (){
                var toHtml = function(node){
                    return " " + node.innerHTML;
                }

                this.headings = this.$.contentHeading.getDistributedNodes().map(toHtml);
                this.subheadings = this.$.contentSubHeading.getDistributedNodes().map(toHtml);
                this.items = this.$.contentItems.getDistributedNodes().map(toHtml);

                this.$.contentHeading.parentNode.removeChild(this.$.contentHeading);
                this.$.contentSubHeading.parentNode.removeChild(this.$.contentSubHeading);
                this.$.contentItems.parentNode.removeChild(this.$.contentItems);
            }
        });
    </script>
</polymer-element>
