<link rel="import" href="../../libs/polymer/polymer.html">

<polymer-element name="dl-nav-bar">
    <template>
        <nav class="nav-bar-header">

            <!--#############################################-->

            <a class="logo" href="../html/index.html">
                <img src="../../images/logo-top.png"
                     alt="Droplife"/>
            </a>

            <!--#############################################-->

            <div class="menu">

                <!--#########################################-->

                <a href="../html/experiences.html">
                    <i class="fa fa-plus"></i> MAIS EXPERIÊNCIAS
                </a>

                <!--#########################################-->

                <a href="../html/for-business.html">
                    <i class="fa fa-group"></i> PARA EMPRESAS
                </a>

                <!--#########################################-->

                <a href="../html/about.html">
                    <i class="fa fa-info-circle"></i> SAIBA MAIS
                </a>

                <!--#########################################-->

            </div>

            <!--#############################################-->

            <div class="menu-anchor">
                <i class="fa fa-bars"></i>
            </div>

            <!--#############################################-->

            <div class="phone">
                <span>Fale Conosco:</span>
                <a id="phone">
                    +55 (51) 3013 9030
                </a>
                <div>De segunda a sexta, das 10h às 18h</div>
            </div>

            <!--#############################################-->

        </nav>
    </template>

    <script>
        Polymer("dl-nav-bar", {
            ready: function () {
                this.$.phone.href = "tel:555130139030";
            }
        });
    </script>
</polymer-element>
