<link rel="import" href="../../libs/polymer/polymer.html">

<polymer-element name="dl-nav-bar" noscript>
    <template>
        <nav class="nav-bar-header">

            <!--#########################################-->

            <div class="menu">

                <!--#####################################-->

                <a href="index.html">
                    <img src="../../images/logo-top.png"/>
                </a>

                <!--#####################################-->

                <div class="itens">
                    <a href="experiences.html">
                        EXPERIÊNCIAS
                    </a>

                    <a href="about.html">
                        SOBRE NÓS
                    </a>
                </div>

                <!--#####################################-->

            </div>

            <!--#########################################-->

        </nav>
    </template>
</polymer-element>