<link rel="import" href="../../libs/polymer/polymer.html">

<polymer-element name="dl-product-banner" attributes="image caption titleFirstRow titleSecondRow" noscript>
    <template>
        <!--#############################################################-->

        <img src="{{image}}"/>

        <!--#############################################################-->


        <div class="info">
            <div class="caption">{{caption}}</div>
            <div class="title">{{titleFirstRow}}<br>{{titleSecondRow}}</div>
        </div>

        <!--#############################################################-->
    </template>
</polymer-element>