<link rel="import" href="../../libs/polymer/polymer.html">

<polymer-element name="dl-product-card" attributes="image event price location url" noscript>
    <template>
        <div class="card" onclick="window.location.href = '{{url}}'">

            <!--###########################################################################-->

            <img src="{{image}}" alt=""/>

            <!--###########################################################################-->

            <div class="card-event">{{event}}
                <div class="card-price">{{price}}</div>
                <div class="card-location"><i class="fa fa-map-marker"></i> {{location}}</div>
            </div>

            <!--###########################################################################-->

        </div>
    </template>
</polymer-element>