<link rel="import" href="../../libs/polymer/polymer.html">

<polymer-element name="dl-product-card" attributes="image event price location url" on-click="detailProduct">
    <template>
        <div class="card">

            <!--###########################################################################-->

            <img src="{{image}}" alt=""/>

            <!--###########################################################################-->

            <div class="card-event">{{event}}
                <div class="card-price">{{price}}</div>
                <div class="card-location"><i class="fa fa-map-marker"></i> {{location}}</div>
            </div>

            <!--###########################################################################-->

        </div>
    </template>

    <script>
        Polymer("dl-product-card", {
            detailProduct: function () {
                var urls = this.url.split(",");
                var min = 0;
                var max = urls.length - 1;
                var index = Math.floor(Math.random() * (max - min + 1)) + min;
                window.location.href = urls[index];
            }
        });
    </script>
</polymer-element>