<link rel="import" href="../../libs/polymer/polymer.html">
<link rel="import" href="dl-box.html">
<link rel="import" href="dl-list.html">


<polymer-element name="dl-quality" noscript>
    <template>

        <dl-box name="Qualidade Droplife" iconClass="fa-heart">

            <dl-list iconSubHeadingClass="fa-check">
                <subheading>Curadoria de Produtos</subheading>
            </dl-list>
            <p>O Droplife preza pela qualidade e segurança acima de tudo. Por isso trabalhamos apenas com os melhores
                parceiros de cada segmento a fim de proporcionar as melhores experiências.</p>

            <hr>

            <dl-list iconSubHeadingClass="fa-check">
                <subheading>Facilidade e Segurança no Pagamento</subheading>
            </dl-list>
            <p>Para garantir o pagamento utilizamos o maior e mais seguro gateway de pagamento do Brasil, e o melhor:
                com a facilidade de poder parcelar em até 10x.</p>

            <hr>

            <dl-list iconSubHeadingClass="fa-check">
                <subheading>Atendimento Ágil</subheading>
            </dl-list>
            <p>O Droplife oferece várias formas de contato. Seja por telefone ou por Chat, das 10h às 18h ou Facebook e
                email 24h por dia.</p>

        </dl-box>

    </template>
</polymer-element>
