<link rel="import" href="../../libs/polymer/polymer.html">
<link rel="import" href="dl-box.html">
<link rel="import" href="dl-list.html">


<polymer-element name="dl-quality" noscript>
    <template>

        <dl-box name="Qualidade Droplife" iconClass="fa-heart">

            <br>

            <dl-list iconSubHeadingClass="fa-check">
                <subheading>Curadoria de experiências</subheading>
            </dl-list>
                Selecionamos os melhores parceiros de cada segmento, através de extensivas pesquisas de mercado.
                Continuamos coletando opiniões de nossos clientes para trazer sempre a melhor experiência.

            <hr>

            <dl-list iconSubHeadingClass="fa-check">
                <subheading>Facilidade e segurança no pagamento</subheading>
            </dl-list>
                Escolha entre diversos meios de pagamento e parcelamento em até 18x no cartão de crédito.
                Utilizamos o maior e mais seguro parceiro de pagamentos online do Brasil.

            <hr>

            <dl-list iconSubHeadingClass="fa-check">
                <subheading>Atendimento fácil e personalizado</subheading>
            </dl-list>
                Oferecemos várias formas de contato. Seja por telefone, chat ao vivo no site oficial, facebook ou email,
                entre 10h e 18h, estamos prontos para atendê-lo da melhor maneira possível.

        </dl-box>

    </template>
</polymer-element>
