<link rel="import" href="../../libs/polymer/polymer.html">

<polymer-element name="dl-section-bar" attributes="image name" noscript>
    <template>
        <div id="section" class="dl-section-bar-header">

            <!--###########################################-->

            <span class="dl-section-bar-title">{{name}}</span>

            <!--###########################################-->

            <img src="{{image}}" alt=""/>

            <!--###########################################-->

        </div>
    </template>
</polymer-element>