<link rel="import" href="../../libs/polymer/polymer.html">

<polymer-element name="dl-section-bar" attributes="image" noscript>
    <template>
        <div class="dl-section-bar-header">

            <!--###########################################-->

            <span class="dl-section-bar-title">
                <content></content>
            </span>

            <!--###########################################-->

            <img src="{{image}}" alt=""/>

            <!--###########################################-->

        </div>
    </template>
</polymer-element>