<link rel="import" href="../../libs/polymer/polymer.html"/>

<polymer-element name="user-report" noscript>
    <script type="text/javascript">
        var _urq = _urq || [];
        _urq.push(['initSite', 'a4a67590-451d-4959-ae72-8182a0c3efdd']);
        (function () {
            var ur = document.createElement('script');
            ur.type = 'text/javascript';
            ur.async = true;
            ur.src = ('https:' == document.location.protocol ? 'https://cdn.userreport.com/userreport.js' : 'http://cdn.userreport.com/userreport.js');
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ur, s);
        })();
    </script>
</polymer-element>